<script src="{{public_address}}/assets/js/bootstrap-select.min.js"></script>
<link rel="stylesheet" href="{{public_address}}/assets/css/bootstrap-select.min.css" />

<div class="row mt-4">
  <div class="col-md-6 mx-auto">
    <form method="post" action="{{public_address}}/volunteers/invite">
      <div class="row mb-2">
        <div class="col">
          <input type="text" class="form-control" name="first_name" placeholder="First name" required>
        </div>
        <div class="col">
          <input type="text" class="form-control" name="last_name" placeholder="Last name" required>
        </div>
      </div>

      <input type="text" name="email" class="form-control mb-2" placeholder="Email Address" required />

      <div class="row-fluid mb-2">
        <select class="selectpicker show-tick form-control" title="Assign one or more staff co-ordinators" name="assignedCoordinators" data-style="btn-info" data-size="auto" data-header="Assign one or more staff co-ordinators" data-live-search="true" multiple required />

          <option value="{{user.id}}" selected disabled>{{user.first_name}} {{user.last_name}}</option>

          {{#each coordinators}}
            {{#ifCond id '!=' ../user.id}}
              <option value="{{id}}" {{#if (lookupArray ../assignedCoordinators id)}}selected{{/if}}>{{first_name}} {{last_name}}</option>
            {{/ifCond}}
          {{/each}}


        </select>
      </div>

      <div class="row-fluid mb-2">
        <select class="selectpicker volunteer-roles show-tick form-control" name="roles" title="Select one or more roles" data-style="btn-info" data-size="auto" data-header="Select one or more roles" data-live-search="true" multiple required />
          <option value={{defaultFoodCollectorRole.role_id}} selected disabled>{{defaultFoodCollectorRole.details.title}}</option>
        </select>
      </div>


      <div class="row-fluid mb-2">
        {{>food-collections/organisations/select}}
      </div>


      <button class="btn btn-success btn-block mt-4">Send Invite Link</button>
    </form>
  </div>
</div>
