<script src="{{public_address}}/assets/js/bootstrap-select.min.js"></script>
<link rel="stylesheet" href="{{public_address}}/assets/css/bootstrap-select.min.css" />

<div class="row mt-4">
  <div class="col-md-6 mx-auto">
    <form method="post" action="{{public_address}}/volunteers/invite">
      <div class="row mb-2">
        <div class="col">
          <input type="text" class="form-control" name="first_name" placeholder="First name" required>
        </div>
        <div class="col">
          <input type="text" class="form-control" name="last_name" placeholder="Last name" required>
        </div>
      </div>

      <input type="text" name="email" class="form-control mb-2" placeholder="Email Address" required />

      <div class="row-fluid mb-2">
        <select class="selectpicker show-tick form-control" title="Assign one or more staff co-ordinators" name="assignedCoordinators" data-style="btn-info" data-size="auto" data-header="Assign one or more staff co-ordinators" data-live-search="true" multiple required />

          {{#each coordinators}}
              <option value="{{id}}" {{#if (lookupArray ../assignedCoordinators id)}}selected{{/if}}>{{first_name}} {{last_name}}</option>
          {{/each}}

        </select>
      </div>

      <div class="row-fluid mb-2">
        <select class="selectpicker volunteer-roles show-tick form-control" name="roles" title="Select one or more roles" data-style="btn-info" data-size="auto" data-header="Select one or more roles" data-live-search="true" multiple required />


            <optgroup id="na_optgroup" label="SHRUB-wide">
              {{#each (lookup roles "na")}}
                <option value="{{role_id}}"
                {{#if (lookupArray ../roles role_id)}}
                  selected
                {{else}}
                  {{#ifUserClass ../user.class '["volunteer"]'}}disabled{{/ifUserClass}}
                {{/if}}

                >{{details.title}}</option>
              {{else}}
                <option disabled>This group has no roles.</option>
              {{/each}}
            </optgroup>

            {{#each user.allWorkingGroupsObj}}
              <optgroup id="{{group_id}}_optgroup" label="{{name}}">
                {{#each (lookup ../roles group_id)}}
                  <option value="{{role_id}}"
                  {{#if (lookupArray ../../roles role_id)}}
                    selected
                  {{else}}
                    {{#ifUserClass ../../user.class '["volunteer", "staff"]'}}
                      {{#unless (lookupArray ../../user.working_groups group_id)}}
                        disabled
                      {{/unless}}
                    {{/ifUserClass}}
                  {{/if}}
                  >{{details.title}}</option>
                {{else}}
                  <option disabled>This group has no roles.</option>
                {{/each}}
              </optgroup>
            {{/each}}


        </select>
      </div>

      <button class="btn btn-success btn-block mt-4">Send Invite Link</button>
    </form>
  </div>
</div>
