<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>

<div class="row mt-4 ml-1">
  <div class="col-md-12">
    <div class="row">
      {{#ifCond user.permissions.volunteers.view '==' true}}
        {{>working-groups/select myVolunteers=true selectedGroup=group.group_id id="working_groups" user=user path="/volunteers/manage/?group_id="}}
      {{else}}
        {{#ifCond user.permissions.volunteers.view '==' "commonWorkingGroup"}}
          {{>working-groups/select myVolunteers=true selectedGroup=group.group_id allGroups=false id="working_groups" user=user path="/volunteers/manage/?group_id="}}
        {{/ifCond}}
      {{/ifCond}}
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">

    <table class="fadeIn table-light" data-pagination="true" data-search="true" data-striped="true" data-toggle="table" style="border: none !important;">
      <thead>
        <th data-sortable="true">Name</th>
        <th>Roles</th>
        <th data-sortable="true">Volunteering</th>
        <th data-sortable="true">Check-ins</th>
        <th></th>
      </thead>
      <tbody>
        {{#each volunteers}}
          {{#ifCond ../volunteerStatus '==' 'all'}}
            {{>volunteers/manage allRoles=../roles user=../user volunteerStatus=../volunteerStatus}}
          {{/ifCond}}

          {{#ifCond ../volunteerStatus '==' 'active'}}
            {{#if active}}
              {{>volunteers/manage allRoles=../roles user=../user volunteerStatus=../volunteerStatus}}
            {{/if}}
          {{/ifCond}}

          {{#ifCond ../volunteerStatus '==' 'inactive'}}
            {{#unless active}}
              {{>volunteers/manage allRoles=../roles user=../user volunteerStatus=../volunteerStatus}}
            {{/unless}}
          {{/ifCond}}

        {{/each}}
      </tbody>
    </table>

  </div>
</div>


<div class="modal fade" id="removeVolunteerModal" tabindex="-1" role="dialog" aria-labelledby="removeVolunteerModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="removeVolunteerModalLabel">Remove Volunteer</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div id="removeDialogErrorBox" class="alert alert-danger alert-dismissible d-none fade show" role="alert">
          <span id="removeDialogErrorMessage"></span>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div id="removeDialogSuccessBox" class="alert alert-success alert-dismissible d-none fade show" role="alert">
          <span id="removeDialogSuccessMessage"></span>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div id="removeVolunteerSummary" class="p-3"></div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" id="removeVolunteerBtn">Remove Volunteer</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<script>

var allWorkingGroups = {{{json user.allWorkingGroupsObj}}}
var allRoles = {{{json roles}}}
var currentGroup = "{{group.group_id}}"

$('#working_groups').on('change', function () {
  var url = "{{public_address}}/volunteers/manage?group_id=" + $("#working_groups").val();
  window.location = url;
});

function openRemoveVolunteerDialog(member_id, name, roles, old_working_groups) {

  var parentDiv = document.getElementById("removeVolunteerSummary");
  parentDiv.innerHTML = "";

  var rolesToRemoveCaption = document.createElement("p");
  rolesToRemoveCaption.innerText = name + " will be removed from the following role(s):"
  var rolesToRemoveList = document.createElement("ul");

  var rolesFound = [];

  roles.forEach(function(role, roleIndex){
    if(allRoles[role].group_id == currentGroup){
      rolesFound.push(allRoles[role]);
      var roleToRemove = document.createElement("li");
      roleToRemove.innerText = allRoles[role].details.title;
      rolesToRemoveList.appendChild(roleToRemove);
    }
  })

  if(rolesFound.length > 0){
    parentDiv.appendChild(rolesToRemoveCaption);
    parentDiv.appendChild(rolesToRemoveList);
  } else {
    rolesToRemoveCaption.className = "text-muted font-italic"
    rolesToRemoveCaption.innerText = "No roles to remove."
    parentDiv.appendChild(rolesToRemoveCaption);
  }

  if(old_working_groups.includes(currentGroup)){
    var workingGroupsToRemoveCaption = document.createElement("p");
    if(rolesFound.length > 0){
      workingGroupsToRemoveCaption.className = "mt-2"
      workingGroupsToRemoveCaption.innerHTML = "and will be removed from the <b>" + allWorkingGroups[currentGroup].name + "</b> working group."
    } else {
      workingGroupsToRemoveCaption.innerHTML = name + " will be removed from the <b>" + allWorkingGroups[currentGroup].name + "</b> working group."
    }
    parentDiv.appendChild(workingGroupsToRemoveCaption);
  }

  var removeVolunteerBtn = document.getElementById("removeVolunteerBtn")
  removeVolunteerBtn.onclick = function(){

    $.post("{{public_address}}/api/post/volunteers/remove-from-working-group", {
      member_id: member_id,
      group_id: currentGroup
    }, function(response){

      if(response.status == "ok") {
        $("#removeDialogSuccessBox").removeClass("d-none");
        $("#removeDialogErrorBox").addClass("d-none");
        $("#removeDialogSuccessMessage").text(response.msg);
        $("#row_" + member_id).remove();
      } else {
        $("#removeDialogErrorBox").removeClass("d-none");
        $("#removeDialogSuccessBox").addClass("d-none");
        $("#removeDialogErrorMessage").text(response.msg);
      }
    })
  }

  $("#removeVolunteerModal").modal("show");
}


</script>
