<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>

<div class="row mt-4">
  <div class="col-md-6 mx-auto">
    <div id="activeMessageAlert" class="alert alert-danger alert-dismissible d-none fade show p-3" role="alert">
      <span id="activeMessage"></span>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
</div>

<div class="row mt-4 ml-1">
  <div class="col-md-12">
    <div class="row">
    {{#ifUserClass user.class '["admin"]'}}

        <div class="form-group form-inline">
          <select class="form-control" id="working_groups">
            <!--<option value=""{{#unless group.group_id}} selected{{/unless}}>All My Working Groups</option>-->
              {{#each user.allWorkingGroupsObj}}
                <option value='{{group_id}}'{{#ifCond group_id '==' ../group.group_id}} selected{{/ifCond}}>{{name}}</option>
              {{/each}}
          </select>
        </div>

    {{else}}
    	{{#ifGreaterThan user.working_groups.length 1}}

    		<div class="form-group form-inline">
    			<select class="form-control" id="working_groups">
            <option value=""{{#unless group.group_id}} selected{{/unless}}>All My Working Groups</option>
    					{{#each user.working_groups}}
    						<option value='{{group_id}}'{{#ifCond group_id '==' ../group.group_id}} selected{{/ifCond}}>{{name}}</option>
    					{{/each}}
    			</select>
    		</div>


    	{{/ifGreaterThan}}
    {{/ifUserClass}}


      <div class="form-group form-inline ml-2">
        <select class="form-control" id="volunteerStatus">
          <option value="all" {{#ifCond volunteerStatus '==' 'all'}}selected{{/ifCond}}>All Volunteers</option>
          <option value="active" {{#ifCond volunteerStatus '==' 'active'}}selected{{/ifCond}}>Active Volunteers</option>
          <option value="inactive" {{#ifCond volunteerStatus '==' 'inactive'}}selected{{/ifCond}}>Inactive Volunteers</option>
        </select>
      </div>

    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">

    <table class="fadeIn table-light" data-pagination="true" data-search="true" data-striped="true" data-toggle="table" style="border: none !important;">
      <thead>
        <th data-sortable="true">Name</th>
        <th>Roles</th>
        <th data-sortable="true">Last Volunteered</th>
        <th></th>
      </thead>
      <tbody>
        {{#each volunteers}}
          {{#ifCond ../volunteerStatus '==' 'all'}}
            {{>volunteers/manage allRoles=../roles user=../user volunteerStatus=../volunteerStatus}}
          {{/ifCond}}

          {{#ifCond ../volunteerStatus '==' 'active'}}
            {{#if active}}
              {{>volunteers/manage allRoles=../roles user=../user volunteerStatus=../volunteerStatus}}
            {{/if}}
          {{/ifCond}}

          {{#ifCond ../volunteerStatus '==' 'inactive'}}
            {{#unless active}}
              {{>volunteers/manage allRoles=../roles user=../user volunteerStatus=../volunteerStatus}}
            {{/unless}}
          {{/ifCond}}

        {{/each}}
      </tbody>
    </table>

  </div>
</div>


<script>
$('#working_groups').on('change', function () {
  var url = "/volunteers/manage?group_id=" + $("#working_groups").val() + "&volunteers=" + $("#volunteerStatus").val();
  window.location = url;
});

$('#volunteerStatus').on('change', function () {
  var url = "/volunteers/manage?group_id=" + $("#working_groups").val() + "&volunteers=" + $("#volunteerStatus").val();
  window.location = url;
});

function markAsInactive(member_id, row){
  var confirmed = confirm("Are you sure you want to mark this volunteer as inactive?");
  if(confirmed == true){
    $.get("{{public_address}}/api/get/volunteers/mark-as-inactive/" + member_id, function( response ) {
      if(response.status == "ok"){
        $("#activeMessageAlert").removeClass("alert-danger");
        $("#activeMessageAlert").addClass("alert-success");
        $("#activeMessage").html(response.msg);
        $("#activeMessageAlert").removeClass("d-none");
        if("{{volunteerStatus}}" != "all"){
          $(row).parents('tr').remove();
        } else {
          $(row).removeClass("btn-warning");
          $(row).addClass("btn-success");
          $(row).text("Mark As Active");
          $(row).attr("onclick","markAsActive(" + member_id + ", this)")
        }
      } else {
        $("#activeMessage").html(response.msg);
        $("#activeMessageAlert").removeClass("d-none");
      }
    });
  }
}

function markAsActive(member_id, row){
  var confirmed = confirm("Are you sure you want to mark this volunteer as active? Membership will be renewed!");
  if(confirmed == true){
    $.get("{{public_address}}/api/get/volunteers/mark-as-active/" + member_id, function( response ) {
      if(response.status == "ok"){
        $("#activeMessageAlert").removeClass("alert-danger");
        $("#activeMessageAlert").addClass("alert-success");
        $("#activeMessage").html(response.msg);
        $("#activeMessageAlert").removeClass("d-none");
        if("{{volunteerStatus}}" != "all"){
          $(row).parents('tr').remove();
        } else {
          $(row).addClass("btn-warning");
          $(row).removeClass("btn-success");
          $(row).text("Mark As Inactive");
          $(row).attr("onclick","markAsInctive(" + member_id + ", this)")
        }

      } else {
        $("#activeMessage").html(response.msg);
        $("#activeMessageAlert").removeClass("d-none");
      }
    });
  }
}

</script>
