<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>

<div class="row mt-4 ml-1">
  <div class="col-md-12">
    <div class="row">

      {{>working-groups/select selectedGroup=group.group_id id="working_groups" user=user path="/volunteers/manage/?group_id="}}

    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">

    <table class="fadeIn table-light" data-pagination="true" data-search="true" data-striped="true" data-toggle="table" style="border: none !important;">
      <thead>
        <th data-sortable="true">Name</th>
        <th>Roles</th>
        <th data-sortable="true">Volunteering</th>
        <th data-sortable="true">Check-ins</th>
        <th></th>
      </thead>
      <tbody>
        {{#each volunteers}}
          {{#ifCond ../volunteerStatus '==' 'all'}}
            {{>volunteers/manage allRoles=../roles user=../user volunteerStatus=../volunteerStatus}}
          {{/ifCond}}

          {{#ifCond ../volunteerStatus '==' 'active'}}
            {{#if active}}
              {{>volunteers/manage allRoles=../roles user=../user volunteerStatus=../volunteerStatus}}
            {{/if}}
          {{/ifCond}}

          {{#ifCond ../volunteerStatus '==' 'inactive'}}
            {{#unless active}}
              {{>volunteers/manage allRoles=../roles user=../user volunteerStatus=../volunteerStatus}}
            {{/unless}}
          {{/ifCond}}

        {{/each}}
      </tbody>
    </table>

  </div>
</div>


<div class="modal fade" id="removeVolunteerModal" tabindex="-1" role="dialog" aria-labelledby="removeVolunteerModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="removeVolunteerModalLabel">Remove Volunteer</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p id="removeVolunteerRoles"></p>
        <p id="removeVolunteerOldWorkingGroups"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="location.reload();">Close</button>
      </div>
    </div>
  </div>
</div>


<script>

var allWorkingGroups = {{{json user.allWorkingGroupsObj}}}
var allRoles = {{{json roles}}}

$('#working_groups').on('change', function () {
  var url = "{{public_address}}/volunteers/manage?group_id=" + $("#working_groups").val();
  window.location = url;
});

function removeVolunteer(member_id, name, roles, old_working_groups) {



  $("#removeVolunteerRoles").html("");
  $("#removeVolunteerOldWorkingGroups").html("");

  $("removeVolunteerName").html(name);

  var removeRolesMarkup = "<h4 class='mb-3'>Roles</h4>";
  var removeVolunteerOldWorkingGroupsMarkup = "<h4 class='mb-3'>Working Groups</h4>";
  var onclick = "";

  if(roles.length > 0){

    removeRolesMarkup += "<table class='table'>"

    for(i=0;i<roles.length;i++){
      removeRolesMarkup += "<tr>"
      onclick = "removeRole(\"" + member_id + "\", \"" + roles[i] + "\", this)"
      removeRolesMarkup += "<td>" + allRoles[roles[i]].details.title + "</td>"
      removeRolesMarkup += "<td><a class='btn btn-sm btn-danger' onclick='" + onclick + "'>Remove</a></td>"
      removeRolesMarkup += "</tr>"
    }

    removeRolesMarkup += "</table>"
    $("#removeVolunteerRoles").html(removeRolesMarkup);
  }

  if(old_working_groups.length > 0){

    removeVolunteerOldWorkingGroupsMarkup += "<table class='table'>"

    for(i=0;i<old_working_groups.length;i++){
      removeVolunteerOldWorkingGroupsMarkup += "<tr class='p-2'>"
      onclick = "removeWorkingGroup(\"" + member_id + "\", \"" + old_working_groups[i] + "\", this)"
      removeVolunteerOldWorkingGroupsMarkup += "<td>" + allWorkingGroups[old_working_groups[i]].name + "</td>"
      removeVolunteerOldWorkingGroupsMarkup += "<td><a class='btn btn-sm btn-danger' onclick='" + onclick + "'>Remove</a></td>"
      removeVolunteerOldWorkingGroupsMarkup += "</tr>"
    }

    removeVolunteerOldWorkingGroupsMarkup += "</table>"
    $("#removeVolunteerOldWorkingGroups").html(removeVolunteerOldWorkingGroupsMarkup);
  }


  $("#removeVolunteerModal").modal("show");
}

function removeWorkingGroup(member_id, group_id, row) {
  $.post("{{public_address}}/api/post/volunteers/remove-working-group",
    {
      member_id: member_id,
      group_id: group_id
    },
    function(data) {
      if(data.status == "ok"){
        $(row).parents("tr").remove();
      }
      alert(data.msg);

    }
  )
}

function removeRole(member_id, role_id, row) {
  $.post("{{public_address}}/api/post/volunteers/remove-role",
    {
      member_id: member_id,
      role_id: role_id
    },
    function(data) {
      if(data.status == "ok"){
        $(row).parents("tr").remove();
      }
      alert(data.msg);

    }
  )
}

</script>
