<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>

<div class="row mt-4">
  <div class="col-md-6 mx-auto">
    <div id="activeMessageAlert" class="alert alert-danger alert-dismissible d-none fade show p-3" role="alert">
      <span id="activeMessage"></span>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
</div>

<div class="row">
	<div class="col-md-8 mx-auto">

		<div class="row mt-4 mb-2 mx-auto">
			<div class="card">
				<div class="card-body">
						<h1>{{member.first_name}} {{member.last_name}}</h1>
            <p class="{{#if volInfo.active}}text-success{{else}}text-danger{{/if}}">
							{{#if volInfo.active}}
								Active volunteer
							{{else}}
								Inactive volunteer
							{{/if}}
						</p>
				</div>
			</div>
		</div>


		{{#if volInfo.canUpdate}}
			<div class="row mt-4">
				<div class="col-md-5">
					<a href="{{public_address}}/volunteers/update/{{member.member_id}}" class="btn btn-block btn-primary">Update Volunteer</a>
				</div>
			</div>
		{{/if}}


			<div class="row mt-2">
				<div class="col-md-5">
			     <a class='btn btn-success form-control' href="{{public_address}}/api/get/members/id-remind/{{member.member_id}}">Send Volunteer Their ID ({{member.member_id}})</a>
				</div>
			</div>



		<div class="row mt-4 mb-4">
			<div class="col-lg-6">
				<div class="card">
					<div class="card-body">
            <h4 class="mb-1">Volunteering</h4>
						{{#if volInfo.assignedCoordinators}}
							{{#ifCond volInfo.assignedCoordinators.length '==' 1}}
								<p class="mb-1">Assigned Staff Coordinator: {{lookup (lookup coordinators volInfo.assignedCoordinators.[0]) 'first_name'}} {{lookup (lookup coordinators volInfo.assignedCoordinators.[0]) 'last_name'}}</p>
							{{else}}
								<p>Assigned staff coordinators:</p>
								<ul style="list-style-type: disc;">
									<div class="container ml-3 mb-1">
										{{#each volInfo.assignedCoordinators}}
											<li>{{lookup (lookup ../coordinators this) 'first_name'}} {{lookup (lookup ../coordinators this) 'last_name'}} {{#ifCond (lookup (lookup ../coordinators this) 'id') '==' ../user.id}} (you){{/ifCond}}</li>
										{{/each}}
									</div>
								</ul>
							{{/ifCond}}
						{{else}}
							<p class="text-danger">No assigned coordinator!</p>
						{{/if}}
						<p>Profile last updated:
							<span class="text-{{#ifCond volInfo.needsToUpdate '==' 'now'}}danger{{/ifCond}}{{#ifCond volInfo.needsToUpdate '==' 'soon'}}warning{{/ifCond}}{{#ifCond volInfo.needsToUpdate '==' false}}success{{/ifCond}}">{{volInfo.lastUpdated}}</span>
						</p>
						<p>Last volunteered:
							<span class="text-{{#ifCond volInfo.needsToVolunteer '==' 'now'}}danger{{/ifCond}}{{#ifCond volInfo.needsToVolunteer '==' 'soon'}}warning{{/ifCond}}{{#ifCond volInfo.needsToVolunteer '==' false}}success{{/ifCond}}">{{volInfo.lastVolunteered}}</span>
						</p>

						<hr />

						<p>Registered as a volunteer: {{volInfo.dateCreated}}</p>
						<p>First volunteered: {{volInfo.firstVolunteered}}</p>
          </div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="card">
					<div class="card-body">
						<h4>Contact</h4>

            {{#if volInfo.canUpdate}}
              <a href="mailto:{{member.email}}"><p class="text-primary">{{member.email}}</p></a>
              <p>{{member.phone_no}}</p>
              <p>{{member.address}}</p>
            {{else}}
              {{#ifCond user.class '==' 'admin'}}
                <a href="mailto:{{member.email}}"><p class="text-primary">{{member.email}}</p></a>
                <p>{{member.phone_no}}</p>
                <p>{{member.address}}</p>
              {{/ifCond}}
              {{#ifCond user.class '==' 'staff'}}
                {{#if member.gdpr.email}}
  								<a href="mailto:{{member.email}}"><p class="text-primary">{{member.email}}</p></a>
  							{{else}}
  								<a href="mailto:{{member.email}}"><p class="text-danger">{{member.email}} <b>(permission required)</b></p></a>
  							{{/if}}
  							{{#if member.phone_no}}
                  {{#if member.gdpr.phone}}
  					        <p>{{member.phone_no}}</p>
                  {{else}}
                    <p class="text-danger">{{member.phone_no}} <b>(permission required)</b></p>
                  {{/if}}
  							{{/if}}
              {{/ifCond}}
              {{#ifCond user.class '==' 'volunteer'}}
                <p>You can't view this volunteer's email</p>
                <p>You can't view this volunteer's phone number</p>
              {{/ifCond}}

						{{/if}}

					</div>
				</div>
				{{#if volInfo.survey.note}}
					<div class="card mt-4">
						<div class="card-body">
							<h4>Note</h4>
							<p>{{volInfo.survey.note}}</p>
						</div>
					</div>
				{{/if}}

			</div>
		</div>

		<div class="row mb-4">
			<div class="col-lg-6">
				<div class="card">
					<div class="card-body">
						<h4 class="mb-1">Roles</h4>

						{{#if volInfo.roles}}
							<div class="container">
		            <ul style="list-style-type: disc;">
		              {{#each volInfo.roles}}
										{{#if (lookup ../roles this)}}
											<li>
				                {{lookup (lookup (lookup ../roles this) 'details') 'title'}}

												{{#ifCond (lookup (lookup ../roles this) 'group_id') '==' 'na'}}
													(SHRUB-wide)
												{{else}}
													with {{lookup (lookup ../user.allWorkingGroupsObj (lookup (lookup ../roles this) 'group_id')) 'name'}}
												{{/ifCond}}
											</li>
										{{/if}}
		              {{/each}}
		            </ul>
							</div>
						{{else}}
							<p class="text-danger">Has not been assigned any roles!</p>
						{{/if}}
					</div>
				</div>
			</div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">

						<h4 class="mb-1">Membership</h4>

						<p class="mb-1">Since: {{member.earliest_membership_date}}</p>

						<small>Current Membership Period</small>
						<div class="mb-3">
							<p>Began: <b>{{member.current_init_membership}}</b></p>
							<p>Expires: <b>{{member.current_exp_membership}}</b></p>
						</div>

            <a href="{{public_address}}/members/view/{{member.member_id}}" class="btn btn-block btn-success mt-2">View Full Membership Profile</a>
          </div>
        </div>
      </div>
		</div>

  </div>
</div>

<script>

function markAsInactive(member_id, row){
  var confirmed = confirm("Are you sure you want to mark this volunteer as inactive?");
  if(confirmed == true){
    $.get("{{public_address}}/api/get/volunteers/mark-as-inactive/" + member_id, function( response ) {
      if(response.status == "ok"){
				location.reload(false);
      } else {
        $("#activeMessage").html(response.msg);
        $("#activeMessageAlert").removeClass("d-none");
      }
    });
  }
}

function markAsActive(member_id, row){
  var confirmed = confirm("Are you sure you want to mark this volunteer as active? Membership will be renewed!");
  if(confirmed == true){
    $.get("{{public_address}}/api/get/volunteers/mark-as-active/" + member_id, function( response ) {
      if(response.status == "ok"){
				location.reload(false);
      } else {
        $("#activeMessage").html(response.msg);
        $("#activeMessageAlert").removeClass("d-none");
      }
    });
  }
}

</script>
