<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>

<script src="{{public_address}}/assets/js/bootstrap-select.min.js"></script>
<link rel="stylesheet" href="{{public_address}}/assets/css/bootstrap-select.min.css" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>

<div class="row mt-4">
  <div class="col-md-6 mx-auto">
    <div id="activeMessageAlert" class="alert alert-danger alert-dismissible d-none fade show p-3" role="alert">
      <span id="activeMessage"></span>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
</div>

<div class="row">
	<div class="col-md-8 mx-auto">

		<div class="row mt-4 mb-2 mx-auto">
			<div class="card">
				<div class="card-body">
						<h1>{{member.first_name}} {{member.last_name}}</h1>
            <p class="{{#if volInfo.active}}text-success{{else}}text-danger{{/if}}">
							{{#if volInfo.active}}
								Active volunteer
							{{else}}
								Inactive volunteer
							{{/if}}
						</p>
				</div>
			</div>
		</div>


		{{#if volInfo.canUpdate}}
			<div class="row mt-4">
				<div class="col-md-5">
					<a href="{{public_address}}/volunteers/update/{{member.member_id}}" class="btn btn-block btn-primary">Update Volunteer</a>
				</div>
			</div>
    {{/if}}
    {{#if volInfo.conductCheckIn}}
      <div class="row mt-2">
				<div class="col-md-5">
					<a href="{{public_address}}/volunteers/check-in/{{member.member_id}}" class="btn btn-block btn-info">Conduct Check-in</a>
				</div>
			</div>

		{{/if}}




		<div class="row mt-4 mb-4">
			<div class="col-lg-6">
				<div class="card">
					<div class="card-body">
            <h4 class="mb-1">Volunteering</h4>
            {{#if volInfo.assignedCoordinators}}
  						{{#ifCond volInfo.assignedCoordinators.length '>' 0}}
  							{{#ifCond volInfo.assignedCoordinators.length '==' 1}}
  								<p class="mb-1">Assigned Staff Coordinator: {{lookup (lookup coordinators volInfo.assignedCoordinators.[0]) 'first_name'}} {{lookup (lookup coordinators volInfo.assignedCoordinators.[0]) 'last_name'}}</p>
  							{{else}}
  								<p>Assigned staff coordinators:</p>
  								<ul style="list-style-type: disc;">
  									<div class="container ml-3 mb-1">
  										{{#each volInfo.assignedCoordinators}}
  											<li>{{lookup (lookup ../coordinators this) 'first_name'}} {{lookup (lookup ../coordinators this) 'last_name'}} {{#ifCond (lookup (lookup ../coordinators this) 'id') '==' ../user.id}} (you){{/ifCond}}</li>
  										{{/each}}
  									</div>
  								</ul>
  							{{/ifCond}}
  						{{else}}
  							<p class="text-danger">No assigned coordinator!</p>
  						{{/ifCond}}
              <hr />
            {{/if}}



            {{#if volInfo.dateCreated}}
						  <p>Registered as a volunteer: {{niceDate volInfo.dateCreated}}</p>
            {{/if}}

            {{#if volInfo.lastCheckin}}
  						<p>Last Check-in:
  							<span class="text-{{#ifCond volInfo.needsToCheckin '==' 'now'}}danger{{/ifCond}}{{#ifCond volInfo.needsToCheckin '==' 'soon'}}warning{{/ifCond}}{{#ifCond volInfo.needsToCheckin '==' false}}success{{/ifCond}}">{{niceDate volInfo.lastCheckin}}</span>
  						</p>
            {{/if}}

            {{#if volInfo.lastVolunteered}}
  						<p>Last volunteered:
  							<span class="text-{{#ifCond volInfo.needsToVolunteer '==' 'now'}}danger{{/ifCond}}{{#ifCond volInfo.needsToVolunteer '==' 'soon'}}warning{{/ifCond}}{{#ifCond volInfo.needsToVolunteer '==' false}}success{{/ifCond}}">{{niceDate volInfo.lastVolunteered}}</span>
  						</p>
            {{/if}}

            <div class="row mt-4">
      			   <a class='btn btn-success form-control' href="{{public_address}}/api/get/members/id-remind/{{member.member_id}}">Send Volunteer Their ID</a>
      			</div>

            {{#if volInfo.canManageFoodCollectionLink}}

        			<div class="row mt-1">
        			   <a class='btn btn-info form-control' data-toggle="modal" data-target="#foodCollectionLink">
                   <span id="foodCollectionAction">
                     Manage
                   </span>
                   Food Collection Link</a>
        			</div>

            {{/if}}


          </div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="card">
					<div class="card-body">
						<h4>Contact</h4>

            {{#if member.email}}
              {{#if member.gdpr.email}}
                <p>
              {{else}}
                {{#if volInfo.isAssignedCoordinator}}
                  <p>
                {{else}}
                  <p class="text-danger">
                {{/if}}
              {{/if}}
              {{member.email}}
              {{#if member.gdpr.email}}
              </p>
              {{else}}
                {{#if volInfo.isAssignedCoordinator}}
                  </p>
                {{else}}
                  (ask for permission to use)</p>
                {{/if}}
              {{/if}}
            {{/if}}

            {{#if member.phone_no}}
              {{#if member.gdpr.phone}}
                <p>
              {{else}}
                {{#if volInfo.isAssignedCoordinator}}
                  <p>
                {{else}}
                  <p class="text-danger">
                {{/if}}
              {{/if}}
              {{member.phone_no}}
              {{#if member.gdpr.phone}}
              </p>
              {{else}}
                {{#if volInfo.isAssignedCoordinator}}
                  </p>
                {{else}}
                  (ask for permission to use)</p>
                {{/if}}
              {{/if}}
            {{/if}}

					</div>
				</div>
				{{#if volInfo.survey.note}}
					<div class="card mt-4">
						<div class="card-body">
							<h4>Note</h4>
							<p>{{volInfo.survey.note}}</p>
						</div>
					</div>
				{{/if}}

			</div>
		</div>

    {{#if volInfo.roles}}
  		<div class="row mb-4">
  			<div class="col-lg-6">
  				<div class="card">
  					<div class="card-body">
  						<h4 class="mb-1">Roles</h4>

  						{{#ifCond volInfo.roles.length '>' 0}}
  							<div class="container">
  		            <ul style="list-style-type: disc;">
  		              {{#each volInfo.roles}}
  										{{#if (lookup ../roles this)}}
  											<li>
  				                {{lookup (lookup (lookup ../roles this) 'details') 'title'}}

  												{{#ifCond (lookup (lookup ../roles this) 'group_id') '==' 'na'}}
  													(SHRUB-wide)
  												{{else}}
  													with {{lookup (lookup ../user.allWorkingGroupsObj (lookup (lookup ../roles this) 'group_id')) 'name'}}
  												{{/ifCond}}
  											</li>
  										{{/if}}
  		              {{/each}}
  		            </ul>
  							</div>
  						{{else}}
  							<p class="text-danger">Has not been assigned any roles!</p>
  						{{/ifCond}}
  					</div>
  				</div>
  			</div>

        <div class="col-md-6">
          <div class="card">
            <div class="card-body">

  						<h4 class="mb-1">Membership</h4>
              {{#if member.earliest_membership_date}}
    						<p class="mb-1">Since: {{niceDate member.earliest_membership_date}}</p>

    						<small>Current Membership Period</small>
    						<div class="mb-3">
    							<p>Began: <b>{{niceDate member.current_init_membership}}</b></p>
                  {{#unless volInfo.membership_type}}
    							  <p>Expires: <b>{{niceDate member.current_exp_membership}}</b></p>
                  {{/unless}}
    						</div>
              {{/if}}
              <a href="{{public_address}}/members/view/{{member.member_id}}" class="btn btn-block btn-success mt-2">View Membership Profile</a>
            </div>
          </div>
        </div>
  		</div>
    {{/if}}

    {{#if volInfo.shiftHistory}}
      <div class="row">
        <div class="col-lg-12">

              <h3 class="mb-3 mt-3">Volunteering History</h3>

              <table id="transaction_history" class="fadeIn table-light" data-pagination="true" data-toggle="table" data-striped="true" data-url="{{public_address}}/api/get/volunteers/hours/by-member-id/{{member.member_id}}">
                  <thead>

                      <tr>
                        <th data-field="date">Date</th>
                        <th data-field="working_group">Working Group</th>
                        <th data-field="duration">Duration</th>
                        <th data-field="note">Note</th>
                      </tr>
                  </thead>

                <tbody>
                </tbody>
              </table>

            </div>

      </div>
    {{/if}}
  </div>
</div>


{{#if volInfo.canManageFoodCollectionLink}}
  <div class="modal fade" id="foodCollectionLink" tabindex="-1" role="dialog" aria-labelledby="foodCollectionLinkLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="foodCollectionLinkLabel">Manage Food Collection Link</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div id="foodCollectionLinkResponseBox" class="alert alert-dismissible fade show d-none" role="alert">
          <span id="foodCollectionLinkResponse"></span>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <select class="form-control mb-3 selectpicker show-tick" id="organisations" title="Select organisations" data-style="btn-info" data-size="auto" data-header="Select organisations" data-live-search="true" multiple required /></select>


        <div class="input-group">
          <input type="text" class="form-control"
              value="" placeholder="Food Collection Logging Link..." id="foodCollectionLinkOutput" readonly>
           <div class="input-group-append">
            <button id="copy-btn" class="btn btn-default" type="button" data-clipboard-target="#foodCollectionLinkOutput"
                title="Copy to Clipboard">
              Copy
            </button>
          </div>
        </div>

        <button class="btn btn-danger btn-block mt-3" id="disableFoodCollectionsLinkButton">Disable Link</button>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="emailFoodCollectionLink">Email Link</button>
      </div>
    </div>
  </div>
</div>
{{/if}}

<script>



{{#if user.permissions.volunteers.manageFoodCollectionLink}}

  $(document).ready(function(){
    getFoodCollectionsLink()
  })

  new ClipboardJS('#copy-btn');

  $("#organisations").on('change', function(){
    updateFoodCollectionsLink();
  })

  $('#foodCollectionLink').on('show.bs.modal', function (e) {
    updateFoodCollectionsLink();
    getFoodCollectionsLink();
  })

  function setFoodCollectionsLink(key){
    if(key){
      $("#foodCollectionLinkOutput").val("{{public_address}}/food-collections/log/" + key);

      $("#foodCollectionLinkOutput").addClass("member-selected");
      setTimeout(function(){
        $("#foodCollectionLinkOutput").removeClass("member-selected");
      }, 2500)

    }
  }

  function getFoodCollectionsLink(){
    $.ajax({
      type:"post",
      url:"{{public_address}}/api/post/volunteers/food-collections/get-by-member-id",
      data: {
        member_id: "{{member.member_id}}"
      }, success: function(response) {
        if(response.status == "ok") {
          if(response.foodCollectionKey.organisations.length > 0 && response.foodCollectionKey.active == 1){
            $("#foodCollectionAction").text("Manage");
          } else if (response.foodCollectionKey.organisations.length > 0 && response.foodCollectionKey.active == 0){
            $("#foodCollectionAction").text("Activate");
          } else {
            $("#foodCollectionAction").text("Create");
          }

          $("#organisations").html("");

          $.each(Object.keys(response.organisations), function(index, organisation_id){
            var organisation = response.organisations[organisation_id];
            if(response.foodCollectionKey.organisations.includes(organisation_id)){
              $("#organisations").append('<option value=' + organisation.organisation_id + ' selected>' + organisation.name +'</option>');
            } else {
              if(organisation.default){
                $("#organisations").append('<option value=' + organisation.organisation_id + ' selected disabled>' + organisation.name +  '</option>');
              } else {
                $("#organisations").append('<option value=' + organisation.organisation_id + '>' + organisation.name  + '</option>');
              }

            }
          });

          $("#organisations").selectpicker('refresh');


          setFoodCollectionsLink(response.foodCollectionKey.key)


        }
      }
    })
  }

  function updateFoodCollectionsLink(){
    $("#foodCollectionAction").text("Manage");
    $.ajax({
      type:"post",
      url:"{{public_address}}/api/post/volunteers/food-collections/update",
      data: {
        organisations: $("#organisations").val(),
        member_id: "{{member.member_id}}"
      }, success: function(response) {
        if(response.status == "ok") {
          setFoodCollectionsLink(response.key)
        }
      }
    })
  }

  function disableFoodCollectionsLink(){
    $.ajax({
      type:"post",
      url:"{{public_address}}/api/post/volunteers/food-collections/disable",
      data: {
        member_id: "{{member.member_id}}"
      }, success: function(response) {
        if(response.status == "ok") {
          $("#foodCollectionLink").modal("hide");
          setFoodCollectionsLink("Link Disabled.")
          $("#foodCollectionAction").text("Activate");
        } else {
          alert(response.msg)
        }
      }
    })
  }

  function sendFoodCollectionsLink() {
    $("#emailFoodCollectionLink").prop("disabled", true)
    $.ajax({
      type:"post",
      url:"{{public_address}}/api/post/volunteers/food-collections/send-link",
      data: {
        member_id: "{{member.member_id}}"
      }, success: function(response) {
        $("#emailFoodCollectionLink").prop("disabled", false)
        if(response.status == "ok") {
          $("#foodCollectionLinkResponseBox").removeClass("alert-danger");
          $("#foodCollectionLinkResponseBox").addClass("alert-success");
        } else {
          $("#foodCollectionLinkResponseBox").removeClass("alert-success");
          $("#foodCollectionLinkResponseBox").addClass("alert-danger");

        }
        $("#foodCollectionLinkResponseBox").removeClass("d-none");
        $("#foodCollectionLinkResponse").text(response.msg);
      }
    })
  }

  $("#emailFoodCollectionLink").click(function(){
    sendFoodCollectionsLink();
  })

  $("#disableFoodCollectionsLinkButton").click(function(){
    if (confirm("Are you sure you want to disable {{member.first_name}}'s food collection link?")) {
      disableFoodCollectionsLink();
    }
  })

{{/if}}

function markAsInactive(member_id, row){
  var confirmed = confirm("Are you sure you want to mark this volunteer as inactive?");
  if(confirmed == true){
    $.get("{{public_address}}/api/get/volunteers/mark-as-inactive/" + member_id, function( response ) {
      if(response.status == "ok"){
				location.reload(false);
      } else {
        $("#activeMessage").html(response.msg);
        $("#activeMessageAlert").removeClass("d-none");
      }
    });
  }
}

function markAsActive(member_id, row){
  var confirmed = confirm("Are you sure you want to mark this volunteer as active? Membership will be renewed!");
  if(confirmed == true){
    $.get("{{public_address}}/api/get/volunteers/mark-as-active/" + member_id, function( response ) {
      if(response.status == "ok"){
				location.reload(false);
      } else {
        $("#activeMessage").html(response.msg);
        $("#activeMessageAlert").removeClass("d-none");
      }
    });
  }
}

</script>
