<div class="row">
  <h1>Add Members to 
    {{#if working_group.prefix}}
      {{working_group.prefix}} {{working_group.name}}
    {{else}}
      {{working_group.name}}
    {{/if}}
    </h1>
</div>

{{#ifGreaterThan user.working_groups.length 1}}
<div class="row">
  <div class="form-group form-inline">
    <select class="form-control" id="working_groups">
      <option disabled selected>Select a working group...</option>
        {{#each user.working_groups}}
          <option value='{{id}}'>{{name}}
            {{#if sub_groups}}
              (General)
            {{/if}}
          </option>
        {{/each}}
    </select>
  </div>
</div>
{{/ifGreaterThan}}

<div class="row">
  <div class="col-lg-5 nopadding">
    <div id="join_requests_info" class="row"></div>
    <h3>Existing Members</h3>
    <p>Type in the name of the member you want to add (or remove!)</p>
    <div class="form-group">
      <input type="text" id="memberInput" class="form-control" placeholder="Name of member..." oninput="search()" />
    </div>

    <div class="row">
      <div class='col-lg-offset-1'>
        <div id="searchOutput"></div>
      </div>
    </div>

  </div>
</div>


<script>
function updateSearchOutput(results){
  $('#searchOutput').html("<br />");

  if(results.length == 0) {
    $('#searchOutput').html($('#searchOutput').html() + "<div class='member-result'>" +
      "<p class='text-center'>Nothing found :'( - <a href='/members/add' target='_blank'>add a new member</a></p>" +
      "</div>");
  } else {
    for(let i=0;i<results.length;i++){

      var membershipBtn = "<a class='btn btn-primary' onclick='ajaxGetRequest(\"/api/get/working-groups/members/join/{{working_group.id}}/" + results[i].id + "\")'>Add To {{working_group.name}}</a>"

      for(let j=0;j<results[i].working_groups.length;j++){
        if(results[i].working_groups[j].id == "{{working_group.id}}"){
          membershipBtn = "<a class='btn btn-danger' onclick='ajaxGetRequest(\"/api/get/working-groups/members/leave/{{working_group.id}}/" + results[i].id + "\")'>Remove From {{working_group.name}}</a>"
        }
      }
      
      $('#searchOutput').html($('#searchOutput').html() + 
        "<div class='member-result text-center'>" +
          "<p><b>" + 
          "<a href='/members/view/" + results[i].id + "' target='_blank'>" +
            results[i].name + 
          "</a>" +
          "</p></b>" +

          "<p>" + 
            results[i].email + 
          "</p>" +

          "<center>" + 
            membershipBtn +
          "</center>" +
        "</div>"
      );

      if((i + 1) != results.length){
        $('#searchOutput').html($('#searchOutput').html() + "<hr />")
      }

      var found = false;
    }
  }
}

function search(){
  $.ajax({
      type: "POST",
      url: "/api/post/members/search",
      data: { 
          'term': $('#memberInput').val()
      },    
      success: function(response){

        if(response.status == "ok"){
          updateSearchOutput(response.results);
        } else {
          $('#searchOutput').html("Something went wrong!");
        }  
      }
  });
}

function ajaxGetRequest(url){
   $.ajax({
      type: "GET",
      url: url,
      success: function(response){
        
        search();
        if(response.status == "ok"){
          $("#join_requests_info").html('<div class="alert alert-success" onclick="dismiss(\'#join_requests_info\')">' + response.msg + '</div>');
        } else {
          $("#join_requests_info").html('<div class="alert alert-danger" onclick="dismiss(\'#join_requests_info\')">' + response.msg + '</div>');
        }
      }
   });
}

$('#working_groups').on('change', function () {
  var url = "/working-groups/add-members/" + $(this).val();
  window.location = url;
});
</script>