<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>

<div class="row">
	<h1>Find Volunteers</h1>
	<p>Search for volunteers by working group and when they're available.</p>
</div>

<hr />

<form method="get">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			{{#ifGreaterThan user.working_groups.length 1}}
			<div class="row">
			  <div class="form-group form-inline">
			    <select class="form-control" name="group_id">
			      <option disabled selected>Select a working group...</option>
			        {{#each user.working_groups}}
			          <option value='{{group_id}}'{{#ifCond group_id '==' ../group_id}}selected{{/ifCond}}>{{name}}</option>
			        {{/each}}
			    </select>
			  </div>
			</div>
			{{else}}
			<input type="hidden" name="group_id" value="{{user.working_groups.0.group_id}}" />
			<div class="row">
				<p>Members of <b>{{user.working_groups.0.full_name}}</b></p>
			</div>
			{{/ifGreaterThan}}

		  <div class="row">

		    <table id="availabilityTable" class="table">
		      <tr>
		        <td></td>
		        <td>Morning (10-12)</td>
		        <td>Early Afternoon (12-2)</td>
		        <td>Afternoon (2-4)</td>
		        <td>Late Afternoon (4-6)</td>
		        <td>Evening (6-8)</td>
		      </tr>
		      <tr>
		        <td>Monday</td>
		        <td>
		          <input type="checkbox" name="availability[mon_m]" {{#if availability.mon_m}}checked{{/if}} />
		        </td>
		        <td>
		          <input type="checkbox" name="availability[mon_ea]" {{#if availability.mon_ea}}checked{{/if}} />
		        </td>
		        <td>
		          <input type="checkbox" name="availability[mon_a]" {{#if availability.mon_a}}checked{{/if}} />
		        </td>
		        <td>
		          <input type="checkbox" name="availability[mon_la]" {{#if availability.mon_la}}checked{{/if}} />
		        </td>
		        <td>
		          <input type="checkbox" name="availability[mon_e]" {{#if availability.mon_e}}checked{{/if}} />
		        </td>
		      </tr>
		      <tr>
		        <td>Tuesday</td>
		        <td>
		          <input type="checkbox" name="availability[tue_m]" {{#if availability.tue_m}}checked{{/if}} />
		        </td>
		        <td>
		          <input type="checkbox" name="availability[tue_ea]" {{#if availability.tue_ea}}checked{{/if}} />
		        </td>
		        <td>
		          <input type="checkbox" name="availability[tue_a]" {{#if availability.tue_a}}checked{{/if}} />
		        </td>
		        <td>
		          <input type="checkbox" name="availability[tue_la]" {{#if availability.tue_la}}checked{{/if}} />
		        </td>
		        <td>
		          <input type="checkbox" name="availability[tue_e]" {{#if availability.tue_e}}checked{{/if}} />
		        </td>
		      </tr>
		      <tr>
		        <td>Wednesday</td>
		        <td>
		          <input type="checkbox" name="availability[wed_m]" {{#if availability.wed_m}}checked{{/if}} />
		        </td>
		        <td>
		          <input type="checkbox" name="availability[wed_ea]" {{#if availability.wed_ea}}checked{{/if}} />
		        </td>
		        <td>
		          <input type="checkbox" name="availability[wed_a]" {{#if availability.wed_a}}checked{{/if}} />
		        </td>
		        <td>
		          <input type="checkbox" name="availability[wed_la]" {{#if availability.wed_la}}checked{{/if}} />
		        </td>
		        <td>
		          <input type="checkbox" name="availability[wed_e]" {{#if availability.wed_e}}checked{{/if}} />
		        </td>
		      </tr>
		      <tr>
		        <td>Thursday</td>
		        <td>
		          <input type="checkbox" name="availability[thu_m]" {{#if availability.thu_m}}checked{{/if}} />
		        </td>
		        <td>
		          <input type="checkbox" name="availability[thu_ea]" {{#if availability.thu_ea}}checked{{/if}} />
		        </td>
		        <td>
		          <input type="checkbox" name="availability[thu_a]" {{#if availability.thu_a}}checked{{/if}} />
		        </td>
		        <td>
		          <input type="checkbox" name="availability[thu_la]" {{#if availability.thu_la}}checked{{/if}} />
		        </td>
		        <td>
		          <input type="checkbox" name="availability[thu_e]" {{#if availability.thu_e}}checked{{/if}} />
		        </td>
		      </tr>
		      <tr>
		        <td>Friday</td>
		        <td>
		          <input type="checkbox" name="availability[fri_m]" {{#if availability.fri_m}}checked{{/if}} />
		        </td>
		        <td>
		          <input type="checkbox" name="availability[fri_ea]" {{#if availability.fri_ea}}checked{{/if}} />
		        </td>
		        <td>
		          <input type="checkbox" name="availability[fri_a]" {{#if availability.fri_a}}checked{{/if}} />
		        </td>
		        <td>
		          <input type="checkbox" name="availability[fri_la]" {{#if availability.fri_la}}checked{{/if}} />
		        </td>
		        <td>
		          <input type="checkbox" name="availability[fri_e]" {{#if availability.fri_e}}checked{{/if}} />
		        </td>
		      </tr>
		      <tr>
		        <td>Saturday</td>
		        <td>
		          <input type="checkbox" name="availability[sat_m]" {{#if availability.sat_m}}checked{{/if}} />
		        </td>
		        <td>
		          <input type="checkbox" name="availability[sat_ea]" {{#if availability.sat_ea}}checked{{/if}} />
		        </td>
		        <td>
		          <input type="checkbox" name="availability[sat_a]" {{#if availability.sat_a}}checked{{/if}} />
		        </td>
		        <td>
		          <input type="checkbox" name="availability[sat_la]" {{#if availability.sat_la}}checked{{/if}} />
		        </td>
		        <td>
		          <input type="checkbox" name="availability[sat_e]" {{#if availability.sat_e}}checked{{/if}} />
		        </td>
		      </tr>
		      <tr>
		        <td>Sunday</td>
		        <td>
		          <input type="checkbox" name="availability[sun_m]" {{#if availability.sun_m}}checked{{/if}} />
		        </td>
		        <td>
		          <input type="checkbox" name="availability[sun_ea]" {{#if availability.sun_ea}}checked{{/if}} />
		        </td>
		        <td>
		          <input type="checkbox" name="availability[sun_a]" {{#if availability.sun_a}}checked{{/if}} />
		        </td>
		        <td>
		          <input type="checkbox" name="availability[sun_la]" {{#if availability.sun_la}}checked{{/if}} />
		        </td>
		        <td>
		          <input type="checkbox" name="availability[sun_e]" {{#if availability.sun_e}}checked{{/if}} />
		        </td>
		      </tr>
		    </table>

		  </div>
			
		</div>
	</div>
	<div class="row">
		<center>
			<div class="col-md-6 col-md-offset-3">
				<input type="submit" value="Find Volunteers" class="btn btn-primary btn-block" />
			</div>
		</center>
	</div>
	<hr />

	<div class="row">
	    <table id="volunteers" class="fadeIn" data-pagination="true" data-toggle="table" data-striped="true">
	        <thead>
	          <th>Name</th>
	          <th>Preferred Contact Methods</th>
	        </thead>
	        <tbody>
	        	{{#each volunteers}}
	        		<td><a href="/members/volunteer-info/{{member_id}}">{{first_name}} {{last_name}}</a></td>
	        		<td>{{{contact}}}</td>
	        	{{/each}}
	        </tbody>
	    </table>
	</div>
</form>