<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>

<!-- Bootstrap table export -->
<script src="https://rawgit.com/hhurz/tableExport.jquery.plugin/master/tableExport.js"></script>
<script src="https://rawgit.com/wenzhixin/bootstrap-table/master/src/extensions/export/bootstrap-table-export.js"></script>

<div class="row">
	<h1>{{group.name}} Members</h1>
</div>

{{#ifGreaterThan user.working_groups.length 1}}
<div class="row">
  <div class="form-group form-inline">
    <select class="form-control" id="working_groups">
      <option disabled selected>Select a working group...</option>
        {{#each user.working_groups}}
          <option value='{{group_id}}'{{#ifCond group_id '==' ../group.group_id}}selected{{/ifCond}}>{{name}}
            {{#if sub_groups}}
              (General)
            {{/if}}
          </option>
        {{/each}}
    </select>
  </div>
</div>
{{/ifGreaterThan}}

<div id="member_info" class="row"></div>

<div class="row">
  <h3>Requests To Join</h3>
</div>

<div class="row">

  <div class="col-lg-12">
    <div class="row">
      <table id="join_requests" class="fadeIn" data-pagination="true" data-toggle="table" data-striped="true" data-url="/api/get/working-groups/join-requests/{{group.group_id}}">
        <thead>
          <th data-sortable="true" data-field="name">Name</th>
          <th data-sortable="true" data-field="date">Date</th>
          <th data-sortable="true" data-field="options">Action</th>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>

</div>

<hr />


<div class="row">  
  <div class="col-lg-6 nopadding">

    <h3>Existing Members</h3>

  	<table id="group_members" class="fadeIn" data-pagination="true" data-search="true" data-toggle="table" data-striped="true" data-url="/api/get/working-groups/members/{{group.group_id}}" data-show-export="true" data-export-options='{
                                  "fileName": "{{working_group.name}} members", 
                                  "ignoreColumn": [2]
                                }'>
  		<thead>
  			<th data-sortable="true" data-field="name">Name</th>
        <th data-sortable="true" data-field="email" class="hidden-xs hidden-sm">Email</th>
  			<th data-field="options"></th>
  		</thead>
  		<tbody>

  		</tbody>
  	</table>
  </div>

  <div class="col-lg-5 col-lg-offset-1">
    <h3>Add Members</h3>
    <div class="form-group">
      <input type="text" id="memberInput" class="form-control" placeholder="Search for a member..." oninput="search()" />
    </div>

    <div class="row">
      <div class='col'>
        <div id="searchOutput"></div>
      </div>
    </div>    
  </div>

</div>

<script>

function removeMemberAjax(url){
   $.ajax({
      type: "GET",
      url: url,
      success: function(response){
      	
      	if(response.status == "ok"){
        	$("#member_info").html('<div class="alert alert-success col-md-6" onclick="dismiss(\'#member_info\')">' + response.msg + '</div>');
        	$("#group_members").bootstrapTable('refresh');
          $("#join_requests").bootstrapTable('refresh');        
      	} else {
      		$("#member_info").html('<div class="alert alert-danger col-md-6" onclick="dismiss(\'#member_info\')">' + response.msg + '</div>');
      	}
      }
   });
}

function joinRequestsAjax(url){
   $.ajax({
      type: "GET",
      url: url,
      success: function(response){
        
        if(response.status == "ok"){
          $("#member_info").html('<div class="alert alert-success col-md-6" onclick="dismiss(\'#member_info\')">' + response.msg + '</div>');
          $("#group_members").bootstrapTable('refresh');
          $("#join_requests").bootstrapTable('refresh');
        } else {
          $("#member_info").html('<div class="alert alert-danger col-md-6" onclick="dismiss(\'#member_info\')">' + response.msg + '</div>');
        }
      }
   });
}

$('#working_groups').on('change', function () {
  var url = "/working-groups/members/" + $(this).val();
  window.location = url;
});

function updateSearchOutput(results){
  $('#searchOutput').html("<br />");

  if(results.length == 0) {
    $('#searchOutput').html($('#searchOutput').html() + "<div class='member-result'>" +
      "<p class='text-center'>Nothing found :'( - <a href='/members/add' target='_blank'>add a new member</a></p>" +
      "</div>");
  } else {
    for(let i=0;i<results.length;i++){

      var membershipBtn = "<a class='btn btn-primary' onclick='joinGroup(\"/api/get/working-groups/members/join/{{group.group_id}}/" + results[i].id + "\")'>Add To {{group.name}}</a>"

      for(let j=0;j<results[i].working_groups.length;j++){
        if(results[i].working_groups[j].group_id == "{{group.group_id}}"){
          membershipBtn = "<a class='btn btn-danger' onclick='joinGroup(\"/api/get/working-groups/members/leave/{{group.group_id}}/" + results[i].id + "\")'>Remove From {{group.name}}</a>"
        }
      }
      
      $('#searchOutput').html($('#searchOutput').html() + 
        "<div class='member-result text-center'>" +
          "<p><b>" + 
          "<a href='/members/view/" + results[i].id + "' target='_blank'>" +
            results[i].name + 
          "</a>" +
          "</p></b>" +

          "<p>" + 
            results[i].email + 
          "</p>" +

          "<center>" + 
            membershipBtn +
          "</center>" +
        "</div>"
      );

      if((i + 1) != results.length){
        $('#searchOutput').html($('#searchOutput').html() + "<hr />")
      }

      var found = false;
    }
  }
}

function joinGroup(url){
   $.ajax({
      type: "GET",
      url: url,
      success: function(response){
        
        search();
        if(response.status == "ok"){
          $("#member_info").html('<div class="alert alert-success" onclick="dismiss(\'#member_info\')">' + response.msg + '</div>');
          $("#group_members").bootstrapTable('refresh');
        } else {
          $("#member_info").html('<div class="alert alert-danger" onclick="dismiss(\'#member_info\')">' + response.msg + '</div>');
        }
      }
   });
}

function search(){
  $.ajax({
      type: "POST",
      url: "/api/post/members/search",
      data: { 
          'term': $('#memberInput').val()
      },    
      success: function(response){

        if(response.status == "ok"){
          updateSearchOutput(response.results);
        } else {
          $('#searchOutput').html("Something went wrong!");
        }  
      }
  });
}
</script>