<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>

<!-- Bootstrap table export -->
<script src="https://rawgit.com/hhurz/tableExport.jquery.plugin/master/tableExport.js"></script>
<script src="https://rawgit.com/wenzhixin/bootstrap-table/master/src/extensions/export/bootstrap-table-export.js"></script>

<div class="row">
   <h1>View Volunteer Hours</h1>
   <h3>{{working_group.name}}</h3>
</div>

{{#ifGreaterThan user.working_groups.length 1}}
<div class="row">
  <div class="form-group form-inline">
    <select class="form-control" id="working_groups">
      <option disabled selected>Select a working group...</option>
        {{#each user.working_groups}}
          <option value='{{id}}'>{{name}}
            {{#if sub_groups}}
              (General)
            {{/if}}
          </option>
        {{/each}}
    </select>
  </div>
</div>
{{/ifGreaterThan}}

<div class="row">
   <table id="vol_hours" class="fadeIn" data-pagination="true" data-search="true" data-toggle="table" data-striped="true" data-show-export="true" data-export-options='{"fileName": "shrub_{{working_group.name}}_volunteer_hours"}'>
    <thead>
      <th data-sortable="true" data-field="member_id" class="hidden">Member ID</th>
      <th data-sortable="true" data-field="name">Name</th>
      <th data-sortable="true" data-field="date">Date</th>
      <th data-sortable="true" data-field="duration">Duration (hours)</th>
    </thead>
    <tbody>
      {{#each hours}}
        <tr>
          <td>{{member_id}}</td>
          <td>{{{name}}}</td>
          <td>{{date}}</td>
          <td>{{duration}}</td>
        </tr>
      {{/each}}
    </tbody>
   </table>
</div>


<script>
$('#working_groups').on('change', function () {
  var url = "/working-groups/view-volunteer-hours/" + $(this).val();
  window.location = url;
});
</script>