<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>

<div class="row mt-4 ml-1">
  <div class="col-lg-8 col-md-10 mx-auto">

      <div class="row">

        {{#ifCond user.permissions.volunteerRoles.view '==' true}}
          {{>working-groups/select selectedGroup=group_id id="working_groups" user=user path="/volunteers/roles/manage?group_id="}}
        {{else}}
          {{>working-groups/select selectedGroup=group_id allGroups=false id="working_groups" user=user path="/volunteers/roles/manage?group_id="}}
        {{/ifCond}}

      </div>


  </div>
</div>
<div class="row mt-1 mb-4">

	<div class="col-lg-8 col-md-10 mx-auto">
			<table class="fadeIn table-light" data-pagination="true" data-search="true" data-striped="true" data-toggle="table" style="border: none !important;">
				<thead>
					<th data-sortable="true">Role Title</th>
          <th data-sortable="true">Working Group</th>
          <th data-sortable="true">Status</th>
          <th data-sortable="true">On Website</th>
					<th></th>
				</thead>
				<tbody>
          {{#each roles}}
            {{#ifCond group_id '==' ../group_id}}
              <tr>
                <td>
                  {{details.title}}
                </td>
                <td>
                  {{#if group_id}}
                    {{lookup (lookup ../user.allWorkingGroupsObj group_id) 'name'}}
                  {{else}}
                    Not Applicable
                  {{/if}}
                </td>

                <td>
                  {{#if incomplete}}
                    <p class="text-danger">Incomplete</p>
                  {{else}}
                    {{#if removed}}
                      <p class="text-danger">Disabled</p>
                    {{else}}
                      <p class="text-success">Active</p>
                    {{/if}}
                  {{/if}}
                </td>
                <td>
                  {{#if public}}
                    <p class="text-success">Published</p>
                  {{else}}
                    <p class="text-muted">Unpublished</p>
                  {{/if}}
                </td>
                <td>
                  <a href="{{public_address}}/volunteers/roles/view/{{role_id}}" class="btn btn-block btn-primary">

                    {{#if ../user.permissions.volunteers.update}}
                    View/Update
                    {{else}}
                    View
                    {{/if}}
                  </a>
                </td>
              </tr>
            {{/ifCond}}
          {{/each}}
				</tbody>
			</table>
	</div>

</div>
