{{#ifUserClass user.class '["admin", "staff"]'}}

<div class="row mt-4">
  <div class="col-md-6 mx-auto">
    <div class="row mt-2">
      <div class="col-md-4 mx-auto">
        <a class="btn btn-block btn-success" href="{{public_address}}/volunteers/roles/update/{{role.role_id}}">Update</a>
      </div>
      <div class="col-md-4 mx-auto">
          <button class="btn btn-block btn-primary" onclick="location.href='{{public_address}}/api/get/volunteers/roles/toggle-privacy/{{role.role_id}}'" {{#if role.removed}}disabled{{/if}} {{#if role.incomplete}}disabled{{/if}}>
            {{#if role.public}}
              Unpublish From Website
            {{else}}
              Publish To Website
            {{/if}}
          </button>

      </div>
      <div class="col-md-4 mx-auto">
        {{#if role.removed}}
          <a class="btn btn-block btn-info" href="{{public_address}}/api/get/volunteers/roles/activate/{{role.role_id}}">Reactivate</a>
        {{else}}
          <a class="btn btn-block btn-danger" href="{{public_address}}/api/get/volunteers/roles/remove/{{role.role_id}}">Deactivate</a>
        {{/if}}
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-4 mx-auto">
        <a class="btn btn-block btn-primary" href="{{public_address}}/volunteers/roles/make-copy/{{role.role_id}}">Make A Copy</a>
        </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-12">
        <table class="table-light mt-4 mx-auto" style="width: 100%;">
          <tr class="p-2">
            <td class="p-3">
              <p><b>Role ID</b></p>
            </td>
            <td class="p-3">
              <p>{{role.role_id}}</p>
            </td>
          </tr>

          <tr class="p-2">
            <td class="p-3">
              <p><b>Privacy Status</b></p>
            </td>
            <td class="p-3">
              <p>
                {{#if role.public}}
                  Public
                {{else}}
                  Private
                {{/if}}
              </p>
            </td>
          </tr>

          <tr class="p-2">
            <td class="p-3">
              <p><b>Working Group</b></p>
            </td>
            <td class="p-3">
              <p>
                {{#if role.group_id}}
                  {{lookup (lookup user.allWorkingGroupsObj role.group_id) 'name'}}
                {{else}}
                  Not Applicable
                {{/if}}
              </p>
            </td>
          </tr>

          <tr class="p-2">
            <td class="p-3">
              <p><b>Date Created</b></p>
            </td>
            <td class="p-3">
              <p>
                {{role.dateCreated}}
              </p>
            </td>
          </tr>

        </table>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-12">
        <table class="table-light mt-4 mx-auto" style="width: 100%;">

          {{#each role.details}}
            <tr class="p-2">
              <td class="p-3">
                <p>
                  <b>
                    {{formToPlain @key}}
                  </b>
                </p>
              </td>
              <td class="p-3">
                <p>{{this}}</p>
              </td>
            </tr>
          {{/each}}
        </table>
      </div>
    </div>

    {{#if role.availability}}
      <div class="row mt-4">
        <div class="col-md-12">
          <h4 class="mt-4 mb-1">Availability</h4>
          <table class="table-light table-striped mt-4 mx-auto" style="width: 100%;">
            {{>volunteers/availability-view availability=role.availability}}
          </table>
        </div>
      </div>
    {{/if}}

  </div>
</div>

{{else}}

<div class="row mt-4">
  <div class="col-md-6 mx-auto">

    <div class="row mt-4">
      <div class="col-md-12">
        <h3 class="text-center">{{role.details.title}}</h3>
        <p class="text-center">with {{group.name}}</p>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-12">
        <table class="table-light table-responsive mt-4 mx-auto" style="width: 100%;">

          {{#each role.details}}
            <tr class="p-2">
              <td class="p-3">
                <p>
                  <b>
                    {{formToPlain @key}}
                  </b>
                </p>
              </td>
              <td class="p-3">
                <p>{{this}}</p>
              </td>
            </tr>
          {{/each}}
        </table>
      </div>
    </div>



  </div>
</div>

{{/ifUserClass}}
