<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
<script src="{{public_address}}/assets/js/till-balance.js"></script>

<div class="row mt-5 ml-1">
	<div class="card">
		<div class="card-body">
			<h3>
				<span id="tillName" {{#if user.permissions.tills.updateSettings}}contenteditable="true"{{/if}} class="align-middle">{{till.name}}</span>
				<span class="{{#if status.opening}}text-success{{else}}text-danger{{/if}} align-top">&#9679;</span></h3>
				<p id="tillBalanceWrapper" class="d-none text-muted mb-0">Till Balance: <b>£<span id="tillBalance"></span></b></p>
			{{#if till.disabled}}
				<p class="text-danger font-weight-bold mt-1">Disabled</p>
			{{else}}
				{{#unless status.opening}}
					<a href="{{public_address}}/till/open/{{till.till_id}}" class="btn btn-block btn-primary mt-3">Open Till</a>
				{{/unless}}
			{{/if}}
		</div>
	</div>
</div>




<div class="row mt-4 mb-4">

	{{#if user.permissions.tills.viewReports}}
			<div class="col-md-4 mb-3">
				<a href="{{public_address}}/till/reports/{{till.till_id}}">
					<div class="card border-left-purple btn text-left shadow w-100 py-2">
						<div class="card-body">
							<div class="row no-gutters align-items-center">
								<div class="col">
									<div class="text-xs font-weight-bold text-purple text-uppercase mb-1">Reports</div>
									{{#unless till.disabled}}
										<p class="mb-0 font-weight-bold">View analytics and reports</p>
									{{ else }}
										<p class="mb-0">View historic reports</p>
									{{/unless}}
								</div>
							</div>
						</div>
					</div>
				</a>
			</div>
		{{/if}}


		{{#if user.permissions.tills.viewStock}}
			<div class="col-md-4  mb-3">
				<a href="{{public_address}}/till/stock/levels/view/{{till.till_id}}">
					<div class="card border-left-emerald btn text-left shadow w-100 py-2">
						<div class="card-body">
							<div class="row no-gutters align-items-center">
								<div class="col">
									<div class="text-xs font-weight-bold text-emerald text-uppercase mb-1">Stock Check</div>
									<p class="mb-0 font-weight-bold">View current stock levels</p>
								</div>
							</div>
						</div>
					</div>
				</a>
			</div>
		{{/if}}

		{{#if user.permissions.tills.manageStock}}
			{{#unless till.disabled}}
				<div class="col-md-4 mb-3">
					<a href="{{public_address}}/till/stock/levels/manage/{{till.till_id}}">
						<div class="card border-left-info btn text-left shadow w-100 py-2">
							<div class="card-body">
								<div class="row no-gutters align-items-center">
									<div class="col">
										<div class="text-xs font-weight-bold text-info text-uppercase mb-1">Update Stock Levels</div>
										<p class="mb-0 font-weight-bold">Add/remove stock</p>
									</div>
								</div>
							</div>
						</div>
					</a>
				</div>
			{{/unless}}
		{{/if}}

</div>
<div class="row">
	{{#if user.permissions.tills.updateCategories}}
		{{#unless till.disabled}}
			<div class="col-md-8">
			<div class="row">
				<div class="col-md-12 mx-auto">
					<div class="alert alert-info p-4">
						<span class="badge badge-pill badge-info mr-2">Tip</span>Right click (long press on mobile) a category to open the options menu.
					</div>
				</div>
			</div>

			<div class="row mt-3">
			  <div class="col-md-12 mx-auto">
			    {{>till/selection-ui mode="update-categories"}}
			  </div>
			</div>
		</div>
		{{/unless}}
	{{/if}}
	<div class="col-md-4">

			<div class="card text-left shadow w-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						<div class="h5 font-weight-bold mb-3">Quick Summary</div>
						<select id="datePeriod" class="form-control mb-1">
							<option value="today" selected>Today</option>
							<option value="week">This Week</option>
							<option value="month">This Month</option>
							<option value="year">This Year</option>
							<option value="all-time">All-time</option>
						</select>

						<div id="revenueChartContainer" class="container p-3">
							<canvas id="revenueChart" class="d-none" height=100 width=100></canvas>
						</div>

						<div id="quickSummaryCard">
							<p>Total Revenue: <b><span id="totalRevenue"></span></b></p>
							<p>Tokens Spent: <b><span id="tokensSpent"></span></b></p>
							<p>Tokens Issued: <b><span id="tokensIssued"></span></b></p>
							<p>No. Transactions: <b><span id="numberOfTransactions"></span></b></p>
						</div>
					</div>
				</div>
			</div>

	</div>

</div>





<script>

getRunningBalance("{{public_address}}", "{{till.till_id}}");

var ctx = document.getElementById('revenueChart');
var revenueChart = new Chart(ctx, {
	type: 'doughnut',
	data: {
		datasets: [{
			data: [],
			backgroundColor: [
				"rgb(54, 162, 235)",
				"rgb(75, 192, 192)",
				"#EFEFEF"
			],
			label: ''
		}],
		labels: [
			'Cash',
			'Card',
			'Unknown'
		]
	},
	options: {
		maintainAspectRatio: true,
		responsive: true,
		animation: {
			animateScale: true,
			animateRotate: true
		}
	}
});



$("document").ready(function(){
	getQuickSummary();
})

$("#datePeriod").on("change", function(){
	getQuickSummary();
})

function getQuickSummary(){
		$("#quickSummaryCard").css("opacity", 0)
	$.ajax(
		{
			type:"POST",
			url:"{{public_address}}/api/post/tills/reports/quick-summary",
			data: {
				till_id: "{{till.till_id}}",
				datePeriod: $("#datePeriod").val() || "today"
			},

		success: function(response){

			$("#quickSummaryCard").animate({opacity:1});

			if(response.status == "ok" && response.summary){

				if(response.summary.revenue.breakdown.cash > 0 || response.summary.revenue.breakdown.card > 0 || response.summary.revenue.breakdown.unknown > 0){
					$("#revenueChart").removeClass("d-none")
					$("#revenueChartContainer").addClass("p-3")
					$("#revenueChartContainer").removeClass("mb-2")

					revenueChart.data.datasets[0].data = [response.summary.revenue.breakdown.cash.toFixed(2), response.summary.revenue.breakdown.card.toFixed(2)]
					revenueChart.data.labels = ["Cash", "Card"]

					if(response.summary.revenue.breakdown.unknown > 0) {
						revenueChart.data.datasets[0].data.push(response.summary.revenue.breakdown.unknown.toFixed(2))
						revenueChart.data.labels.push("Other")
					}
					revenueChart.update();
				} else {
					$("#revenueChartContainer").removeClass("p-3")
					$("#revenueChartContainer").addClass("mb-2")
					$("#revenueChart").addClass("d-none")
				}



				$("#totalRevenue").text("£" + response.summary.revenue.total.toFixed(2))
				$("#tokensSpent").text(Math.ceil(response.summary.tokens.spent) + " tokens")
				$("#tokensIssued").text(Math.ceil(response.summary.tokens.issued) + " tokens")
				$("#numberOfTransactions").text(response.summary.numberOfTransactions + " transactions")
			} else {
				$("#totalRevenue").text("£0.00")
				$("#tokensSpent").text("0 tokens")
				$("#tokensIssued").text("0 tokens")
				$("#numberOfTransactions").text("0 transactions")
			}
		}
	})
}



{{#if user.permissions.tills.updateSettings}}

	var typingTimer;
	var doneTypingInterval = 500;
	var nameInput = document.getElementById("tillName");

	nameInput.addEventListener("keyup", function(){
		clearTimeout(typingTimer)
		if(nameInput.innerText){
			typingTimer = setTimeout(updateSettings, doneTypingInterval)
		}
	})

	function updateSettings() {
	  var till = {}
	  till.name = $("#tillName").text();
	  till.till_id = "{{{till.till_id}}}"
	  $.ajax({
	    type: "POST",
	    url: "{{public_address}}/api/post/tills/update",
	    data: {
	      "till": till
	    },
      success: function(response){
        if(response.status == "ok"){
          alert(response.msg);
        } else {
          alert(response.msg);
        }
      }
	  })
	}

{{/if}}

</script>
