{{#if till}}


  {{> till/transaction}}


	{{> till/get-recent-transactions}}


{{ else }}

<div class="row mt-5 mb-5">
	<div class="col-md-4 offset-md-4">
			<div class="card">
					<div class="card-body">

          	<center>
          		<h2>{{title}}</h2>
          	</center>
          	<hr />

    				<select class="form-control" id="tills">
    					<option>Select a till...</option>
    					{{#each tills}}
                {{#ifCond ../user.permissions.tills.processTransaction '==' true}}
                  <option value="{{till_id}}">{{name}}</option>
                {{else}}
                  {{#if (lookupArray ../user.working_groups group_id)}}
        						<option value="{{till_id}}">{{name}}</option>
                  {{/if}}
                {{/ifCond}}
    					{{/each}}
    				</select>
          </div>
      </div>
  </div>
</div>

	<script>

		$('#tills').on('change', function () {
		  var url = "{{public_address}}/till/open/" + $(this).val();
		  window.location = url;
		});

	</script>

{{/if}}
