<div class="row mt-5 ml-1">
	<div class="card">
		<div class="card-body">
			<h3 class="mb-3">{{till.name}} <span class="{{#if status.opening}}text-success{{else}}text-danger{{/if}}">&#9679;</span></h3>
			{{#if status.opening}}
		  	<a href="{{public_address}}/till/{{till.till_id}}" class="btn btn-block btn-primary">Go To Till</a>
			{{else}}
				<a href="{{public_address}}/till/{{till.till_id}}" class="btn btn-block btn-primary">Open Till</a>
			{{/if}}
		</div>
	</div>
</div>


<div class="row mt-4">
	{{#if user.permissions.tills.updateCategories}}
		<div class="col-lg-6 mx-auto">
			<div class="row">

		     <div class="col-md-12" id="options"> </div>

			</div>
		</div>
	{{/if}}

	{{#if user.permissions.tills.updateSettings}}
		<div class="col-lg-3 mx-auto">

			<div class="card">
				<div class="card-body">

		    <h3 class="mb-3">Settings</h3>

		    <input type="text" class="form-control mb-4" placeholder="Till Name" id="till_name" value="{{till.name}}">

		    <a class="btn btn-primary btn-block" onclick="updateSettings()">Update</a>
			</div>
	  </div>
	{{/if}}

	</div>
</div>


	{{#if user.permissions.tills.exportTransactions}}
		<div class="row mt-4">
			<div class="col-md-12">
				<div class="row">
					<div class="col-12 col-lg-10 col-xl-9 mx-auto">
						<form class="form-inline" action="{{public_address}}/till/manage/{{till.till_id}}" method="GET">
							<label class="sr-only" for="startDate">Start Date</label>
						  <input type="date" class="form-control mb-2 mr-sm-2" id="startDate" name="startDate" placeholder="Start Date" value="{{startDate}}">

							<label class="sr-only" for="endDate">End Date</label>
						  <input type="date" class="form-control mb-2 mr-sm-2" id="endDate" name="endDate" placeholder="End Date" value="{{endDate}}">


						  <button type="submit" class="btn btn-primary mb-2">Get Transactions</button>
						</form>
					</div>
				</div>
				{{#ifCond startDate '||' endDate}}
					{{> till/transactions/recent pageSize=1000 startDate=startDate endDate=endDate}}
				{{/ifCond}}
			</div>
		</div>
		{{/if}}


<script>
{{#if user.permissions.tills.updateSettings}}
	function updateSettings() {
	  var till = {}
	  till.name = $("#till_name").val();
	  till.till_id = "{{{till.till_id}}}"
	  $.ajax({
	    type: "POST",
	    url: "{{public_address}}/api/post/tills/update",
	    data: {
	      "till": till
	    },
	      success: function(response){
	        if(response.status == "ok"){
	          alert(response.msg);
	        } else {
	          alert(response.msg);
	        }
	      }
	  })
	}
{{/if}}


</script>
{{#if user.permissions.tills.updateCategories}}
	{{> till/categories}}
{{/if}}
