<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>

<div class="row mt-5 ml-1">
	<div class="card">
		<div class="card-body">
			<h3>
				<span id="tillName" {{#if user.permissions.tills.updateSettings}}contenteditable="true"{{/if}}>{{till.name}}</span>
				<span class="{{#if status.opening}}text-success{{else}}text-danger{{/if}}">&#9679;</span></h3>
			{{#if till.disabled}}
				<p class="text-danger font-weight-bold mt-1">Disabled</p>
			{{else}}
				{{#if status.opening}}
			  	<a href="{{public_address}}/till/transaction/{{till.till_id}}" class="btn btn-block btn-primary mt-3">Go To Till</a>
				{{else}}
					<a href="{{public_address}}/till/open/{{till.till_id}}" class="btn btn-block btn-primary mt-3">Open Till</a>
				{{/if}}
			{{/if}}
		</div>
	</div>
</div>




	<div class="row mt-4">
		{{#unless till.disabled}}
			{{#if user.permissions.tills.updateCategories}}
				<div class="col-md-6">

					<div class="row mb-3">
						<div class="card">
							<div class="card-body">
								<h5 class="mb-2">Manage Categories</h5>
								<p>Add, update, move and remove categories that appear in the till!</p>
								<p class="text-muted">Tip: left-click (or hold down on mobile) an item to open its menu</p>
							</div>
						</div>
					</div>


					<div class="row">

						 {{>till/selection-ui}}

					</div>

				</div>
			{{/if}}
		{{/unless}}

		{{#if user.permissions.tills.exportTransactions}}
			<div class="col-md-4">
				<div class="card">
					<div class="card-body">
						{{#unless till.disabled}}
							<h5 class="mb-2">Quick Summary</h5>
							<select id="datePeriod" class="form-control mb-1">
								<option value="today" selected>Today</option>
								<option value="week">This Week</option>
								<option value="month">This Month</option>
								<option value="year">This Year</option>
								<option value="all-time">All-time</option>
							</select>

							<div id="revenueChartContainer" class="container p-3">
								<canvas id="revenueChart" class="d-none" height=100 width=100></canvas>
							</div>

							<div id="quickSummaryCard">
								<p>Total Revenue: <b><span id="totalRevenue"></span></b></p>
								<p>Tokens Spent: <b><span id="tokensSpent"></span></b></p>
								<p>Tokens Issued: <b><span id="tokensIssued"></span></b></p>
								<p>No. Transactions: <b><span id="numberOfTransactions"></span></b></p>
							</div>

							<a class="btn btn-primary btn-block mt-3" href="{{public_address}}/till/reports/{{till.till_id}}">More Reports</a>
						{{else}}
							<p class="text-muted">This till is <span class="font-weight-bold">disabled</span>.</p>
							<a class="btn btn-primary btn-block mt-3" href="{{public_address}}/till/reports/{{till.till_id}}">View Historic Reports</a>
						{{/unless}}

					</div>
				</div>
			</div>
		{{/if}}

	</div>



<script>

var ctx = document.getElementById('revenueChart');
var revenueChart = new Chart(ctx, {
	type: 'doughnut',
	data: {
		datasets: [{
			data: [],
			backgroundColor: [
				"rgb(54, 162, 235)",
				"rgb(75, 192, 192)",
				"#EFEFEF"
			],
			label: ''
		}],
		labels: [
			'Cash',
			'Card',
			'Unknown'
		]
	},
	options: {
		maintainAspectRatio: true,
		responsive: true,
		animation: {
			animateScale: true,
			animateRotate: true
		}
	}
});



$("document").ready(function(){
	getQuickSummary();
})

$("#datePeriod").on("change", function(){
	getQuickSummary();
})

function getQuickSummary(){
		$("#quickSummaryCard").css("opacity", 0)
	$.ajax(
		{
			type:"POST",
			url:"{{public_address}}/api/post/tills/reports/quick-summary",
			data: {
				till_id: "{{till.till_id}}",
				datePeriod: $("#datePeriod").val() || "today"
			},

		success: function(response){

			$("#quickSummaryCard").animate({opacity:1});

			if(response.status == "ok" && response.summary){

				if(response.summary.revenue.breakdown.cash > 0 || response.summary.revenue.breakdown.card > 0 || response.summary.revenue.breakdown.unknown > 0){
					$("#revenueChart").removeClass("d-none")
					$("#revenueChartContainer").addClass("p-3")
					$("#revenueChartContainer").removeClass("mb-2")

					revenueChart.data.datasets[0].data = [response.summary.revenue.breakdown.cash.toFixed(2), response.summary.revenue.breakdown.card.toFixed(2)]
					revenueChart.data.labels = ["Cash", "Card"]

					if(response.summary.revenue.breakdown.unknown > 0) {
						revenueChart.data.datasets[0].data.push(response.summary.revenue.breakdown.unknown.toFixed(2))
						revenueChart.data.labels.push("Other")
					}
					revenueChart.update();
				} else {
					$("#revenueChartContainer").removeClass("p-3")
					$("#revenueChartContainer").addClass("mb-2")
					$("#revenueChart").addClass("d-none")
				}



				$("#totalRevenue").text("£" + response.summary.revenue.total.toFixed(2))
				$("#tokensSpent").text(Math.ceil(response.summary.tokens.spent) + " tokens")
				$("#tokensIssued").text(Math.ceil(response.summary.tokens.issued) + " tokens")
				$("#numberOfTransactions").text(response.summary.numberOfTransactions + " transactions")
			} else {
				$("#totalRevenue").text("£0.00")
				$("#tokensSpent").text("0 tokens")
				$("#tokensIssued").text("0 tokens")
				$("#numberOfTransactions").text("0 transactions")
			}
		}
	})
}



{{#if user.permissions.tills.updateSettings}}

	var typingTimer;
	var doneTypingInterval = 500;
	var nameInput = document.getElementById("tillName");

	nameInput.addEventListener("keyup", function(){
		clearTimeout(typingTimer)
		if(nameInput.innerText){
			typingTimer = setTimeout(updateSettings, doneTypingInterval)
		}
	})

	function updateSettings() {
	  var till = {}
	  till.name = $("#tillName").text();
	  till.till_id = "{{{till.till_id}}}"
	  $.ajax({
	    type: "POST",
	    url: "{{public_address}}/api/post/tills/update",
	    data: {
	      "till": till
	    },
      success: function(response){
        if(response.status == "ok"){
          alert(response.msg);
        } else {
          alert(response.msg);
        }
      }
	  })
	}

{{/if}}

</script>
