<div class="card p-4">
  <div class="card-body">

    <input type="text" class="form-control mb-2" placeholder="Role Title" name="role_title"{{#if role.title}} value="{{role.title}}"{{/if}} maxlength="50" required>

    <textarea class="form-control mb-2" placeholder="Short Description" name="short_description" maxlength="150" required>{{#if role.short_description}}{{role.short_description}}{{/if}}</textarea>

    <textarea class="form-control mb-2" placeholder="Experience Required" name="experience_required" maxlength="150" required>{{#if role.experience_required}}{{role.experience_required}}{{/if}}</textarea>

    <textarea class="form-control mb-2" placeholder="Experience Gained" name="experience_gained" maxlength="150" required>{{#if role.experience_gained}}{{role.experience_gained}}{{/if}}</textarea>

    <div class="form-inline mt-3">
      <label class="form-inline ml-1 mr-2">Required Hours (per week)</label>
      <input type="number" name="hours_per_week" class="form-control form-inline" max=15 min=1 step=0.5 value="{{#if role.hours_per_week}}{{role.hours_per_week}}{{else}}0{{/if}}" required />
    </div>

    <select class="form-control mt-3" name="commitment_length">
      <option disabled selected>Commitment length</option>
      {{#each commitmentLengths}}
        <option value="{{this}}" {{#ifCond this '==' ../role.commitment_length}}selected{{/ifCond}}>{{formToPlain this}}</option>
      {{/each}}
    </select>

    <select class="form-control mt-3" name="working_group">
      <option disabled selected>Relevant working group</option>
      <option value="" {{#unless role.working_group}}selected{{/unless}}>Not Applicable</option>
      {{#each user.allWorkingGroupsObj}}
        <option value="{{group_id}}" {{#ifCond group_id '==' ../role.working_group}}selected{{/ifCond}}>{{name}}</option>
      {{/each}}
    </select>

    <select class="selectpicker show-tick form-control mt-3" name="locations" title="Select one or more locations" data-style="btn-info" data-size="auto" data-header="Select one or more locations" data-live-search="true" multiple required>

      {{#each locations}}
        <option value="{{this}}" {{#if (lookup ../role.locations @index)}}selected{{/if}}>{{this}}</option>
      {{/each}}

    </select>

    <select class="selectpicker show-tick form-control mt-3" name="activities" title="Select one or more types of activity" data-style="btn-info" data-size="auto" data-header="Select one or more locations" data-live-search="true" multiple required>

      {{#each activities}}
        <option value="{{this}}" {{#if (lookup ../role.activities @index)}}selected{{/if}}>{{this}}</option>
      {{/each}}

    </select>

  </div>
</div>

<div class="card mt-4">
  <div class="card-body">
      <h3 class="mb-3">Required Availability</h3>
      {{>volunteers/availability}}
  </div>
</div>
