<div class="card p-4">
  <div class="card-body">

    <input type="text" class="form-control mb-2" placeholder="Role Title" name="role_title"{{#if role.title}} value="{{role.title}}"{{/if}} maxlength="50" required>

    <textarea class="form-control mb-2" placeholder="Short Description" name="short_description" maxlength="500" required>{{#if role.short_description}}{{role.short_description}}{{/if}}</textarea>

    <textarea class="form-control mb-2" placeholder="Experience Required" name="experience_required" maxlength="500" required>{{#if role.experience_required}}{{role.experience_required}}{{/if}}</textarea>

    <textarea class="form-control mb-2" placeholder="Experience Gained" name="experience_gained" maxlength="500" required>{{#if role.experience_gained}}{{role.experience_gained}}{{/if}}</textarea>

    <div class="form-inline mt-3">
      <label class="form-inline ml-1 mr-2">Required Hours (per week)</label>
      <input type="number" name="hours_per_week" class="form-control form-inline" max=15 min=1 step=0.5 value="{{#if role.hours_per_week}}{{role.hours_per_week}}{{else}}0{{/if}}" required />
    </div>

    <select class="form-control mt-3" name="commitment_length">
      <option disabled selected>Commitment length</option>
      {{#each commitmentLengths}}


        {{#if this}}
          <option value="{{@key}}"{{#ifCond ../role.commitment_length '==' @key}} selected{{/ifCond}}>{{@key}}</option>
        {{else}}
          {{#ifCond ../role.commitment_length '==' @key}}
            <option value="{{@key}}" selected>{{@key}}</option>
          {{/ifCond}}
        {{/if}}



      {{/each}}
    </select>
    <div class="mt-3">
      {{#if addingRole}}
        {{#ifCond user.permissions.volunteerRoles.add '==' true}}
          {{>working-groups/select selectedGroup=role.working_group id="working_group" user=user}}
        {{else}}
          {{>working-groups/select selectedGroup=role.working_group allGroups=false id="working_group"}}
        {{/ifCond}}
      {{/if}}
      {{#if updatingRole}}
        {{#ifCond user.permissions.volunteerRoles.update '==' true}}
          {{>working-groups/select selectedGroup=role.working_group id="working_group" user=user}}
        {{else}}
          {{>working-groups/select selectedGroup=role.working_group allGroups=false id="working_group"}}
        {{/ifCond}}
      {{/if}}

    </div>

    <select class="selectpicker show-tick form-control mt-3" name="locations" title="Select one or more locations" data-style="btn-info" data-size="auto" data-header="Select one or more locations" data-live-search="true" multiple required>

      {{#each locations}}

          {{#if this}}
            <option value="{{@key}}"{{#if (lookupArray ../role.locations @key)}} selected{{/if}}>{{@key}}</option>
          {{else}}
            {{#if (lookupArray ../role.locations @key)}}
              <option value="{{@key}}" selected>{{@key}}</option>
            {{/if}}
          {{/if}}

      {{/each}}

    </select>

    <select class="selectpicker show-tick form-control mt-3" name="activities" title="Select one or more types of activity" data-style="btn-info" data-size="auto" data-header="Select one or more locations" data-live-search="true" multiple required>

      {{#each activities}}

          {{#if this}}
            <option value="{{@key}}"{{#if (lookupArray ../role.activities @key)}} selected{{/if}}>{{@key}}</option>
          {{else}}
            {{#if (lookupArray ../role.activities @key)}}
              <option value="{{@key}}" selected>{{@key}}</option>
            {{/if}}
          {{/if}}

      {{/each}}

    </select>

  </div>
</div>

<div class="card mt-4">
  <div class="card-body">
      <h3 class="mb-3">Availability</h3>
      {{>volunteers/availability formPrefix='availability'}}
  </div>
</div>
