<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
<script src="{{public_address}}/assets/js/till-balance.js"></script>

<div class="row mt-5 ml-1">
	<div class="card">
		<div class="card-body">
			<h3>
				<span id="tillName" class="align-middle">{{till.name}}</span>
				<span class="{{#if status.opening}}text-success{{else}}text-danger{{/if}} align-top">&#9679;</span></h3>
				<p id="tillBalanceWrapper" class="d-none text-muted mb-0">Till Balance: <b>£<span id="tillBalance"></span></b></p>
			{{#if till.disabled}}
				<p class="text-danger font-weight-bold mt-1">Disabled</p>
			{{/if}}
		</div>
	</div>
</div>



{{#unless till.disabled}}

	<div class="row mt-4">
	  <div class="col-md-8 mx-auto">
	    <div class="alert alert-info p-4">
	      <span class="badge badge-pill badge-info mr-2">Info</span><b>Only includes items which are currently under stock control</b>. To update available categories: <a href="{{public_address}}/till/stock/categories/manage/{{till.till_id}}">manage stock categories</a>
	    </div>
	  </div>
	</div>

	{{>till/stock/levels/manage}}
{{/unless}}




<script>

getRunningBalance("{{public_address}}", "{{till.till_id}}");

</script>
