<div class="row m-4">
  <div class="col-md-6 mx-auto">


    <form method="post" action="/users/add" class="form-group">

      <div class="card p-4">
        <div class="card-body">

          <div class="row">
            <div class="form-group form-inline">
              <div class="form-group">
                <input type="text" class="form-control mr-md-2 mr-lg-2 mr-xl-2" placeholder="First Name" name="first_name"{{#if first_name}} value="{{first_name}}"{{/if}}>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Last Name" name="last_name"{{#if last_name}} value="{{last_name}}"{{/if}}>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-sm-4" style="padding: 0;">
              <input type="text" class="form-control" placeholder="Username" name="username"{{#if username}} value="{{username}}"{{/if}}>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-sm-4" style="padding: 0;">
              <input type="email" class="form-control" placeholder="Email" name="email"{{#if email}} value="{{email}}"{{/if}}>
            </div>
          </div>

          <div class="row">
            <div class="form-group form-inline">
              <div class="form-group">
                <input type="password" class="form-control mr-md-2 mr-lg-2 mr-xl-2" placeholder="Password" name="password"{{#if password}} value="{{password}}"{{/if}}>
              </div>
              <div class="form-group">
                <input type="password" class="form-control" placeholder="Confirm password" name="passwordConfirm"{{#if passwordConfirm}} value="{{passwordConfirm}}"{{/if}}>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group form-inline">
              <select class="form-control" name="class">
                <option value="till">Till User</option>
                <!--<option value="volunteer">Volunteer Co-ordinator</option>
                <option value="staff">Staff Member</option>-->
                <option value="admin">Admin</option>
              </select>
            </div>
          </div>
          <div id="working_groups">
            <div class="row">
              <h4 class="mb-2">Working Groups</h4>
            </div>

            <div class="row">
              <div class="form-group form-inline">
                  <div class="form-group">
                    <select id="workingGroupSelect" class="form-control">
                      {{#each allWorkingGroups}}
                        <option value='{"{{group_id}}":"{{name}}"}'>{{name}}</option>
                      {{/each}}
                    </select>
                  </div>
                  <div class="form-group">
                      <a class="form-control btn btn-primary" onclick="addToJoinList()">Add</a>
                  </div>
              </div>
            </div>

            <div class="row">
              <div id="wgInfo">
                <p>User will belong to:</p>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-md-8">
                <ul id="workingGroupJoinSummary" class="list-group"></ul>
              </div>
            </div>
            <input type="hidden" name="working_groups" id="working_groups_json" value="" />

          </div>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-md-8 mx-auto">
          <button type="submit" class="btn btn-success btn-block btn-lg form-control">Add User</button>
        </div>
      </div>

    </form>
  </div>
</div>


<script>
$("document").ready(function(){
    if(document.getElementsByName("admin")[0].checked == true){
        $("#working_groups").toggleClass("d-none");
    }
});

var joinList = {{{json working_groups}}}

function addToJoinList(){
  var wg = JSON.parse($("#workingGroupSelect").val())
  joinList[Object.keys(wg)[0]] = wg[Object.keys(wg)[0]];
  updateSummary();
}

function removeFromJoinList(key){
  delete joinList[key];
  updateSummary();
}

function updateSummary(){

  $("#working_groups_json").val(JSON.stringify(joinList));

  if(Object.keys(joinList).length === 0 && joinList.constructor === Object){
    $("#wgInfo").addClass("d-none")
  } else {
    $("#wgInfo").removeClass("d-none")
  }

  $("#workingGroupJoinSummary").html("");
  Object.keys(joinList).forEach(function(key) {
    $("#workingGroupJoinSummary").html($("#workingGroupJoinSummary").html() + "<li class='list-group-item' id='" + key + "'>" + joinList[key] + " - <a onclick='removeFromJoinList(\"" + key + "\")' class='clickable text-info'>remove</a></li>");
  });

}

updateSummary();

</script>
