<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>

<div class="row">
	<h1>Users</h1>
</div>

<div class="row">
	<table class="fadeIn" data-pagination="true" data-search="true" data-toggle="table" data-striped="true" data-formatNoMatches="No users found!">
		<thead>
			<th data-sortable="true">Username</th>
			<th data-sortable="true">Name</th>
			<th data-sortable="true" class="hidden-xs hidden-sm">Email</th>
			<th data-sortable="true" class="hidden-xs hidden-sm">Admin</th>
			<th data-sortable="true" class="hidden-xs hidden-sm">Last Login</th>
		</thead>
		<tbody>
		{{#each users}}
			<tr>
				<td><a href="/users/update/{{id}}">{{username}}</a></td>
				<td>{{full_name}}</td>
				<td>{{email}}</td>
				<td>{{#if admin}}Yep{{else}}Nope{{/if}}</td>
				<td>{{#if last_login}}
						{{last_login}}
					{{else}}
						Never logged in
					{{/if}}</td>
			</tr>
		{{/each}}
		</tbody>
	</table>
</div>