<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>

<div class="row">
	<div class="mx-auto">
		<table class="fadeIn table-light" data-pagination="true" data-search="true" data-toggle="table" data-striped="true" data-formatNoMatches="No users found!">
		<thead>
			<th data-sortable="true">Name</th>
			<th data-sortable="true">Email</th>
			<th data-sortable="true" class="hidden-xs hidden-sm">Username</th>
			<th data-sortable="true" class="hidden-xs hidden-sm">Class</th>
			<th data-sortable="true" class="hidden-xs hidden-sm">Last Login</th>
			<th></th>
		</thead>
		<tbody>
		{{#each users}}
			{{#ifCond deactivated '==' 0}}
				<tr>
					<td>{{full_name}}</td>
					<td>{{email}}</td>
					<td>{{username}}</td>
					<td>
						{{#ifCond class '==' 'admin'}}
							Administrator
						{{/ifCond}}
						{{#ifCond class '==' 'staff'}}
							Staff Co-ordinator
						{{/ifCond}}
						{{#ifCond class '==' 'volunteer'}}
							Volunteer Co-ordinator
						{{/ifCond}}
						{{#ifCond class '==' 'till'}}
							Till User
						{{/ifCond}}
					</td>
					<td>
						{{#if lastLogin}}
							{{lastLogin}}
						{{else}}
							Never logged in
						{{/if}}
					</td>
					<td>
						<a href="{{public_address}}/users/update/{{id}}" class="btn btn-primary">View/Update</a>
					</td>
				</tr>
			{{/ifCond}}
		{{/each}}
		</tbody>
	</table>
		</div>
</div>
