<div class="row m-2 mt-4 mb-4">
  <div class="card mx-auto">
    <div class="card-body">
      <h2>{{viewedUser.first_name}} {{viewedUser.last_name}}</h2>
      <span>{{viewedUser.username}} | {{viewedUser.email}}</span>
      <p>Last login:
        {{#if viewedUser.lastLogin}}
          {{niceTimestamp viewedUser.lastLogin}}
        {{else}}
          never
        {{/if}}
      </p>
      {{#if viewedUser.deactivated}}
        <p class=text-danger>Deactivated</p>
      {{/if}}
    </div>
  </div>
</div>



<div class="row m-2">
    <div class="form-group form-inline mx-auto">
      {{#if viewedUser.canDeactivate}}
        {{#if viewedUser.deactivated}}
          <a href="{{public_address}}/users/activate/{{viewedUser.id}}" class="btn btn-success">Send Activation Link</a>
        {{else}}
          <a href="{{public_address}}/users/deactivate/{{viewedUser.id}}" class="btn btn-danger">Deactivate User</a>
        {{/if}}
      {{/if}}
      {{#ifCond user_id '==' user.id}}
        &emsp;<a href="{{public_address}}/users/change-password" class="btn btn-primary" onclick="return confirm('To change your password, you will be logged out. Is that ok?');">Change Password</a>
      {{/ifCond}}
    </div>
</div>

{{#if viewedUser.canUpdate}}

  <form method="post" action="{{public_address}}/users/update/{{viewedUser.id}}" class="form-group">

    {{>users/add updatingUser=true user=user first_name=viewedUser.first_name last_name=viewedUser.last_name userClass=viewedUser.class working_groups=viewedUser.working_groups}}

    {{#ifCond viewedUser.id '==' user.id}}
      {{>users/notification-preferences notification_preferences=viewedUser.notification_preferences}}
    {{/ifCond}}


    <div class="row mt-4">
      <div class="col-md-6 mt-4 mx-auto">
        <button type="submit" class="btn btn-block btn-primary btn-lg">Update User</button>
      </div>
    </div>
  </form>

{{/if}}
