<div class="row">
  <h2>{{viewedUser.first_name}} {{viewedUser.last_name}}</h2>
  <span>{{viewedUser.username}} | {{viewedUser.email}}</span>
  <p>Last login: 
    {{#if viewedUser.last_login}}
      {{viewedUser.last_login}}
    {{else}}
      never</p>
    {{/if}}

    <p><b>
      {{#if viewedUser.admin}}
        Administrator
      {{else}}
        Swapshop User
      {{/if}}
    </b></p>
</div>



  
  {{#if viewedUser.admin}}
    <div id="working_groups">
      <div class="row">
        <h4>Working Groups</h4>
      </div>

      <div class="row">
        <div id="wgInfo">
          <p>{{viewedUser.first_name}} is an admin of:</p>
        </div>
        <ul>
          {{#each viewedUser.working_groups}}
            <li>{{this}}</li>
          {{/each}}
        </ul>
      </div>
    </div>
  {{else}}
    <div class="row">
      <div class="form-group form-inline">
        <div class="form-group">
            <a class="btn btn-danger form-control" href="/users/deactivate/{{viewedUser.id}}">Deactivate User</a>
          </div>
      </div>
    </div>
  {{/if}}

