<div class="row">
  <h1>Carbon Categories</h1>
</div>

<div class="row">
  <p>Update categories used for carbon accounting!</p>
</div>

<hr />

<div class="row">
  <div class="form-group form-inline">
    <select class="form-control" id="carbonCategories">
      {{#each carbonCategories}}
        <option value='{{carbon_id}}'{{#ifCond carbon_id '==' ../selectedCategory.carbon_id}} selected{{/ifCond}}>{{name}}</option>
      {{/each}}
    </select>
  </div>
</div>

<form action="/settings/carbon-factors/{{selectedCategory.carbon_id}}" method="post">
  <div class="row">
    <div class="col-md8">
      <table class="table" style="width: auto !important;">
        {{#groupedEach 2 selectedCategory.factors}}
          <tr>
            {{#each this}}
              {{#each this}}
              <td style="vertical-align: middle;">
                <p><b>{{formToPlain @key}}:</b></p>
              </td>
              <td>
                <input class="form-control" type="text" value="{{this}}" name="factors[{{@key}}]" />
              </td>
              {{/each}}
            {{/each}}
          </tr>
        {{/groupedEach}}

      </table>
    </div>
  </div>

  <div class="row">
    <div class="form-group form-inline">
      <div class="form-group">
          <button type="submit" class="btn btn-primary form-control">Update Factors</button>
        </div>
    </div>
  </div>

</form>

<script>
$('#carbonCategories').on('change', function () {
  var url = "/settings/carbon-factors/" + $(this).val();
  window.location = url;
});
</script>