

<style>

.nuanceAccess {
  background-color: orange;
  color: white;
}

.alwaysAccess {
  background-color: green;
  color: white;
}

.noAccess {
  background-color: red;
  color: white;
}
</style>

<div class="row">
  <div class="col-md-8 mx-auto">

    <form action="{{public_address}}/settings/data-permissions/{{userClass}}" method="POST">
      <div class="row mt-4">
        <div class="container">
          <select class="form-control" id="userClassSelect">
            <option value="till" {{#ifCond userClass '==' 'till'}}selected{{/ifCond}}>Till User</option>
            <option value="volunteer" {{#ifCond userClass '==' 'volunteer'}}selected{{/ifCond}}>Volunteer Co-ordinator</option>
            <option value="staff" {{#ifCond userClass '==' 'staff'}}selected{{/ifCond}}>Staff Co-ordinator</option>
            <option value="admin" {{#ifCond userClass '==' 'admin'}}selected{{/ifCond}}>Admin</option>
          </select>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-12">
          <table class="table-light mt-4 mx-auto" style="width: 100%;">


            {{#each permissions}}
              <tr class="p-2">
                <td></td>
                <td class="p-3">
                  <p>
                    <!--Data Subject-->
                    {{camelCaseToPlain @key}}

                  </p>

                  {{#ifCond @key '==' 'foodCollections'}}

                   <small class="text-muted">Restricted to the <b>Food Collections</b> working group.</small>

                  {{/ifCond}}
                </td>
                <td></td>
                <td></td>
                <td>

                    {{#each this}}

                    <tr class="p-2{{#ifCond @../key '==' 'volunteers'}}{{#ifCond @key '==' 'invite'}} mt-4{{/ifCond}}{{/ifCond}}">
                      <td></td>
                      <td></td>
                      <td class="p-3">
                        <p>
                            <!--Specific Data-->
                            {{camelCaseToPlain @key}}

                        </p>
                      </td>
                      <td class="p-3">
                        <div class="container">
                        <!--Status-->



                          {{>settings/data-permissions-dropdown value=this userClass=@../../key subject=@../key specific=@key}}


                          {{#ifCond @../key '==' 'volunteers'}}
                            {{#ifCond @key '==' 'invite'}}
                              <p>
                                <small class="text-muted">Restricted to the <b>Food Collections</b> working group.</small>
                              </p>
                            {{/ifCond}}
                          {{/ifCond}}

                        </div>



                      </td>

                    </tr>

                    {{/each}}


                </td>

              </tr>
              {{/each}}

          </table>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-12">
          <button class="btn btn-block btn-lg btn-primary" type="submit">Update Permissions</button>
        </div>
      </div>
    </form>

  </div>
</div>

<script>
  $("#userClassSelect").on('change', function(){
    location.href = "{{public_address}}/settings/data-permissions/" + this.value;
  })

  $(document).ready(function(){
    $(".permissionsDropdown").on("change", function(){

      if(this.value == "false") {
        $(this).removeClass("nuanceAccess");
        $(this).removeClass("alwaysAccess");
        $(this).addClass("noAccess");
      } else if (this.value == "true") {
        
        $(this).removeClass("nuanceAccess");
        $(this).removeClass("noAccess");
        $(this).addClass("alwaysAccess");
      } else {
        $(this).removeClass("alwaysAccess");
        $(this).removeClass("noAccess");
        $(this).addClass("nuanceAccess");
      }
    })
  })



</script>
