<!-- include summernote css/js -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.js"></script>

<!-- Include bootstrap checkbox style thing -->
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

<form action="{{public_address}}/settings/email-templates/{{template.mail_id}}" method="POST">


      <div class="row mt-4">
        <div class="col-md-8 mx-auto">
          <div class="form-group form-inline">
            <select class="form-control" id="templates">
              <option selected disbaled>Select an email template...</option>
              {{#each categories}}
                <optgroup label="{{plain}}" />
                {{#each ../templates}}
                  {{#ifCond category '==' ../id}}
                    <option value="{{mail_id}}" {{#ifCond mail_id '==' ../../template.mail_id}}selected{{/ifCond}}>
                      {{short_description}}
                    </option>
                  {{/ifCond}}
                {{/each}}
              {{/each}}

            </select>
          </div>
        </div>
      </div>


      <div class="row mt-4">
        <div class="col-md-8 mx-auto">
          <div class="card px-4">
            <div class="card-body">

              <div class="row">
                <p class="mb-2 font-weight-bold">
                  This template is currently
                  {{#if template.active}}
                    <span class="text-success">enabled</span>
                  {{else}}
                    <span class="text-danger">disabled</span>
                  {{/if}}
                </p>
              </div>
              {{#ifCond template.category '!=' 'footers'}}
                <div class="row">
                  <p>
                    Member footer:
                    {{#if (lookup templates "footer")}}
                      <span class="text-success">enabled</span>
                    {{else}}
                      <span class="text-danger">disabled</span>
                    {{/if}}
                  </p>
                </div>
                <div class="row">
                  <p class="mb-2">
                    Non-member footer:
                    {{#if (lookup templates "generic-footer")}}
                      <span class="text-success">enabled</span>
                    {{else}}
                      <span class="text-danger">disabled</span>
                    {{/if}}
                  </p>
                </div>
              {{/ifCond}}
              <div class="row">
                <div id="preview" style="width: 100%;">

                  <h4{{#ifCond template.category '==' 'footers'}} class="mb-2"{{/ifCond}}>Preview</h4>


                  {{#ifCond template.category '!=' 'footers'}}
                    <p>From: <b>SHRUB Coop</b></p>
                    <p class="mb-2">Subject: <b id="subject-preview"></b></p>
                  {{/ifCond}}
                  <div style="border: 1px grey solid; padding: 25px; width: 100%;">
                    <div id="preview-content">

                    </div>
                    {{#ifCond template.category '!=' 'footers'}}

                      {{#ifCond template.category '==' "common"}}
                        <div id="footer">
                          <hr />
                          {{{lookup (lookup templates "generic-footer") "markup"}}}
                        </div>
                      {{ else }}
                        <div id="footer">
                          <hr />
                          {{{lookup (lookup templates "footer") "markup"}}}
                        </div>
                      {{/ifCond}}
                    {{/ifCond}}
                  </div>



                </div>
              </div>

            </div>
          </div>
        </div>
      </div>


      <div class="row mt-4">
        <div class="col-md-8 mx-auto">
          <div class="card px-4">
          <div class="card-body">

            <div class="row mb-4 no-gutters">
                <div class="col mb-4">
                  {{#ifCond template.category '!=' 'footers'}}
                    <input type="text" name="subject" id="subject" style="width: 100%; margin-bottom: 15px;" oninput="update_preview()" class="form-control" value="{{template.subject}}">

                  {{/ifCond}}

                  <input type="checkbox" data-toggle="toggle" data-on="Enabled" data-off="Disabled" name="templateActive" id="templateActive" {{#if template.active}}checked{{/if}} />
                  <div class="row mt-4">
                    <div class="col-md-12">
                      <div id="editor" oninput="update_preview()" onblur="update_preview()">
                          {{{template.markup}}}
                      </div>
                      <input type="hidden" name="markup" id="markup" value="{{template.markup}}">
                    </div>
                  </div>

                </div>
            </div>



            <div class="row mt-4">
              <div id="mail_info">
                  <p>To include dynamic content in the body of an email, please use a | (vertical line symbol) at the start and end of its reference name</p>
                  <p class="mb-2">Find below the dynamic content available on this template:</p>
                    <div class="col-md-8 mx-auto">
                      <ul>
                        {{#each dynamicVariablesAvailable}}
                          {{#ifArrayIncludes ../template.mail_id availableOn }}
                            <li>
                              <p><b>{{@key}}</b> - {{descriptor}}</p>
                            </li>
                          {{/ifArrayIncludes}}

                        {{/each}}
                      </ul>
                    </div>
              </div>
            </div>



          </div>
        </div>
        </div>
      </div>



      <div class="row mt-4">
        <div class="col-md-8 mx-auto">
          <input type="submit" class="btn btn-primary btn-block btn-lg" value="Update Template">
        </div>
      </div>


</form>


<script>

var dynamicVariables = {{{json dynamicVariablesAvailable}}};
var template_id = "{{template.mail_id}}";

$('#templates').on('change', function () {
    var url = "{{public_address}}/settings/email-templates/" + $(this).val();
    window.location = url;
});

function update_preview(){
    var raw_markup = $("#editor").summernote('code');
    $("#markup").val(raw_markup.trim());
    var modified_markup = raw_markup;

    Object.keys(dynamicVariables).forEach(function(identifier){
      var variable = dynamicVariables[identifier];
      if(variable.availableOn.includes(template_id)){
        var regex = new RegExp("\\|" + identifier + "\\|", "g");
        modified_markup = modified_markup.replace(regex, variable.exampleData);
      }

    })

    {{#ifCond template.category '!=' 'footers'}}
      $("#subject-preview").html($("#subject").val());
    {{/ifCond}}
    $("#preview-content").html(modified_markup.trim());
}

$("document").ready(function(){
    $('#editor').summernote();
    update_preview();
});

$('#editor').on('summernote.change', function(we, contents, $editable) {
  update_preview();
});

</script>
