
<div class="row mt-4">

  <div class="col-md-4 mx-auto">
		{{#ifGreaterThan user.working_groups.length 1}}
	  <div class="row">
	    <div class="container">
	      <div class="form-group form-inline">
	        <select class="form-control" id="working_groups">
	          <option disabled selected>Select a working group...</option>
	            {{#each user.working_groups}}
	              <option value='{{group_id}}'{{#ifCond group_id '==' ../group.group_id}} selected{{/ifCond}}>{{name}}</option>
	            {{/each}}
	        </select>
	      </div>
	    </div>
	  </div>
	  {{else}}
	  <div class="row">
	    <div class="card">
	      <div class="card-body">
	        <h3>{{group.name}}</h3>
	      </div>
	    </div>
	  </div>
	  {{/ifGreaterThan}}
	</div>
</div>

<form action="{{public_address}}/settings/working-groups/{{group.group_id}}" method="POST">

  <div class="row">
		<div class="col-md-4 mx-auto">

				<div class="form-group form-inline">
		        <input type="text" class="form-control mr-2" placeholder="Prefix (optional)" name="prefix" id="prefix" value="{{group.prefix}}">
		        <input type="text" class="form-control" placeholder="Group Name" name="name" id="name" value="{{group.name}}" required>
				</div>

		</div>
  </div>

  <div class="row">
		<div class="col-md-4 mx-auto">
			<div class="input-group mb-3">
			  <div class="input-group-prepend">
			    <span class="input-group-text">Reward volunteers with</span>
			  </div>
			  <input type="number" min="0" max="5" step="1" class="form-control" placeholder="Rate" name="rate" id="rate" value="{{group.rate}}" required>
				<div class="input-group-append">
			    <span class="input-group-text">tokens per hour.</span>
			  </div>
			</div>

		</div>
  </div>

  <div class="row">
		<div class="col-md-4 mx-auto">
    	<button type="submit" class="btn btn-block btn-md btn-primary">Update Group</button>
		</div>
  </div>

</form>

<script>
$('#working_groups').on('change', function () {
  var url = "/settings/working-groups/" + $(this).val();
  window.location = url;
});
</script>
