<!-- include summernote css/js -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.js"></script>

<form action="{{public_address}}/settings/working-groups/add" method="POST" class="mt-4">

  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="form-group form-inline">
        <label class="text-muted mr-2">Parent</label>

        <select class="form-control" id="parent" name="parent">

          <option disabled selected>Select a parent working group...</option>


          <option value='none' {{#unless parent}}selected{{/unless}}>No Parent</option>
          {{#each user.allWorkingGroupsObj}}
            {{#unless parent}}
              <option value='{{group_id}}'{{#ifCond group_id '==' ../parent}} selected{{/ifCond}}>{{name}}</option>
            {{/unless}}
          {{/each}}



        </select>
      </div>
    </div>
  </div>

  <div class="row">
		<div class="col-md-6 mx-auto">

				<div class="form-group form-inline">
		        <input type="text" class="form-control mr-2" placeholder="Prefix (optional)" name="prefix" id="prefix" value="{{group.prefix}}">
		        <input type="text" class="form-control" placeholder="Group Name" name="name" id="name" value="{{group.name}}" required>
				</div>

		</div>
  </div>


  <div class="row mb-4">
    <div class="col-md-6 mx-auto">
      <textarea name="welcomeMessage" id="editor">{{{group.welcomeMessage}}}</textarea>
    </div>
  </div>


  <div class="row">
		<div class="col-md-6 mx-auto">
    	<button type="submit" class="btn btn-block btn-lg btn-success">Add Group</button>
		</div>
  </div>

</form>

<script>
$("document").ready(function(){
    $('#editor').summernote({
      placeholder: 'Add a message that will be sent to volunteers when they join your working group!'
    });
});
</script>
