
<div class="card mb-4">
  <div class="card-body">
    <h3 class="mb-2">Personal Details</h3>


    <div class="row mb-3">
      <div class="col-md-6">
        <input type="text" class="form-control mr-sm-2 mr-md-2 mb-sm-1 mb-md-1" placeholder="First Name" oninput="checkExistence()" name="first_name"{{#if first_name}} value="{{first_name}}"{{/if}} required />
      </div>
      <div class="col-md-6">
        <input type="text" class="form-control" placeholder="Last Name" oninput="checkExistence()" name="last_name"{{#if last_name}} value="{{last_name}}"{{/if}} required />
      </div>
    </div>

    {{#unless updatingVolunteer}}
      <p class="mb-1"><b>Date of Birth</b> (must be 16 or over) <span class="text-danger">*</span></p>
      <div class="form-group col-md-5" style="padding: 0;">
        <input type="date" class="form-control" placeholder="Date of Birth" name="dob" id="dob"{{#if dob}} value="{{dob}}"{{/if}} required />
      </div>
    {{/unless}}
 </div>
</div>
<div class="card mb-4">
 <div class="card-body">
    <h3 class="mb-2">Contact Details</h3>
    <input type="email" class="form-control mb-2" placeholder="Email" oninput="checkExistence()" name="email"{{#if email}} value="{{email}}"{{/if}} required />

    <input type="text" class="form-control mb-2" placeholder="Phone Number (optional)" name="phone_no"{{#if phone_no}} value="{{phone_no}}"{{/if}}>

    <textarea type="text" class="form-control" placeholder="Address (optional)" name="address"{{#if address}} value="{{address}}"{{/if}}></textarea>

    {{#unless updatingVolunteer}}
      <p class="pt-3">Shrub may need to contact me by email about my membership and important news about the organisation such as notifying me about the Annual General Meeting. This does not sign you up to the bi-weekly newsletter</p>
      <div class="form-check form-check-inline mt-2">
        <input class="form-check-input" type="checkbox" name="contactConsent" required {{#if contactConsent}}checked{{/if}}>
        <label class="form-check-label">Consent given <span class="text-danger">*</span></label>
      </div>
    {{/unless}}
  </div>
</div>

{{#unless updatingVolunteer}}
<div class="card mb-4">
  <div class="card-body">
    <h3 class="mb-2">Membership</h3>

    {{#unless addingVolunteer}}

        <select class="form-control" name="membership_length">
          <option value="year" {{#ifCond membership_length '==' 'year'}}selected{{/ifCond}}>12 months</option>
          <option value="half_year" {{#ifCond membership_length '==' 'half_year'}}selected{{/ifCond}}>6 months</option>
          <option value="3_months" {{#ifCond membership_length '==' '3_months'}}selected{{/ifCond}}>3 months</option>
          {{#ifUserClass user.class '["admin"]'}}
            <option value="eternal" {{#ifCond membership_length '==' 'eternal'}}selected{{/ifCond}}>Honorary Lifetime Member</option>
          {{/ifUserClass}}
        </select>

    {{/unless}}

    <div class="row mt-3 no-gutters">
      <div class="col-md-5 p-2 mx-auto">
        <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#ourVision">
          Our Vision
        </button>
      </div>
      <div class="col-md-5 p-2 mx-auto">
        <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#saferSpacesPolicy">
          Safer Spaces Policy
        </button>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-md-6 p-2 mx-auto">
        <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#membershipBenefitsModal">
          Membership Benefits
        </button>
      </div>
    </div>

    <div class="form-check form-check-inline mt-3">
      <input class="form-check-input" type="checkbox" id="shrubExplained" name="shrubExplained" required {{#if shrubExplained}}checked{{/if}}>
      <label class="form-check-label">Explained what SHRUB is, our vision, mission and aims, why we do what we do, how we work, the working group structure and open meetings <span class="text-danger">*</span></label>
    </div>

    <div class="form-check form-check-inline mt-4">
      <input class="form-check-input" type="checkbox" id="safeSpace" name="safeSpace" required {{#if safeSpace}}checked{{/if}}>
      <label class="form-check-label">Explained the safer spaces policy and made aware of the welfare working group and conflict and complaints procedure <span class="text-danger">*</span></label>
    </div>

    <div class="form-check form-check-inline mt-4">
      <input class="form-check-input" type="checkbox" id="membershipBenefits" name="membershipBenefits" required {{#if membershipBenefits}}checked{{/if}}>
      <label class="form-check-label">Explained membership benefits <span class="text-danger">*</span></label>
    </div>

  </div>
</div>
{{/unless}}

<div class="card mb-4">
  <div class="card-body">

    <h4>Newsletters</h4>

    <small>Optionally subscribe to our newsletters (via Mailchimp). You can unsubscribe at any time.</small>

    <p class="pt-3 font-weight-bold">SHRUB Co-op newsletter - every 2 weeks</p>
    <p class="mt-1">To keep you up to date with decisions made at our open meetings, volunteer and training opportunities, events and SHRUB parties!</p>
    <div class="form-check form-check-inline mt-2">
      <input class="form-check-input" type="checkbox" name="generalNewsletterConsent" {{#if generalNewsLetterConsent}}checked{{/if}}>
      <label class="form-check-label">Consent given to subscribe to general Shrub newsletter</label>
    </div>

    <p class="pt-3 font-weight-bold">Food Sharing Edinburgh newsletter - every 2 weeks</p>
    <div class="form-check form-check-inline mt-2">
      <input class="form-check-input" type="checkbox" name="fseNewsletterConsent" {{#if fseNewsLetterConsent}}checked{{/if}}>
      <label class="form-check-label">Consent given to subscribe to FSE's newletter</label>
    </div>
  </div>
</div>

<div class="card mb-4">
  <div class="card-body">
    <h3 class="mb-2">Data Protection</h3>



      <div class="row">
        <div class="col-12">
          <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#privacyNoticeModal">
            Privacy Notice
          </button>
        </div>
      </div>

      <div class="form-check pl-1">
        <div class="form-check form-check-inline mt-3">
          <input class="form-check-input" type="checkbox" id="gdprConsent" name="gdprConsent" required {{#if gdprConsent}}checked{{/if}}>
          <label class="form-check-label">Agreed to privacy notice <span class="text-danger">*</span></label>
        </div>
      </div>


    {{#ifCond addingVolunteer '||' updatingVolunteer}}
      <p class="mt-3">Can we exchange your contact details with other volunteers/staff in relation to this role? (optional)</p>
      <div class="mt-1">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" name="volInfo[gdpr][email]" {{#if volInfo.gdpr.email}}checked{{/if}} >
          <label class="form-check-label">Email</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" name="volInfo[gdpr][phone]" {{#if volInfo.gdpr.phone}}checked{{/if}} >
          <label class="form-check-label">Phone</label>
        </div>
      </div>

      <!--<p class="mt-3">Would you like to be contacted about other volunteer opportunities that may be relevant to you? (optional)</p>

      <div class="form-check form-check-inline mt-1">
        <input class="form-check-input" type="checkbox" name="suggestedRoles" {{#if suggestedRoles}}checked{{/if}} >
        <label class="form-check-label">Yes</label>
      </div>
    -->

    {{/ifCond}}



  </div>
</div>


<div class="modal fade" id="ourVision" tabindex="-1" role="dialog" aria-labelledby="ourVisionLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Our Vision</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-10 mx-auto">
            {{{ourVision.markup}}}
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="$('#shrubExplained').prop('checked', 'true')">Explained Our Vision</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="saferSpacesPolicy" tabindex="-1" role="dialog" aria-labelledby="saferSpacesPolicyLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="saferSpacesPolicy">Safer Spaces Policy</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-10 mx-auto">

            {{{saferSpacesPolicy.markup}}}

          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="$('#safeSpace').prop('checked', 'true')">Explained Safer Spaces Policy</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="membershipBenefitsModal" tabindex="-1" role="dialog" aria-labelledby="membershipBenefitsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="membershipBenefitsModalLabel">Membership Benefits</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-10 mx-auto">
            {{{membershipBenefitsInfo.markup}}}
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="$('#membershipBenefits').prop('checked', 'true')">Explained Membership Benefits</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="privacyNoticeModal" tabindex="-1" role="dialog" aria-labelledby="ourVisionLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Privacy Notice</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-10 mx-auto mt-4">
            {{{privacyNotice.markup}}}
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="$('#gdprConsent').prop('checked', 'true')">Agreed Privacy Notice</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="memberExists" tabindex="-1" role="dialog" aria-labelledby="memberExistsLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="memberExistsLabel">This Member Already Exists!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-10 mx-auto">
            <p class="mt-2">This member already exists!</p>
            <p class="mt-2 mb-1">Would you like to make the existing member into a volunteer?</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="goToMemberPage();">Use Existing Member</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No Thanks</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="volunteerExists" tabindex="-1" role="dialog" aria-labelledby="volunteerExistsLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="volunteerExistsLabel">This Volunteer Already Exists!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-10 mx-auto">
            <p class="mt-2">This volunteer already exists!</p>
            <p class="mt-2 mb-1">Would you like to update the existing volunteer profile?</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="goToVolunteerPage();">Use Existing Volunteer</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No Thanks!</button>
      </div>
    </div>
  </div>
</div>

<script>

var date = new Date();
$('#dob').prop('max', (date.getFullYear()-16)+"-"+
                      ('0' + (date.getMonth()+ +1)).slice(-2)+"-"+
                      ('0' + date.getDate()).slice(-2));

{{#if addingVolunteer}}

var member_id;

function checkExistence(){
  $.ajax({
    url: "{{public_address}}/api/post/volunteers/existence",
    method: "POST",
    data: {
      first_name: $("input[name=first_name]").val(),
      last_name: $("input[name=last_name]").val(),
      email: $("input[name=email]").val()
    },
  }).done(function(response) {
    if(response.status == "ok"){
      member_id = response.member_id;
      if(response.msg == "member"){
        $("#memberExists").modal("show");
      } else if(response.msg == "volunteer") {

        $("#volunteerExists").modal("show");
      }
    }
  });
}

function goToVolunteerPage(){
  location.href = "{{public_address}}/volunteers/view/" + member_id;
}

function goToMemberPage(){
  location.href = "{{public_address}}/members/make-volunteer/" + member_id;
}

{{/if}}

</script>
