<script src="{{public_address}}/assets/js/bootstrap-select.min.js"></script>
<link rel="stylesheet" href="{{public_address}}/assets/css/bootstrap-select.min.css" />


<div class="card">
  <div class="card-body">

    <h4 class="mb-2">Emergency Contact <span class="text-danger">*</span></h4>

    <div class="form-group form-inline">
      <input type="text" class="form-control mr-md-2 mr-lg-2 mr-xl-2" placeholder="Relation" name="volInfo[emergencyContactRelation]"{{#if volInfo.emergencyContactRelation}} value="{{volInfo.emergencyContactRelation}}"{{/if}} required />
      <input type="text" class="form-control" placeholder="Name" name="volInfo[emergencyContactName]"{{#if volInfo.emergencyContactName}} value="{{volInfo.emergencyContactName}}"{{/if}} required />
    </div>


    <div class="form-group col-sm-8" style="padding: 0;">
      <input type="text" class="form-control" placeholder="Phone Number" name="volInfo[emergencyContactPhoneNo]"{{#if volInfo.emergencyContactPhoneNo}} value="{{volInfo.emergencyContactPhoneNo}}"{{/if}} required />
    </div>
    {{#unless updatingVolunteer}}
      <p class="mt-3">We aim to make SHRUB as inclusive as possible. Do you have any disabilities, health needs or extra support needs that you would like us to be aware of?</p>

      <div class="form-check form-check-inline mt-1">
        <input class="form-check-input" type="checkbox" name="volInfo[medicalDisclosed]" required {{#if volInfo.medicalDisclosed}}checked{{/if}} >
        <label class="form-check-label">Additional support needs have been disclosed, if any <span class="text-danger">*</span></label>
      </div>
    {{/unless}}

  </div>
</div>

<div class="card mt-4">
  <div class="card-body">


    <h3 class="mb-2">Roles <span class="text-danger">*</span></h3>

    <div class="row-fluid mb-3">
      <select class="selectpicker show-tick form-control" name="volInfo[roles]" title="Select one or more roles" data-style="btn-info" data-size="auto" data-header="Select one or more roles" data-live-search="true" multiple required />


          <optgroup label="SHRUB-wide">
            {{#each (lookup roles "na")}}
              <option value="{{role_id}}"
              {{#if (lookupArray ../volInfo.roles role_id)}}selected{{/if}}
              {{#ifUserClass user.class '["volunteer"]'}}disabled{{/ifUserClass}}
              >{{details.title}}</option>
            {{else}}
              <option disabled>This group has no roles.</option>
            {{/each}}
          </optgroup>


          {{#each user.allWorkingGroupsObj}}
            <optgroup label="{{name}}">
              {{#each (lookup ../roles group_id)}}
                <option value="{{role_id}}"
                {{#if (lookupArray ../../volInfo.roles role_id)}}selected{{/if}}
                {{#ifUserClass user.class '["volunteer", "staff"]'}}
                  {{#unless (lookupArray ../../user.working_groups_arr (lookup ../../roles group_id))}}
                    disabled
                  {{/unless}}
                {{/ifUserClass}}
                >{{details.title}}</option>
              {{else}}
                <option disabled>This group has no roles.</option>
              {{/each}}
            </optgroup>
          {{/each}}


      </select>
    </div>

    <div class="row-fluid">
      <select class="selectpicker show-tick form-control" id="rolesSelect" title="Assign one or more staff co-ordinators" name="volInfo[assignedCoordinators]" data-style="btn-info" data-size="auto" data-header="Select one or more roles" data-live-search="true" multiple required />

        {{#each coordinators}}
            <option value="{{id}}" {{#if (lookupArray ../volInfo.assignedCoordinators id)}}selected{{/if}}>{{first_name}} {{last_name}}</option>
        {{/each}}

      </select>
    </div>

    <div class="row mt-3" id="volunteerAgreeButtonContainer">
      <div class="col-md-6">
        <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#volunteerAgreement">
          Volunteer Agreement
        </button>
      </div>
    </div>


    <div class="form-group form-inline" id="volunteerAgreeCheckContainer">
      <div class="form-check form-check-inline mt-3">
        <input class="form-check-input" type="checkbox" id="volunteerAgreementAgreed" name="volInfo[volunteerAgreementAgreed]" {{#if volInfo.volunteerAgreementAgreed}}checked{{/if}}>
        <label class="form-check-label">Agreed to the SHRUB volunteer agreement <span class="text-danger">*</span></label>
      </div>
    </div>

  </div>
</div>

<div class="card mt-4">
  <div class="card-body">
    <h3 class="mb-2">Availability <span class="text-danger">*</span></h3>
    <div class="row">
      {{>volunteers/availability formPrefix="volInfo[availability]" availability=volInfo.availability}}
    </div>
  </div>
</div>

<div class="card mt-4 p-2">
  <div class="card-body">
    <h2 class="mb-1">Volunteer Survey</h2>
    <ol>

      <li>

        <p class="mb-2">What would you like to achieve through your voluntary work at SHRUB? Are there any skills you want to develop? <span class="text-danger">*</span></p>
        <textarea class="form-control" name="volInfo[survey][goals]" required>{{#if volInfo.survey.goals}}{{volInfo.survey.goals}}{{/if}}</textarea>

      </li>

      <br />

      <li>

        <p class="mb-2">Tell us about any past experience or interests that might be relevant to this role. Do you have any skills you’d like to use in this role?</p>
        <textarea class="form-control" name="volInfo[survey][interests]">{{#if volInfo.survey.interests}}{{volInfo.survey.interests}}{{/if}}</textarea>

      </li>

      <br />

      <li>

        <p class="mb-2">Please tick any skills that apply to you from the list below, if any</p>

        <div class="row-fluid">
          <select class="selectpicker show-tick form-control" name=volInfo[survey][skills] data-style="btn-info" data-size="auto" data-live-search="true" multiple>

              {{#each skills}}
                <option value="{{this}}">{{this}}</option>
              {{/each}}

          </select>
        </div>

      </li>

      <br />

      <li>
        <p class="mb-2">What are your preferred communication methods? <span class="text-danger">*</span></p>

        <select class="selectpicker show-tick form-control" title="Select one or more communication methods" name="volInfo[survey][preferredCommMethods]" data-style="btn-info" data-size="auto" multiple required>

            {{#each contactMethods}}
              <option value="{{this}}" {{#if (lookupArray ../volInfo.survey.preferredCommMethods this)}}selected{{/if}}>{{this}}</option>
            {{/each}}

        </select>

      </li>

      <br />

      <li>
        <p class="mb-2">Any additional notes</p>
        <textarea class="form-control" name="additionalNotes">{{#if volInfo.survey.additionalNotes}}{{volInfo.survey.additionalNotes}}{{/if}}</textarea>
      </li>

    </ol>

  </div>
</div>

{{#if convertingMember}}
  <div class="card mt-4">
    <div class="card-body">
      <h2 class="mb-1">Data Protection</h2>


        <p>Can we exchange your contact details with other volunteers/staff in relation to this role? (optional)</p>
        <div class="mt-1">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="volInfo[canShareEmail]" {{#if volInfo.canShareEmail}}checked{{/if}} >
            <label class="form-check-label">Email</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="volInfo[canSharePhone]" {{#if volInfo.canSharePhone}}checked{{/if}} >
            <label class="form-check-label">Phone</label>
          </div>
        </div>

        <!--

        <p class="mt-3">Would you like to be contacted about other volunteer opportunities that may be relevant to you? (optional)</p>

        <div class="form-check form-check-inline mt-1">
          <input class="form-check-input" type="checkbox" name="suggestedRoles" {{#if suggestedRoles}}checked{{/if}} >
          <label class="form-check-label">Yes</label>
        </div>

        -->


    </div>
  </div>
{{/if}}

<div class="modal fade" id="volunteerAgreement" tabindex="-1" role="dialog" aria-labelledby="volunteerAgreementLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="volunteerAgreementLabel">Volunteer Agreement</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-10 mx-auto">
            <p>This agreement will act as a reminder of the support that SHRUB should offer you as a volunteer and the rights and responsibilities you have as a member of the SHRUB community.</p>

            <p class="mt-2 mb-1">The SHRUB has the responsibility:</p>

            <div class="container">
              <ul style="list-style-type: disc;">
                <li>To provide adequate information and training so that you are able to meet the responsibilities of your volunteering role, (outlined in your Volunteer Role Description, or on agreement with your working group), this includes:</li>
                <div class="container">
                  <ul style="list-style-type: disc;">
                    <li>To support you throughout your time volunteering with SHRUB.</li>
                    <li>To assign you a named co-ordinator, who will act as a go-to-person for you.</li>
                    <li>To treat you with respect.</li>
                    <li>To be receptive to any comments and feedback from you and other volunteers.</li>
                    <li>To value and recognise your contribution as a volunteer.</li>
                  </ul>
                </div>
              </ul>
            </div>

            <p class="mt-4 mb-1">The Volunteer (you) has the responsibility:</p>
            <div class="container">
              <ul style="list-style-type: disc;">
                <li>To fulfil your role as outlined in your volunteer role description/by agreement with the working group.</li>
                <li>To follow SHRUB’s policies and procedures.</li>
                <li>To meet time and task commitment and provide sufficient notice when not available to meet your responsibilities.</li>
                <li>To treat any sensitive personal or business information and data, you may have access to as part of your role, as confidential and in line with the Data Protection Act.</li>
                <li>To act in a way that is in line with the aims, objectives, and ethos of the SHRUB.</li>
                <div class="container">  $("#rolesSelect").on("changed.bs.select", function(){
    console.log("triggered");

  });
                  <p>This means when interacting with people in the SHRUB: Be respectful, be aware of your own prejudices, create calm, and strive for equality and diversity.</p>
                  <p>Sexism, racism, homophobia and other behaviours and language that belittle or insult other people will not be tolerated within our organisation. If somebody is acting in a way that you feel uncomfortable with, either point it out to them or talk to a member of staff or the Welfare Working group.</p>
                  <p>The SHRUB is an inclusive space!</p>
              </ul>
            </div>

            <p class="mt-3 mb-1">The volunteer (you) has the right:</p>
            <div class="container">
              <ul style="list-style-type: disc;">
                <li>To participate in the decision making process of the SHRUB by attending open meetings (see shrub website for dates and times).</li>
                <li>To participate in your Working Group and any other that you wish to.</li>
              </ul>
            </div>

            <p class="mt-2">If you are unable to meet your responsibilities (outlined above) SHRUB may ask you to step back from your volunteering role.</p>

          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="$('#volunteerAgreementAgreed').prop('checked', 'true')">Agree</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
function toggleOtherInput() {
  $("#otherInput").toggleClass("d-none");
}

{{#if updatingVolunteer}}
  var updatingVolunteer = {{updatingVolunteer}};
  var roleChanged = {{roleChanged}};

  function toggleVolunteerAgreement(){
    if(updatingVolunteer && !roleChanged){
      $("#volunteerAgreeButtonContainer").addClass("d-none");
      $("#volunteerAgreeCheckContainer").addClass("d-none");
      $("#volunteerAgreementAgreed").prop("required", false);
    } else {
      $("#volunteerAgreeButtonContainer").removeClass("d-none");
      $("#volunteerAgreeCheckContainer").removeClass("d-none");
      $("#volunteerAgreementAgreed").prop("required", true);
    }
  }

  $('.selectpicker').on('change', function(e){
    if($(e.target).attr("name") == "volInfo[roles]"){
      console.log("change");
      roleChanged = true;
      toggleVolunteerAgreement();
    }
  });

  toggleVolunteerAgreement();

{{/if}}

</script>
