<script src="{{public_address}}/assets/js/bootstrap-select.min.js"></script>
<link rel="stylesheet" href="{{public_address}}/assets/css/bootstrap-select.min.css" />


<div class="card">
  <div class="card-body">

    <h4 class="mb-2">Emergency Contact</h4>

    <div class="d-flex mb-3">
      <input type="text" class="form-control w-50" placeholder="Relation" name="volInfo[emergencyContactRelation]"{{#if volInfo.emergencyContactRelation}} value="{{volInfo.emergencyContactRelation}}"{{/if}} required />
      <span class="flex-shrink-1 text-danger mx-2">*</span>
      <input type="text" class="form-control w-50" placeholder="Name" name="volInfo[emergencyContactName]"{{#if volInfo.emergencyContactName}} value="{{volInfo.emergencyContactName}}"{{/if}} required />
      <span class="flex-shrink-1 text-danger mx-2">*</span>
    </div>


    <div class="d-flex mb-3">
      <input type="text" class="form-control m-50" placeholder="Phone Number" name="volInfo[emergencyContactPhoneNo]"{{#if volInfo.emergencyContactPhoneNo}} value="{{volInfo.emergencyContactPhoneNo}}"{{/if}} required />
      <span class="flex-shrink-1 text-danger mx-2">*</span>
    </div>
    {{!-- {{#unless updatingVolunteer}} --}}
      <p class="mt-3">We aim to make SHRUB as inclusive as possible. Do you have any disabilities, health needs or extra support needs that you would like us to be aware of?</p>

      <div class="form-check form-check-inline mt-1">
        <input class="form-check-input" type="checkbox" name="volInfo[medicalDisclosed]" required {{#if volInfo.medicalDisclosed}}checked{{/if}} >
        <label class="form-check-label">Additional support needs have been disclosed, if any <span class="text-danger">*</span></label>
      </div>
    {{!-- {{/unless}} --}}

  </div>
</div>

<div class="card mt-4">
  <div class="card-body">


    <h3 class="mb-2">Roles</h3>

    {{#if user}}

      <div class="d-flex mb-1">
        <select class="selectpicker volunteer-roles show-tick form-control w-100" name="volInfo[roles]" title="Select one or more roles" data-style="btn-info" data-size="auto" data-header="Select one or more roles" data-live-search="true" multiple required />


            {{#each user.allWorkingGroupsObj}}
              <optgroup id="{{group_id}}_optgroup" label="{{name}}">
                {{#each (lookup ../roles group_id)}}
                  <option value="{{role_id}}"
                  {{#if (lookupArray ../../volInfo.roles role_id)}}
                    selected
                  {{else}}
                    {{#ifCond ../../user.permissions.volunteers.add '==' 'commonWorkingGroup'}}
                      {{#unless (lookupArray ../../user.working_groups group_id)}}
                        disabled
                      {{/unless}}
                    {{/ifCond}}
                  {{/if}}
                  >{{details.title}}</option>
                {{else}}
                  <option disabled>This group has no roles.</option>
                {{/each}}
              </optgroup>
            {{/each}}


        </select>
        <span class="flex-shrink-1 text-danger mx-2">*</span>
      </div>
      {{#if user.permissions.volunteerRoles.quickAdd}}
        <a class="btn btn-primary mb-3" data-toggle="modal" data-target="#quickAddRoleDialog">Quick Add Role</a>
      {{/if}}
      <div class="d-flex mb-1">
        <select class="selectpicker show-tick form-control w-100" title="Assign one or more staff co-ordinators" name="volInfo[assignedCoordinators]" data-style="btn-info" data-size="auto" data-header="Assign one or more staff co-ordinators" data-live-search="true" multiple required />

          {{#each coordinators}}
              <option value="{{id}}" {{#if (lookupArray ../volInfo.assignedCoordinators id)}}selected{{/if}}>{{first_name}} {{last_name}}</option>
          {{/each}}

        </select>
        <span class="flex-shrink-1 text-danger mx-2">*</span>
      </div>
    {{else}}
      <p>You will be assigned the following role(s):</p>
      <div class="container">

        {{#each assignedRoles}}
          <li class="mb-2">
            {{lookup (lookup (lookup ../roles this) 'details') 'title'}}
            <br/>
            {{lookup (lookup (lookup ../roles this) 'details') 'short_description'}}

          </li>
        {{/each}}
      </div>
      <p class="mt-2">and your assigned coordinator(s) will be:</p>
      <div class="container">
        {{#each assignedCoordinators}}
          <li>{{lookup (lookup ../coordinators this) 'first_name'}} {{lookup (lookup ../coordinators this) 'last_name'}}</li>
        {{/each}}
      </div>
    {{/if}}
    <div class="row mt-3" id="volunteerAgreeButtonContainer">
      <div class="col-md-6">
        <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#volunteerAgreement">
          Volunteer Agreement
        </button>
      </div>
    </div>


    <div class="form-group form-inline" id="volunteerAgreeCheckContainer">
      <div class="form-check form-check-inline mt-3">
        <input class="form-check-input" type="checkbox" id="volunteerAgreementAgreed" name="volInfo[volunteerAgreementAgreed]" {{#if volInfo.volunteerAgreementAgreed}}checked{{/if}}>
        <label class="form-check-label">Agreed to the SHRUB volunteer agreement <span class="text-danger">*</span></label>
      </div>
    </div>

  </div>
</div>

<div class="card mt-4">
  <div class="card-body">
    <h3 class="mb-2">Availability</h3>
    <div class="row">
      {{>volunteers/availability formPrefix="volInfo[availability]" availability=volInfo.availability}}
    </div>
  </div>
</div>

<div class="card mt-4 p-2">
  <div class="card-body">
    <h2 class="mb-1">Volunteer Survey</h2>
    <ol>

      <li>

        <p class="mb-2">What would you like to achieve through your voluntary work at SHRUB? Are there any skills you want to develop?</p>
        <textarea class="form-control" name="volInfo[survey][goals]">{{#if volInfo.survey.goals}}{{volInfo.survey.goals}}{{/if}}</textarea>

      </li>

      <br />

      <li>

        <p class="mb-2">Tell us about any past experience or interests that might be relevant to this role. Do you have any skills you’d like to use in this role?</p>
        <textarea class="form-control" name="volInfo[survey][interests]">{{#if volInfo.survey.interests}}{{volInfo.survey.interests}}{{/if}}</textarea>

      </li>

      <br />

      <li>

        <p class="mb-2">Please tick any skills that apply to you from the list below, if any</p>


        <div class="row-fluid">
          <select class="selectpicker show-tick form-control" name=volInfo[survey][skills] data-style="btn-info" data-size="auto" data-live-search="true" multiple>

              {{#each staticContent.skills}}

                {{#if this}}
                  <option value="{{@key}}"{{#if (lookupArray ../volInfo.survey.skills @key)}} selected{{/if}}>{{@key}}</option>
                {{else}}
                  {{#if (lookupArray ../volInfo.survey.skills @key)}}
                    <option value="{{@key}}" selected>{{@key}}</option>
                  {{/if}}
                {{/if}}

              {{/each}}

          </select>
        </div>

      </li>

      <br />

      <li>
        <p class="mb-2">What are your preferred communication methods?</p>

        <select class="selectpicker show-tick form-control" title="Select one or more communication methods" name="volInfo[survey][preferredCommMethods]" data-style="btn-info" data-size="auto" multiple>

            {{#each staticContent.contactMethods}}

                {{#if this}}
                  <option value="{{@key}}"{{#if (lookupArray ../volInfo.survey.preferredCommMethods @key)}} selected{{/if}}>{{@key}}</option>
                {{else}}
                  {{#if (lookupArray ../volInfo.survey.preferredCommMethods @key)}}
                    <option value="{{@key}}" selected>{{@key}}</option>
                  {{/if}}
                {{/if}}
            {{/each}}

        </select>

      </li>

      <br />

      <li>
        <p class="mb-2">Any additional notes</p>
        <textarea class="form-control" name="additionalNotes">{{#if volInfo.survey.additionalNotes}}{{volInfo.survey.additionalNotes}}{{/if}}</textarea>
      </li>

    </ol>

  </div>
</div>

{{#if convertingMember}}
  <div class="card mt-4">
    <div class="card-body">
      <h2 class="mb-1">Data Protection</h2>


        <p>Can we exchange your contact details with other volunteers/staff in relation to this role? (optional)</p>
        <div class="mt-1">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="volInfo[gdpr][email]" {{#if volInfo.gdpr.email}}checked{{/if}} >
            <label class="form-check-label">Email</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" name="volInfo[gdpr][phone]" {{#if volInfo.gdpr.phone}}checked{{/if}} >
            <label class="form-check-label">Phone</label>
          </div>
        </div>

        <!--

        <p class="mt-3">Would you like to be contacted about other volunteer opportunities that may be relevant to you? (optional)</p>

        <div class="form-check form-check-inline mt-1">
          <input class="form-check-input" type="checkbox" name="suggestedRoles" {{#if suggestedRoles}}checked{{/if}} >
          <label class="form-check-label">Yes</label>
        </div>

        -->


    </div>
  </div>
{{/if}}

<div class="modal fade" id="volunteerAgreement" tabindex="-1" role="dialog" aria-labelledby="volunteerAgreementLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="volunteerAgreementLabel">Volunteer Agreement</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-10 mx-auto">
            {{{staticContent.volunteerAgreement.markup}}}
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="$('#volunteerAgreementAgreed').prop('checked', 'true')">Agree</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



{{#if user.permissions.volunteerRoles.quickAdd}}
<div class="modal fade" id="quickAddRoleDialog" tabindex="-1" role="dialog" aria-labelledby="quickAddRoleLabel" aria-hidden="true">
  <div class="modal-dialog modal modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="quickAddRoleLabel">Quick Add Role</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-10 mx-auto">
            <p class="mb-1">Add a volunteer role by just its title. The rest of the role's information will need to be completed at a later date.</p>

            <select class="form-control mb-2" id="roleWorkingGroup">
              <option value="" disabled selected>Select a working group...</option>
              {{#each user.allWorkingGroupsObj}}
                {{#ifCond ../user.permissions.volunteerRoles.quickAdd '==' true}}
                  <option value="{{group_id}}">{{name}}</option>
                {{else}}
                  {{#if (lookupArray ../user.working_groups group_id)}}
                    <option value="{{group_id}}">{{name}}</option>
                  {{/if}}
                {{/ifCond}}
              {{/each}}
            </select>
            <input type="text" id="roleTitle" placeholder="Role Title" class="form-control" />

          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" onclick="quickAddRole();">Quick Add Role</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{{/if}}


<script>
function toggleOtherInput() {
  $("#otherInput").toggleClass("d-none");
}

function quickAddRole() {
  $.post("{{public_address}}/api/post/volunteers/roles/quick-add",
    {
      title: $("#roleTitle").val(),
      working_group: $("#roleWorkingGroup").val()
    },
    function(response){

      if(response.status == "ok"){
        $("#quickAddRoleDialog").modal("hide");
        $("#roleTitle").val("");
        $("#roleWorkingGroup").val("");
        alert("Role successfully added.");
        $("#" + response.role.group_id + "_optgroup").append($('<option>', {
            value: response.role.role_id,
            text: response.role.details.title
        }))
        $(".volunteer-roles").selectpicker('refresh');
        var currentRoles = $('.volunteer-roles').selectpicker('val');

        if(currentRoles == null){
          currentRoles = []
        }

        if(!Array.isArray(currentRoles)){
          currentRoles = [currentRoles]
        }

        currentRoles.push(response.role.role_id)

        $('.volunteer-roles').selectpicker('val', currentRoles);
      } else {
        alert(response.msg);
      }
    });
}

{{#if updatingVolunteer}}
  var updatingVolunteer = {{updatingVolunteer}};
  var roleChanged = {{roleChanged}};

  function toggleVolunteerAgreement(){
    if(updatingVolunteer && !roleChanged){
      $("#volunteerAgreeButtonContainer").addClass("d-none");
      $("#volunteerAgreeCheckContainer").addClass("d-none");
      $("#volunteerAgreementAgreed").prop("required", false);
    } else {
      $("#volunteerAgreeButtonContainer").removeClass("d-none");
      $("#volunteerAgreeCheckContainer").removeClass("d-none");
      $("#volunteerAgreementAgreed").prop("required", true);
    }
  }

  $('.selectpicker').on('change', function(e){
    if($(e.target).attr("name") == "volInfo[roles]"){

      roleChanged = true;
      toggleVolunteerAgreement();
    }
  });

  toggleVolunteerAgreement();

{{/if}}

</script>
