

  <tr>
    <td>
      {{first_name}} {{last_name}}

      {{#unless is_member}}

        <br />
        <span class="text-danger font-weight-bold">
          Membership expired
        </span>
        <br />
        <small>
          <span class="text-danger">
            {{#if active}}
              Log a shift or pay to renew!
            {{else}}
              Register as a volunteer or pay to renew!
            {{/if}}

          </span>
        </small>
      {{/unless}}
    </td>
    <td>
      {{#if roles}}

        <ul>
          {{#each roles}}
            {{#if (lookup ../allRoles this)}}
              <li {{#if (not @last)}}class="mb-1"{{/if}}>
                <b>{{lookup (lookup (lookup ../allRoles this) 'details') 'title'}}</b>

                <small>
                  {{#ifCond (lookup (lookup ../allRoles this) 'group_id') '==' 'na'}}
                    (SHRUB-wide)
                  {{else}}
                    with {{lookup (lookup ../user.allWorkingGroupsObj (lookup (lookup ../allRoles this) 'group_id')) 'name'}}
                  {{/ifCond}}
                </small>
              </li>
            {{/if}}
          {{/each}}
        </ul>

      {{else}}
        <span class="text-danger">Not assigned to any roles!</span>
      {{/if}}

      {{#if old_working_groups}}
        <br />

        <span>Belongs to:</span>
        <ul>
          {{#each old_working_groups}}
            {{#if (lookup ../user.allWorkingGroupsObj this)}}
              <li>
                <b>{{lookup (lookup ../user.allWorkingGroupsObj this) 'name'}}</b>
              </li>
            {{/if}}
          {{/each}}
        </ul>

      {{/if}}


    </td>

    <td>
        <span
          class="
            {{#ifCond needsToVolunteer '==' 'now'}}
              text-danger
            {{/ifCond}}
            {{#ifCond needsToVolunteer '==' 'soon'}}
              text-warning
            {{/ifCond}}
            {{#ifCond needsToVolunteer '==' false}}
              text-success
            {{/ifCond}}
            "
          >

          Next shift due by <b>{{niceDate nextShiftDue}}</b>
          <br />

          {{#if lastVolunteered}}
            <small><i>Last shift was <b>{{niceDate lastVolunteered}}</b></i></small>
          {{else}}
            <small><i>No shifts on record</i></small>
          {{/if}}


        </span>

    </td>


    <td>

      <span
        class="
          {{#ifCond needsToCheckin '==' 'now'}}
            text-danger
          {{/ifCond}}
          {{#ifCond needsToCheckin '==' 'soon'}}
            text-warning
          {{/ifCond}}
          {{#ifCond needsToCheckin '==' false}}
            text-success
          {{/ifCond}}
          "
        >

        Next check-in due by <b>{{niceDate nextCheckinDue}}</b>
        <br />

        {{#if lastCheckin}}
          <small><i>Last check-in was <b>{{niceDate lastCheckin}}</b></i></small>
        {{else}}
          <small><i>No check-ins on record</i></small>
        {{/if}}

      </span>

    </td>

    <td>

      {{#if active}}
        <a class="btn btn-info btn-block mb-2" href="{{public_address}}/volunteers/view/{{member_id}}">View/Update</a>

        {{#ifCond needsToCheckin '==' "soon"}}
          <a class="btn btn-warning btn-block mb-2" href="{{public_address}}/volunteers/check-in/{{member_id}}">Conduct Check-in</a>
        {{/ifCond}}
        {{#ifCond needsToCheckin '==' "now"}}
          <a class="btn btn-danger btn-block mb-2" href="{{public_address}}/volunteers/check-in/{{member_id}}">Conduct Check-in</a>
        {{/ifCond}}

      {{else}}
        <a class="btn btn-info btn-block mb-2" href="{{public_address}}/members/make-volunteer/{{member_id}}">Register As Volunteer</a>
      {{/if}}



      <a class="btn btn-danger mb-2 btn-block" onclick='removeVolunteer("{{member_id}}", "{{name}}", {{{json roles}}}, {{{json old_working_groups}}})'>Remove</a>

    </td>
  </tr>
