

  <tr>
    <td>{{first_name}} {{last_name}}</td>
    <td>
      {{#if roles}}

        <ul>
          {{#each roles}}
            {{#if (lookup ../allRoles this)}}
              <li {{#if (not @last)}}class="mb-1"{{/if}}>
                <b>{{lookup (lookup (lookup ../allRoles this) 'details') 'title'}}</b>

                <small>
                  {{#ifCond (lookup (lookup ../allRoles this) 'group_id') '==' 'na'}}
                    (SHRUB-wide)
                  {{else}}
                    with {{lookup (lookup ../user.allWorkingGroupsObj (lookup (lookup ../allRoles this) 'group_id')) 'name'}}
                  {{/ifCond}}
                </small>
              </li>
            {{/if}}
          {{/each}}
        </ul>

      {{else}}
        <span class="text-danger">Not assigned to any roles!</span>
      {{/if}}

      {{#if old_working_groups}}
        <br />

        <span>Belongs to:</span>
        <ul>
          {{#each old_working_groups}}
            {{#if (lookup ../user.allWorkingGroupsObj this)}}
              <li>
                <b>{{lookup (lookup ../user.allWorkingGroupsObj this) 'name'}}</b>
              </li>
            {{/if}}
          {{/each}}
        </ul>

      {{/if}}


    </td>

    <td>
      {{#if is_member}}
        <span
          class="
            {{#ifCond needsToVolunteer '==' 'now'}}
              text-danger
            {{/ifCond}}
            {{#ifCond needsToVolunteer '==' 'soon'}}
              text-warning
            {{/ifCond}}
            {{#ifCond needsToVolunteer '==' false}}
              text-success
            {{/ifCond}}
            "
          >
          {{#if lastVolunteered}}
            <b>
              {{lastVolunteered}}
            </b>
          {{else}}
            Never
          {{/if}}

          {{#if lastVolunteeredMessage}}
          - {{lastVolunteeredMessage}}
          {{/if}}
        </span>
      {{else}}
        <span class="text-danger font-weight-bold">
          Membership expired
        </span>
        <br />
        <span class="text-danger">
          {{#if activeVolunteer}}
            Volunteer or pay to renew!
          {{else}}
            Register as a volunteer or pay to renew!
          {{/if}}
          <br />
          Last volunteered: {{lastVolunteered}}
        </span>

      {{/if}}
    </td>

    <td>
      <div class="btn-group d-flex">

        {{#if is_member}}

          <a class="btn btn-danger w-100" onclick='removeVolunteer("{{member_id}}", "{{name}}", {{{json roles}}}, {{{json old_working_groups}}})' >Remove</a>

        {{else}}
          <a class="btn btn-danger w-100" onclick='removeVolunteer("{{member_id}}", "{{name}}", {{{json roles}}}, {{{json old_working_groups}}})'>Remove</a>
        {{/if}}

        {{#ifCond roles.length '>' 0}}
          <a class="btn btn-info w-100" href="{{public_address}}/volunteers/view/{{member_id}}">View/Update</a>
        {{else}}
          <a class="btn btn-info w-100" href="{{public_address}}/members/make-volunteer/{{member_id}}">Register As Volunteer</a>
        {{/ifCond}}
      </div>

    </td>
  </tr>
