<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

<div class="row m-2 m-md-4 m-lg-4 m-xl-4">

		<div class="card">
			<div class="card-body">
				<h3 class="mb-3">{{till.name}} <span class="text-success">&#9679;</span></h3>
				<a href="/settings/tills/{{till.till_id}}?till_id={{till.till_id}}" class="btn btn-block btn-primary">Update Categories</a>
			</div>
		</div>

</div>

<div id="transaction_info" class="row pl-3 mt-4 mb-4">
	{{#if murakamiMsg}}
		{{#ifCond smpStatus '==' 'failed'}}
			<div class="alert alert-danger alert-dismissible fade show col-md-6 p-3 mx-auto">
				Transaction failed! (error status: {{smpMsg}})
				<button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
			</div>
		{{else}}
			{{#ifCond murakamiStatus '==' 'ok'}}
				<div class="alert alert-success alert-dismissible fade show col-md-6 p-3 mx-auto">
					{{murakamiMsg}}
					<button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
				</div>
			{{else}}
				<div class="alert alert-danger alert-dismissible fade show col-md-6 p-3 mx-auto">
					{{murakamiMsg}}
					<button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
				</div>
			{{/ifCond}}
		{{/ifCond}}
	{{/if}}
</div>

<div class="row mt-4 mb-3">
		<div class="col-md-3 ml-2 ml-md-4 ml-lg-4 ml-xl-4">

			<input type="hidden" id="member_id" value="{{member.id.text}}" />

			<input type="checkbox" id="memberToggle" data-toggle="toggle" data-on="Customer Is A Member" data-off="Customer Is Not A Member">

			<div class="d-none" id="memberOptions">

			  <input type="text" class="form-control mt-3" id="memberInput" oninput="searchMember()" value="" placeholder="Member's name">

			</div>
		</div>

</div>

<div class="row mt-3" id="searchResults"></div>

<div class="row mt-4 no-gutters">
	<div class="col-lg-6 mx-auto">

				<div class="col-md-12 mx-auto" id="options"></div>

	</div>



	<div class="col-12 col-md-6 col-lg-5 col-xl-5 mx-auto mt-4 mt-lg-0 mt-xl-0" id="transaction-list">
				<table class="table table-light table-striped">
				  <thead>
				    <tr>
				      <th scope="col">Category</th>
				      <th scope="col">Value</th>
				      <th scope="col">Weight (g)</th>
				      <th scope="col"></th>
				    </tr>
				  </thead>
				  <tbody id="transaction-info">

				  </tbody>
				</table>
	</div>
</div>

<div class="row mt-4 mb-4">
	<div class="col-12 col-md-8 col-lg-6 col-xl-4 mx-auto">
		<div id="transaction_btns" class="d-none">
			<button type="button" class="btn btn-success btn-block btn-lg" data-toggle="modal" data-target="#myModal"><span class="transaction-total"></span></button>
		</div>
	</div>
</div>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
			<div class="modal-header">
        <h5 class="modal-title">Transaction Summary</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
				<div class="row">
          <div class="col-10 col-md-8 col-lg-8 col-xl-8 mx-auto">
	      		<center>
		      		<h4 class="transaction-total"></h4>
		      		<p id="memberStatement"></p>
		      		<br />
		      		<div class="form-group d-none" id="selectPaymentMethod">
		      			<button class="btn btn-primary btn-lg form-inline" id="cashOption" onclick="selectPaymentMethod('cash')">Cash</button>
		      			&nbsp;
		      			<button class="btn btn-primary btn-lg form-inline" id="cardOption" onclick="selectPaymentMethod('card')">Card</button>
		      		</div>
							<small id="minimumCardTransaction" class="d-none">To pay with card, please spend a minimum of £1.00.</small>
					</center>
					<br />
				</div>
				</div>
				<div class="row">
					<div class="col-xs-10 col-md-6 col-md-offset-3 col-xs-offset-1 d-none mx-auto" id="changeCalc">
		    		<div class="input-group">
		            <span class="input-group-prepend">
									<span class="input-group-text" id="basic-addon1">Cash Given £</span>
								</span>
		            <input class="form-inline form-control" oninput="calculateChange(this)" type="text" placeholder="0.00" />
		    		</div>
		    		<br />
		    		<div class="input-group">
		            <span class="input-group-prepend">
									<span class="input-group-text" id="basic-addon1">Change Due £</span>
								</span>
		            <input class="form-inline form-control" id="change" type="text" placeholder="0.00" readonly />
		    		</div>
		    		<br />
		    	</div>
		  	</div>


				<div class="row">
					<div class="col-md-8 mx-auto">
						<textarea id="note" placeholder="Note (optional)" class="form-control"></textarea>
					</div>
				</div>

				<div class="row">
					<div class="conatiner mx-auto">
						<div class="form-check form-check-inline mt-2">
							<input class="form-check-input" type="checkbox" id="confirmTransaction">
							<label class="form-check-label">Transaction details are correct</label>
						</div>
					</div>
				</div>

      </div>
      <div class="modal-footer">
      	<button type="button" id="confirmTransactionBtn" class="btn btn-success" data-dismiss="modal" onclick="completeTrans()" disabled="disabled">Complete Transaction</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


<div id="electricalSafetyModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
			<div class="modal-header">
        <h5 class="modal-title">Electrical Safety Check</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
				<div class="row">

					<div class="col-md-12">

						<div id="electricalSafety" class="p-4">

							<h5 class="mb-1">Please check the safety of any outgoing electronics!</h5>
							<p class="mb-3">If there is no ID and the item plugs into the wall, please DO NOT sell it. Battery powered items are ok to sell.</p>

				      <div class="form-inline mx-auto">
		              <input type="text" class="form-control" placeholder="ID Number" id="patTestingNumber" oninput="resetElectricalColours()" />
		              <a class="btn btn-primary" onclick="verifyElectricalSafety()">Verify Safety</a>
				      </div>

						  <h5 class="mt-2" id="electricalSafetyMessage"></h5>

						</div>
					</div>
				</div>

      </div>
      <div class="modal-footer">
      	<button type="button" id="confirmTransactionBtn" class="btn btn-success" data-dismiss="modal">Item Safe</button>
        <button type="button" class="btn btn-danger" id="removeUnsafe" onclick="" data-dismiss="modal">Not Safe</button>
      </div>
    </div>

  </div>
</div>


<div id="itemConditionModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
			<div class="modal-header">
        <h5 class="modal-title">Item Condition</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
				<div class="row">

					<div class="col-md-12">

						<div class="p-4">

							<h5 class="mb-1">Please select the condition of "<span id="itemConditionName" class="text-weight-bold"></span>"</h5>

							<div class="form-check">
							  <label class="form-check-label">
							    <input type="radio" class="form-check-input" name="itemCondition" value="Bought New">Bought New
							  </label>
							</div>

							<div class="form-check">
							  <label class="form-check-label">
							    <input type="radio" class="form-check-input" name="itemCondition" value="Reused">Reused
							  </label>
							</div>

							<div class="form-check">
							  <label class="form-check-label">
							    <input type="radio" class="form-check-input" name="itemCondition" value="Fixed in workshop">Fixed in workshop
							  </label>
							</div>

						</div>
					</div>
				</div>

      </div>
      <div class="modal-footer">
      	<button type="button" id="addItemConditionToTrans" class="btn btn-success" data-dismiss="modal">Add To Transaction</button>
        <button type="button" class="btn btn-danger" onclick="" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<script>
if (navigator.appVersion.includes("Android")){
    $("#cardOption").removeClass("d-none");
} else if(navigator.appVersion.includes("Apple")) {
		$("#cardOption").removeClass("d-none");
} else {
	$("#cardOption").addClass("d-none");
}

var uri = window.location.toString();
if (uri.indexOf("?") > 0) {
    var clean_uri = uri.substring(0, uri.indexOf("?"));
    window.history.replaceState({}, document.title, clean_uri);
}

$('#isMemberCheck').click(function () {
		var checked = $('input', this).is(':checked');
		$('span', this).text(checked ? 'Customer Is A Member' : 'Customer Is Not A Member');
});


var transaction = [];

var tokens_total = 0;
var weight_total = 0;
var money_total = 0;

var paymentMethod;

var itemToAdd = {};

$('input[name="itemCondition"]:radio').change(function(){
	let condition = this.value;
	let option = itemToAdd;
	console.log(condition);
	if(itemToAdd){

		$("#addItemConditionToTrans").attr("onclick", "addToTrans('" + option.id + "', '" + option.category.replace(/'/g, "\\\'") + " (" + condition + ")" + "', '" + option.tokens + "', '" + option.carbon_id + "', '" + option.allowTokens +"', '" + option.member_discount + "', '" + option.weight + "', '" + condition + "')");

	}
});
function addToTrans(id, category, value, carbon_id, allowTokens, member_discount, weight, condition){
	var item = {};
	item.id = id;
	item.category = category;
	item.weight = weight || 0;

	item.allowTokens = allowTokens;
	item.carbon_id = carbon_id;
	item.member_discount = member_discount;

	if(value > 0){
		item.tokens = value;
		item.setValue = true;
	} else {
		item.tokens = 0;
		item.setValue = false;
	}

	if(carbon_id == "IT-101"){
		$("#electricalSafetyModal").modal("show");
		$("#removeUnsafe").attr("onclick", "removeFromTrans(null)");
	}

	if(condition == 1){
		$('input[name="itemCondition"]:radio').prop('checked', false);
		$("#addItemConditionToTrans").attr("onclick", "return false;");
		$("#itemConditionName").text(item.category);
		$('#itemConditionModal').modal('show');
		itemToAdd = item;
	} else {
		if(condition != 1){
			item.condition = condition;
		}

		itemToAdd = {};
		transaction.push(item);
		update();
	}

}

function removeFromTrans(index){
	if(index){
		transaction.splice(index, 1);
	} else {
		transaction.pop();
	}

	update();
}

var categories = {}
categories.options = {{{json categories}}}
categories.parent = null

function calculateChange(e){
	let cashGiven = parseFloat(e.value);
	let change = 0;
	console.log("Cash given: " + cashGiven);
	console.log("Cost: " + global_money_total);
	if(isNumeric(cashGiven)){
		if(cashGiven > global_money_total){
			change = cashGiven - global_money_total;
			console.log("Change: " + change);
		}
	}
	$("#change").val(change.toFixed(2));
}

// Updates UI
function update(){
	$("#transaction-info").html("");
	var tokens_total = 0;
	var weight_total = 0;

	for(let i=0;i<transaction.length;i++){
		var value = 0;
		var note = "";
		if(member.name){
			value = +transaction[i].tokens
			tokens_total += +value;
			if(transaction[i].member_discount > 0){
				note = " (<span class='fail'>-" + transaction[i].member_discount + "%</span>)";
			}
		} else {
			value = +transaction[i].tokens;
			tokens_total += +transaction[i].tokens;
		}

		weight_total += +transaction[i].weight;

		if(transaction[i].carbon_id !== ""  && transaction[i].setValue == false){
			$('<tr>',{
			    html:"<td>" + transaction[i].category + note + "</td>" +
			    "<td id='tokens_" + i + "' contenteditable='true' oninput='updateTrans(" + i + ")' onblur='updateTrans(" + i + ")'>" + transaction[i].tokens + "</td>" +
			    "<td id='weight_" + i + "' contenteditable='true' oninput='updateTrans(" + i + ")' onblur='updateTrans(" + i + ")'>" + transaction[i].weight + "</td>" +
			    "<td class='remove-item clickable' onclick='removeFromTrans(" + i + ")'>x</td>"
			}).appendTo('#transaction-info');
		} else if(transaction[i].carbon_id == "" && transaction[i].setValue == false) {
			$('<tr>',{
			    html:"<td>" + transaction[i].category + note + "</td>" +
			    "<td id='tokens_" + i + "' contenteditable='true' oninput='updateTrans(" + i + ")' onblur='updateTrans(" + i + ")'>" + transaction[i].tokens + "</td>" +
			    "<td id='weight_" + i + "'>-</td>" +
			    "<td class='remove-item clickable' onclick='removeFromTrans(" + i + ")'>x</td>"
			}).appendTo('#transaction-info');
		} else if(transaction[i].carbon_id == "" && transaction[i].setValue == true){
			$('<tr>',{
			    html:"<td>" + transaction[i].category + note + "</td>" +
			    "<td id='tokens_" + i + "'>" + value + "</td>" +
			    "<td id='weight_" + i + "'>-</td>" +
			    "<td class='remove-item clickable' onclick='removeFromTrans(" + i + ")'>x</td>"
			}).appendTo('#transaction-info');
		} else if(transaction[i].carbon_id !== "" && transaction[i].setValue == true){
			$('<tr>',{
			    html:"<td>" + transaction[i].category + note + "</td>" +
			    "<td id='tokens_" + i + "'>" + value + "</td>" +
			    "<td id='weight_" + i + "' contenteditable='true' oninput='updateTrans(" + i + ")' onblur='updateTrans(" + i + ")'>" + transaction[i].weight + "</td>" +
			    "<td class='remove-item clickable' onclick='removeFromTrans(" + i + ")'>x</td>"
			}).appendTo('#transaction-info');
		}
	}

	if(transaction.length > 0){
		$('<tr>',{
		    html:"<td><b>TOTAL:</b></td>" +
		    "<td id='tokens_total'>" + tokens_total + "</td>" +
		    "<td id='weight_total'>" + weight_total + "</td>" +
		    "<td></td>"
		}).appendTo('#transaction-info');
	}

	updateButtons();



}

updateOptions("categories.options");

var payWithTokens = false;


function updateOptions(path){

	$("#options").html("")

	options = eval(path);
	var markup = "";

	for(let i=0;i<options.length;i++){

		var option = options[i];
		if(!option.value){
			option.value = 0;
		}

		if(!option.weight){
			option.weight = 0;
		}

		if(option.children && option.children.length > 0){
			option.onclick =  "updateOptions('" + path + "[" + i + "].children" + "')";
		} else {

				option.onclick = "addToTrans('" + option.item_id + "', '" + option.name.replace(/'/g, "\\\'") + "', '" + option.value + "', '" + option.carbon_id + "', '" + option.allowTokens +"', '" + option.member_discount + "', '" + option.weight + "', " + option.needsCondition + ")";

		}
		var wrapper, wrapperEnd = "";

		if((i+1)%3 == 1){
			markup = markup + "<div class='row'>";
		}

		markup = markup +

							'<div id="' + i + '" class="col-xs-5 col-sm-3 item-options" onclick="' + option.onclick + '">' +
				      			'<center>' +
									'<span>' + option.name + '</span>' +
								'</center>' +
				      		'</div>';

		if((i+1)%3 == 0){
			markup = markup + "</div>";
		}


		option.onclick = "";



	}

	$("#options").html(markup);

	var parent = path.split(".")
	parent.splice(-1, 1);
	if(parent.length >= 2){

		parent = parent.join(".");
		parent = parent.slice(0, -3);

		$("#options").html($("#options").html() + '<div class="row">' +

							'<div class="col-sm-3 item-options" onclick="' +  "updateOptions('" + parent + "')" + '">' +
				      			'<center>' +
									'<span>← Back</span>' +
								'</center>' +
				      		'</div>');
	}




}

var global_money_total = 0;

function updateButtons(){

	tokens_total = 0;
	weight_total = 0;
	money_total = 0;

	for(let i=0;i<transaction.length;i++){
		if(transaction[i].allowTokens == 1){
			if(member.name){
				tokens_total += +(transaction[i].tokens - (transaction[i].tokens * (transaction[i].member_discount/100)));
			} else {
				tokens_total += +transaction[i].tokens;
			}

		} else {
			if(member.name){
				money_total += +(transaction[i].tokens - (transaction[i].tokens * (transaction[i].member_discount/100)));
			} else {
				money_total += +transaction[i].tokens;
			}
		}
		weight_total += +transaction[i].weight;
	}

	$("#tokens_total").html((tokens_total + money_total).toFixed(2));
	$("#weight_total").html(weight_total.toFixed(0));

	if(transaction.length > 0){
		$("#changeCalc").addClass("d-none");
		if(member.name && money_total == 0 && tokens_total == 0){
			$("#selectPaymentMethod").addClass("d-none");
			$(".transaction-total").html("Pay <b>nothing</b>!")
		} else if(member.name && payWithTokens){
			if(money_total == 0){
				if(member.balance >= tokens_total){
					$("#selectPaymentMethod").addClass("d-none");
					if(tokens_total == 1){
						$(".transaction-total").html("Pay <b>" + Math.ceil(tokens_total) + " token</b>")
					} else {
						$(".transaction-total").html("Pay <b>" + Math.ceil(tokens_total) + " tokens</b>")
					}


				} else {
					let difference = tokens_total - member.balance;
					$(".transaction-total").html("Pay <b>£" + (difference).toFixed(2) + "</b> and <b>" + (tokens_total - difference) +  " tokens</b>")
					$("#selectPaymentMethod").removeClass("d-none");
					global_money_total = (difference).toFixed(2);
				}
			} else {
				let difference = member.balance - tokens_total;
				var money = 0;
				var tokens = 0;

				if((member.balance - tokens_total) >= 0){
					tokens = tokens_total;
					money = money_total;
				} else {
					tokens = member.balance;
					money = +money_total + Math.abs(member.balance - tokens_total);
				}

				$(".transaction-total").html("Pay <b>£" + (money).toFixed(2) + "</b> and <b>" + Math.ceil(tokens) +  " tokens</b>")
				$("#selectPaymentMethod").removeClass("d-none");
				global_money_total = (money).toFixed(2);
			}
		} else {
			$(".transaction-total").html("Pay <b>£" + (tokens_total + money_total).toFixed(2) + "</b>");
			$("#selectPaymentMethod").removeClass("d-none");
			global_money_total = tokens_total + money_total;
		}

		if((tokens_total > 0 || money_total > 0) || member.name) {
			$("#transaction_btns").removeClass("d-none");
		} else {
			$("#transaction_btns").addClass("d-none");
		}

		if(global_money_total < 1){
			console.log("Money less than £1.00");
			$("#cardOption").prop("disabled", true)
			$("#minimumCardTransaction").removeClass("d-none");
		} else {
			$("#cardOption").prop("disabled", false)
			$("#minimumCardTransaction").addClass("d-none");
		}

	} else {
		$("#transaction_btns").addClass("d-none");
	}

}

function workingGroupJoin(){
	var group_id = $('#workingGroupSelect').val();
	workingGroupAjaxReq("/api/get/working-groups/members/join/" + group_id + "/{{member.id.text}}");
}

function isNumericAndWhole(n) {
  return !isNaN(parseFloat(n)) && n >= 0 && n % 1 == 0;
}

function isNumeric(n) {
	return !isNaN(parseFloat(n)) && n >= 0;
}

function updateTrans(index){

	if(isNumeric($("#weight_" + index).html())){
		transaction[index].weight = $("#weight_" + index).html();
	} else {
		$("#weight_" + index).html("");
		transaction[index].weight = 0;
	}

	if(isNumeric($("#tokens_" + index).html())){
		transaction[index].tokens = $("#tokens_" + index).html();
	} else {
		$("#tokens_" + index).html("");
		transaction[index].tokens = 0;
	}

	if(transaction.length > 0){

		var tokens_total = 0;
		var weight_total = 0;

	}

	updateButtons();

}

var results = [];
var member = {};

function searchMember(){
  $.ajax({
      type: "POST",
      url: "/api/post/members/search/simple",
      data: {
          'term': $('#memberInput').val()
      },
      success: function(response){

        if(response.status == "ok"){
        	results = response.results;
          	updateSearchResults();
        }

      }
  });
}

function updateSearchResults(){
	member = {};
	$("#searchResults").html("");
	for(let i=0;i<results.length;i++){
		if(results[i].is_member){
			$("#searchResults").html($("#searchResults").html() +
				"<div class='col-md-3 mx-auto member-result'>" +
					"<div class='card'>" +
						"<div class='card-body'>" +
							"<p class='mb-2'><b>" + results[i].name + "</b> (<a href='{{public_address}}/members/view/" + results[i].id + "' target='_blank'>view profile</a>)</p>" +
							"<p class='mb-2'>" + results[i].balance + " tokens</p>" +
							"<p class='mb-2'>Membership expires: " + new Date(results[i].membership_expires).toLocaleDateString() + "<p>" +
							"<a class='btn btn-primary' onclick='selectMember(" + i + ")'>Select Member</a>" +
						"</div>" +
					"</div>" +
				"</div>")
		} else {
			$("#searchResults").html($("#searchResults").html() +
			"<div class='col-md-3 mx-auto member-result'>" +
				"<div class='card'>" +
					"<div class='card-body'>"  +
						"<p class='mb-3'><b>" + results[i].name + "</b></p>" +
						"<p class='mb-3'>Membership expired!<p>" +
						"<a class='btn btn-primary mb-2' onclick='selectMember(" + i + ")'>Select Member</a>" +
					"</div>" +
				"</div>" +
			"</div>")
		}
	}
}



function selectMember(index){

	member = results[index];

	if(member.is_member){
		$("#searchResults").html(
			"<div class='col-md-3 mb-4 mx-auto member-result'>" +
				"<div class='card member-selected'>" +
					"<div class='card-body'>" +
						"<p class='mb-2'><b>" + member.name + "</b> (<a href='{{public_address}}/members/view/" + member.id + "' target='_blank'>view profile</a>)</p>" +
						"<p class='mb-2'>" + member.balance + " tokens</p>" +
						"<p class='mb-2'><input type='checkbox' id='payWithTokens' /> Use tokens</p>" +
						"<p>Membership expires: " + new Date(member.membership_expires).toLocaleDateString() + "<p>" +
					"</div>" +
				"</div>" +
			"</div>")
	} else {
		$("#searchResults").html(
			"<div class='col-md-3 mb-4 mx-auto member-result'>" +
				"<div class='card member-result member-selected-expired'>" +
					"<div class='card-body'>" +
						"<p class='mb-2'><b>" + member.name + "</b></p>" +
						"<p class='mb-2'>" + member.balance + " tokens (unavailable)</p>" +
						"<p class='mb-2'>Membership expired!</p>" +
					"</div>" +
				"</div>" +
			"</div>")
		member.balance = 0;
	}

	$("#payWithTokens").change(function(){
		console.log("triggered");
		if(this.checked) {
			payWithTokens = true;
		} else {
			payWithTokens = false;
		}
		updateButtons();
	})

	update();
	$("#memberStatement").html("Member selected: <b>" + member.name + "</b>");
	updateButtons();
}





function completeTrans(type){
	let member_id = member.id || null;
    $.ajax({
        type: "POST",
        url: "/till/transaction",
        data: {
        	'member_id': member.id,
        	'till_id': "{{till.till_id}}",
        	'paymentMethod': paymentMethod,
            'transaction': transaction,
            'payWithTokens': payWithTokens,
            'note': $("#note").val()
        },
        success: function(response){

        	$("#confirmTransaction").prop("checked", false)
        	$("#confirmTransactionBtn").prop("disabled", true)
        	selectPaymentMethod("clear");
					console.log(response);
        	if(response.status == "ok"){
        		$("#note").val("")

	            transaction = [];
	            update();
	            payWithTokens = false;
	            $("#transaction_info").removeClass("d-none");
	            $("#transaction_info").css("display", "block")
	            $("#transaction_info").html('<div class="alert alert-success alert-dismissible fade show col-md-6 p-3 mx-auto" onclick="dismiss(\'#transaction_info\')">' + response.msg + "<button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button></div>");
	            if(member.name){
		            results[0] = response.member;
		            selectMember(0)
		        	}
							window.setTimeout(function(){
								$("#transaction_history").bootstrapTable('refresh');
							}, 750)

					} else if(response.status = "redirect") {
						window.location.href = response.url;
	        } else {
	        	$("#transaction_info").removeClass("d-none")
	        	$("#transaction_info").html('<div class="alert alert-danger alert-dismissible fade show col-md-6 p-3 mx-auto" onclick="dismiss(\'#transaction_info\')">' + response.msg + "<button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button></div>");
	        }
        }
    });
}

function getSavedCarbon(){
	$.ajax({
	    type: "GET",
	    url: "/api/get/members/carbon-saved/" + $("#member_id").val(),
	    success: function(response){
			$('#carbon').html(response.carbon);
	    }
	});
}

function getBalance(){
	$.ajax({
	    type: "GET",
	    url: "/api/get/members/balance/" + $("#member_id").val(),
	    success: function(response){
			$('#balance').html(response.balance);
	    }
	});
}

function workingGroupAjaxReq(url){
   $.ajax({
      type: "GET",
      url: url,
      success: function(response){
      	if(response.status == "ok"){
        	$("#working_group_info").html('<div class="alert alert-success col-md-6 mx-auto" onclick="dismiss(\'#working_group_info\')">' + response.msg + '</div>');
      	} else {
      		$("#working_group_info").html('<div class="alert alert-danger col-md-6 mx-auto" onclick="dismiss(\'#working_group_info\')">' + response.msg + '</div>');
      	}
      }
   });
}


$("#memberToggle").change(function() {
    if(this.checked) {
        $("#memberOptions").removeClass("d-none");
				searchMember();
    } else {
    	member = {};
    	$("#searchResults").html("");
    	$("memberInput").val("");
    	$("#memberStatement").html("");
    	$("#memberOptions").addClass("d-none");
			update();
    	updateButtons();
    }
});

$("#confirmTransaction").change(function() {
    if(this.checked) {
        $("#confirmTransactionBtn").prop("disabled", false);
    } else {
    	$("#confirmTransactionBtn").prop("disabled", true);
    }
});

function showElectricalSafety() {
	$("#electricalSafety").removeClass("d-none");
}

function verifyElectricalSafety() {
	$.ajax({
		type: "POST",
		url: "https://shrub.space/testing/api/verify-safety.php",
		crossDomain: true,
		data: {
			"key": "{{{diode_api_key}}}",
			"item-id": $("#patTestingNumber").val()
		},
        success: function(response){
        	response = JSON.parse(response);
        	if(response.status == "fail"){
        		if(response.msg.includes("DO NOT SELL!!!")){
	        		$("#electricalSafety").css("background-color", "red")
	        		$("#electricalSafetyMessage").text(response.msg);
	        		setTimeout(function(){ alert(response.msg); }, 500);
        		} else {
        			$("#electricalSafety").css("background-color", "#FFD24C")
        			$("#electricalSafetyMessage").text(response.msg);
        		}
        	} else {
        		$("#electricalSafety").css("background-color", "#98FB98")
        		$("#electricalSafetyMessage").text(response.msg);
        	}

        }
	})
}

function selectPaymentMethod(method){
	$("#cashOption").removeClass("member-selected");
	$("#cardOption").removeClass("member-selected");
	$("#changeCalc").addClass("d-none");
	paymentMethod = null;

	if(method == "cash"){
		$("#cashOption").addClass("member-selected");
		$("#changeCalc").removeClass("d-none");
		paymentMethod = method;
	} else if(method == "card") {
		$("#cardOption").addClass("member-selected");
		paymentMethod = method;
	}
}


function resetElectricalColours(){

	$("#electricalSafety").css("background-color", "white")
	$("#electricalSafetyMessage").text("");

}

getSavedCarbon();

</script>
