<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

<div class="row m-2 m-md-4 m-lg-4 m-xl-4">

		<div class="card">
			<div class="card-body">
				<h3 class="mb-3">{{till.name}} <span class="text-success">&#9679;</span></h3>
				{{#if user.permissions.tills.updateCategories}}
					<a href="{{public_address}}/till/manage/{{till.till_id}}?till_id={{till.till_id}}" class="btn btn-block btn-primary">Update Categories</a>
				{{/if}}
			</div>
		</div>

</div>

<div id="transaction_info" class="row pl-3 mt-4 mb-4">
	{{#if murakamiMsg}}
		{{#ifCond smpStatus '==' 'failed'}}
			<div class="alert alert-danger alert-dismissible fade show col-md-6 p-3 mx-auto">
				Transaction failed! (error status: {{smpMsg}})
				<button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
			</div>
		{{else}}
			{{#ifCond murakamiStatus '==' 'ok'}}
				<div class="alert alert-success alert-dismissible fade show col-md-6 p-3 mx-auto">
					{{murakamiMsg}}
					<button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
				</div>
			{{else}}
				<div class="alert alert-danger alert-dismissible fade show col-md-6 p-3 mx-auto">
					{{murakamiMsg}}
					<button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button>
				</div>
			{{/ifCond}}
		{{/ifCond}}
	{{/if}}
</div>

<div class="row mt-4 mb-3">
		<div class="col-md-3 ml-2 ml-md-4 ml-lg-4 ml-xl-4">

			<input type="hidden" id="member_id" value="{{member.id.text}}" />

			<input type="checkbox" id="memberToggle" data-toggle="toggle" data-on="Customer Is A Member" data-off="Customer Is Not A Member">

			<div class="d-none" id="memberOptions">

			  <input type="text" class="form-control mt-3" id="memberInput" oninput="searchMember()" value="" placeholder="Type member's name or scan barcode">

			</div>
		</div>

</div>

<div class="row mt-3" id="searchResults"></div>

<div class="row mt-4 no-gutters">
	<div class="col-lg-6 mx-auto">

				<div class="col-md-12 mx-auto" id="options"></div>

	</div>



	<div class="col-12 col-md-6 col-lg-5 col-xl-5 mx-auto mt-4 mt-lg-0 mt-xl-0" id="transaction-list">
				<table class="table table-light table-striped">
				  <thead>
				    <tr>
				      <th scope="col">Category</th>
				      <th scope="col">Value</th>
				      <th scope="col">Weight (g)</th>
				      <th scope="col"></th>
				    </tr>
				  </thead>
				  <tbody id="transaction-info">

				  </tbody>
				</table>
	</div>
</div>

<div class="row mt-4 mb-4">
	<div class="col-12 col-md-8 col-lg-6 col-xl-4 mx-auto">
		<div id="transaction_btns" class="d-none">
			<button type="button" class="btn btn-success btn-block btn-lg" data-toggle="modal" data-target="#myModal"><span class="transaction-total"></span></button>
		</div>
	</div>
</div>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
			<div class="modal-header">
        <h5 class="modal-title">Transaction Summary</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
				<div class="row">
          <div class="col-10 col-md-8 col-lg-8 col-xl-8 mx-auto">
	      		<center>
		      		<h4 class="transaction-total"></h4>
		      		<p id="memberStatement"></p>
		      		<br />
		      		<div class="form-group d-none" id="selectPaymentMethod">
		      			<button class="btn btn-primary btn-lg form-inline" id="cashOption" onclick="selectPaymentMethod('cash')">Cash</button>
		      			&nbsp;
		      			<button class="btn btn-primary btn-lg form-inline" id="cardOption" onclick="selectPaymentMethod('card')">Card</button>
		      		</div>
							<small id="minimumCardTransaction" class="d-none">To pay with card, please spend a minimum of £1.00.</small>
					</center>
					<br />
				</div>
				</div>
				<div class="row">
					<div class="col-xs-10 col-md-6 col-md-offset-3 col-xs-offset-1 d-none mx-auto" id="changeCalc">
		    		<div class="input-group">
		            <span class="input-group-prepend">
									<span class="input-group-text" id="basic-addon1">Cash Given £</span>
								</span>
		            <input class="form-inline form-control" oninput="calculateChange(this)" type="text" placeholder="0.00" />
		    		</div>
		    		<br />
		    		<div class="input-group">
		            <span class="input-group-prepend">
									<span class="input-group-text" id="basic-addon1">Change Due £</span>
								</span>
		            <input class="form-inline form-control" id="change" type="text" placeholder="0.00" readonly />
		    		</div>
		    		<br />
		    	</div>
		  	</div>


				<div class="row">
					<div class="col-md-8 mx-auto">
						<textarea id="note" placeholder="Note (optional)" class="form-control"></textarea>
					</div>
				</div>

				<div class="row">
					<div class="conatiner mx-auto">
						<div class="form-check form-check-inline mt-2">
							<input class="form-check-input" type="checkbox" id="confirmTransaction">
							<label class="form-check-label">Transaction details are correct</label>
						</div>
					</div>
				</div>

      </div>
      <div class="modal-footer">
      	<button type="button" id="confirmTransactionBtn" class="btn btn-success" data-dismiss="modal" onclick="completeTransaction()" disabled="disabled">Complete Transaction</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


<div id="electricalSafetyModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
			<div class="modal-header">
        <h5 class="modal-title">Electrical Safety Check</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
				<div class="row">

					<div class="col-md-12">

						<div id="electricalSafety" class="p-4">

							<h5 class="mb-1">Please check the safety of any outgoing electronics!</h5>
							<p class="mb-3">If there is no ID and the item plugs into the wall, please DO NOT sell it. Battery powered items are ok to sell.</p>

				      <div class="form-inline mx-auto">
		              <input type="text" class="form-control" placeholder="ID Number" id="patTestingNumber" oninput="resetElectricalColours()" />
		              <a class="btn btn-primary" onclick="verifyElectricalSafety()">Verify Safety</a>
				      </div>

						  <h5 class="mt-2" id="electricalSafetyMessage"></h5>

						</div>
					</div>
				</div>

      </div>
      <div class="modal-footer">
      	<button type="button" id="confirmTransactionBtn" class="btn btn-success" data-dismiss="modal">Item Safe</button>
        <button type="button" class="btn btn-danger" id="removeUnsafe" onclick="" data-dismiss="modal">Not Safe</button>
      </div>
    </div>

  </div>
</div>


<div id="itemConditionModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
			<div class="modal-header">
        <h5 class="modal-title">Item Condition</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
				<div class="row">

					<div class="col-md-12">

						<div class="p-4">

							<h5 class="mb-1">Please select the condition of "<span id="itemConditionName" class="text-weight-bold"></span>"</h5>

							<div class="form-check">
							  <label class="form-check-label">
							    <input type="radio" class="form-check-input" name="itemCondition" value="Bought New">Bought New
							  </label>
							</div>

							<div class="form-check">
							  <label class="form-check-label">
							    <input type="radio" class="form-check-input" name="itemCondition" value="Reused">Reused
							  </label>
							</div>

							<div class="form-check">
							  <label class="form-check-label">
							    <input type="radio" class="form-check-input" name="itemCondition" value="Fixed in workshop">Fixed in workshop
							  </label>
							</div>

						</div>
					</div>
				</div>

      </div>
      <div class="modal-footer">
      	<button type="button" id="addItemConditionToTrans" class="btn btn-success" data-dismiss="modal">Add To Transaction</button>
        <button type="button" class="btn btn-danger" onclick="" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<script>

var transaction = [];

var tokens_total = 0;
var weight_total = 0;
var money_total = 0;
var global_money_total = 0;

var paymentMethod;

var itemToAdd = {};

var categories = {}
categories.options = {{{json categories}}}
categories.parent = null

var payWithTokens = false;
var results = [];
var member = {};


if (navigator.appVersion.includes("Android") || navigator.appVersion.includes("Apple")){
    $("#cardOption").removeClass("d-none");
} else {
	$("#cardOption").addClass("d-none");
}

var uri = window.location.toString();
if (uri.indexOf("?") > 0) {
    var clean_uri = uri.substring(0, uri.indexOf("?"));
    window.history.replaceState({}, document.title, clean_uri);
}

$('#isMemberCheck').click(function () {
		var checked = $('input', this).is(':checked');
		$('span', this).text(checked ? 'Customer Is A Member' : 'Customer Is Not A Member');
});



$('input[name="itemCondition"]:radio').change(function(){
	let condition = this.value;
	let option = itemToAdd;

	if(itemToAdd){
		document.getElementById("addItemConditionToTrans").onclick = function(){
			addToTransaction(option)
		}
	}
});

function addToTransaction(item){

	var sanitizedItem = {};
	sanitizedItem.id = item.item_id;
	sanitizedItem.name = item.name;
	sanitizedItem.absoluteName = item.absolute_name;
	sanitizedItem.weight = item.weight || 0;

	sanitizedItem.allowTokens = item.allowTokens;
	sanitizedItem.carbon_id = item.carbon_id;
	sanitizedItem.member_discount = item.member_discount;

	if(item.value > 0){
		sanitizedItem.value = item.value;
		sanitizedItem.setValue = true;
	} else {
		sanitizedItem.value = 0;
		sanitizedItem.setValue = false;
	}



	if("{{diodeIntegrationOn}}"){
		if(sanitizedItem.carbon_id == "IT-101"){
			$("#electricalSafetyModal").modal("show");
			$("#removeUnsafe").attr("onclick", "removeFromTransaction(null)");
		}
	}

	if(item.condition == 1){
		$('input[name="itemCondition"]:radio').prop('checked', false);
		$("#addItemConditionToTrans").attr("onclick", "return false;");
		$("#itemConditionName").text(sanitizedItem.name);
		$('#itemConditionModal').modal('show');
		itemToAdd = sanitizedItem;
	} else {
		if(item.condition != 1){
			sanitizedItem.condition = item.condition;
		}

		itemToAdd = {};
		transaction.push(sanitizedItem);

	}

	updateTransactionList();

}

function removeFromTransaction(index){
	if(index){
		transaction.splice(index, 1);
	} else {
		transaction.pop();
	}

	updateTransactionList();
}



function calculateChange(e){
	let cashGiven = parseFloat(e.value);
	let change = 0;


	if(isNumeric(cashGiven)){
		if(cashGiven > global_money_total){
			change = cashGiven - global_money_total;

		}
	}
	$("#change").val(change.toFixed(2));
}

// Updates UI
function updateTransactionList(){
	$("#transaction-info").html("");
	var tokens_total = 0;
	var weight_total = 0;
	var row, categoryColumn, valueColumn, weightColumn, deleteColumn;

	for(let i=0;i<transaction.length;i++){
		var value = 0;
		var note = "";
		if(member.name){
			value = +transaction[i].value
			tokens_total += +value;
			if(transaction[i].member_discount > 0){
				note = " (<span class='fail'>-" + transaction[i].member_discount + "%</span>)";
			}
		} else {
			value = +transaction[i].value;
			tokens_total += +transaction[i].value;
		}

		weight_total += +transaction[i].weight;

		row = document.createElement("tr");

		categoryColumn = document.createElement("td");
		categoryColumn.innerHTML = transaction[i].name + note;

		valueColumn = document.createElement("td");
		valueColumn.id = "value_" + i;
		valueColumn.oninput = function(){
			updateTransaction(i)
		};
		valueColumn.onblur = function(){
			updateTransaction(i)
		};

		valueColumn.textContent = transaction[i].value;

		if(transaction[i].setValue == false){
			valueColumn.contentEditable = true;
		}

		weightColumn = document.createElement("td");
		weightColumn.id = "weight_" + i;
		weightColumn.oninput = function(){
			updateTransaction(i)
		};
		weightColumn.onblur = function(){
			updateTransaction(i)
		};
		if(transaction[i].carbon_id != ""){
			weightColumn.contentEditable = true;
			weightColumn.textContent = transaction[i].weight;
		} else {
			weightColumn.textContent = "-";

		}

		removeColumn = document.createElement("td");
		removeColumn.className = "remove-item clickable"
		removeColumn.textContent = "x"
		removeColumn.onclick = function(){
			removeFromTransaction(i)
		}

		row.appendChild(categoryColumn)
		row.appendChild(valueColumn)
		row.appendChild(weightColumn)
		row.appendChild(removeColumn)

		document.getElementById("transaction-info").appendChild(row);

	}

	if(transaction.length > 0){
		$('<tr>',{
		    html:"<td><b>TOTAL:</b></td>" +
		    "<td id='tokens_total'>" + tokens_total + "</td>" +
		    "<td id='weight_total'>" + weight_total + "</td>" +
		    "<td></td>"
		}).appendTo('#transaction-info');
	}

	updateButtons();



}

updateOptions("categories.options");

function updateOptions(path){

	$("#options").html("")

	options = eval(path);

	var currentRow, option, optionDOMObject;

	for(let i=0;i<options.length;i++){

		option = options[i];


		if((i+1)%3 == 1){
			currentRow = document.createElement("div");
		 	currentRow.className = "row";
			document.getElementById("options").appendChild(currentRow);

		}

		optionDOMObject = {
			parent: document.createElement("div"),
			text:document.createElement("p")
		};

		optionDOMObject.parent.id = i;
		optionDOMObject.parent.className = "col-xs-5 col-sm-3 item-options";

		if(option.children && option.children.length > 0){
			optionDOMObject.parent.onclick = function() {
				updateOptions(path + "[" + i + "].children")
			};
		} else {
			optionDOMObject.parent.onclick = function(){
				addToTransaction(options[i]);
			}
		}

		optionDOMObject.text.className = "text-center";
		optionDOMObject.text.textContent = option.name;

		optionDOMObject.parent.appendChild(optionDOMObject.text)
		currentRow.appendChild(optionDOMObject.parent);

	}


	var parent = path.split(".")
	parent.splice(-1, 1);
	if(parent.length >= 2){

		parent = parent.join(".");
		parent = parent.slice(0, -3);

		var row = document.createElement("div");
		row.className = "row";


		var optionDOMObject = {
			parent: document.createElement("div"),
			text:document.createElement("p")
		}

		optionDOMObject.parent.className = "col-sm-3 item-options";
		optionDOMObject.parent.onclick = function() { updateOptions(parent) }

		optionDOMObject.text.className = "text-center";
		optionDOMObject.text.textContent = "← Back";

		optionDOMObject.parent.appendChild(optionDOMObject.text)
		row.appendChild(optionDOMObject.parent);
		document.getElementById("options").appendChild(row);



	}




}

function updateButtons(){

	tokens_total = 0;
	weight_total = 0;
	money_total = 0;

	for(let i=0;i<transaction.length;i++){
		if(transaction[i].allowTokens == 1){
			if(member.name){
				tokens_total += +(transaction[i].value - (transaction[i].value * (transaction[i].member_discount/100)));
			} else {
				tokens_total += +transaction[i].value;
			}

		} else {
			if(member.name){
				money_total += +(transaction[i].value - (transaction[i].value * (transaction[i].member_discount/100)));
			} else {
				money_total += +transaction[i].value;
			}
		}
		weight_total += +transaction[i].weight;
	}

	$("#value_total").html((tokens_total + money_total).toFixed(2));
	$("#weight_total").html(weight_total.toFixed(0));

	if(transaction.length > 0){
		$("#changeCalc").addClass("d-none");
		if(money_total == 0 && tokens_total == 0){
			$("#selectPaymentMethod").addClass("d-none");
			$(".transaction-total").html("Pay <b>nothing</b>!")
		} else if(member.name && payWithTokens){
			if(money_total == 0){
				if(member.balance >= tokens_total){
					$("#selectPaymentMethod").addClass("d-none");
					if(tokens_total == 1){
						$(".transaction-total").html("Pay <b>" + Math.ceil(tokens_total) + " token</b>")
					} else {
						$(".transaction-total").html("Pay <b>" + Math.ceil(tokens_total) + " tokens</b>")
					}


				} else {

					let difference = tokens_total - member.balance;
					$(".transaction-total").html("Pay <b>£" + (difference).toFixed(2) + "</b> and <b>" + (tokens_total - difference) +  " tokens</b>")
					$("#selectPaymentMethod").removeClass("d-none");
					global_money_total = (difference).toFixed(2);
				}
			} else {

				let difference = member.balance - tokens_total;
				var money = 0;
				var tokens = 0;

				if((member.balance - tokens_total) >= 0){
					tokens = tokens_total;
					money = money_total;
				} else {
					tokens = member.balance;
					money = +money_total + Math.abs(member.balance - tokens_total);
				}

				$(".transaction-total").html("Pay <b>£" + (money).toFixed(2) + "</b> and <b>" + Math.ceil(tokens) +  " tokens</b>")
				$("#selectPaymentMethod").removeClass("d-none");
				global_money_total = (money).toFixed(2);
			}
		} else {
			$(".transaction-total").html("Pay <b>£" + (tokens_total + money_total).toFixed(2) + "</b>");
			$("#selectPaymentMethod").removeClass("d-none");
			global_money_total = tokens_total + money_total;
		}


		$("#transaction_btns").removeClass("d-none");


		if(global_money_total < 1){

			$("#cardOption").prop("disabled", true)
			$("#minimumCardTransaction").removeClass("d-none");
		} else {
			$("#cardOption").prop("disabled", false)
			$("#minimumCardTransaction").addClass("d-none");
		}

	} else {
		$("#transaction_btns").addClass("d-none");
	}

}

function isNumericAndWhole(n) {
  return !isNaN(parseFloat(n)) && n >= 0 && n % 1 == 0;
}

function isNumeric(n) {
	return !isNaN(parseFloat(n)) && n >= 0;
}

function updateTransaction(index){

	if(isNumeric($("#weight_" + index).html())){
		transaction[index].weight = $("#weight_" + index).html();
	} else {
		$("#weight_" + index).html("");
		transaction[index].weight = 0;
	}

	if(isNumeric($("#value_" + index).text())){
		transaction[index].value = $("#value_" + index).html();
	} else {
		$("#value_" + index).html("");
		transaction[index].value = 0;
	}

	if(transaction.length > 0){

		var tokens_total = 0;
		var weight_total = 0;

	}

	updateButtons();

}



function searchMember(){
  $.ajax({
      type: "POST",
      url: "{{public_address}}/api/post/members/search/simple",
      data: {
          'term': $('#memberInput').val()
      },
      success: function(response){

        if(response.status == "ok"){
        	results = response.results;
          	updateSearchResults();
        }

      }
  });
}

function updateSearchResults(){
	member = {};
	$("#searchResults").html("");
	for(let i=0;i<results.length;i++){

		var memberMarkup = {}

		memberMarkup.column = document.createElement("div")
		memberMarkup.column.className = "col-md-3 mx-auto member-result";

		memberMarkup.card = document.createElement("div")
		memberMarkup.card.className = "card";

		memberMarkup.cardBody = document.createElement("div")
		memberMarkup.cardBody.className = "card-body";

		memberMarkup.name = document.createElement("p")
		memberMarkup.name.className = "mb-2";
		memberMarkup.name.innerHTML = "<b>" + results[i].name + "</b> (<a href='{{public_address}}/members/view/" + results[i].id + "?till_id={{till.till_id}}' target='_blank'>view profile</a>)"

		memberMarkup.balance = document.createElement("p")
		memberMarkup.balance.className = "mb-2";
		memberMarkup.balance.textContent = results[i].balance + " tokens";

		memberMarkup.membershipDates = document.createElement("p")
		memberMarkup.membershipDates.className = "mb-2";
		memberMarkup.membershipDates.textContent = "Membership expires: " + results[i].membership_expires;

		memberMarkup.selectMember = document.createElement("a")
		memberMarkup.selectMember.className = "btn btn-primary";
		memberMarkup.selectMember.textContent = "Select Member";
		memberMarkup.selectMember.onclick = function(){
			selectMember(i)
		}

		memberMarkup.cardBody.appendChild(memberMarkup.name)

		if(results[i].is_member == true){
			memberMarkup.cardBody.appendChild(memberMarkup.balance);
			memberMarkup.cardBody.appendChild(memberMarkup.membershipDates);
			memberMarkup.cardBody.appendChild(memberMarkup.selectMember);
		} else {
			memberMarkup.membershipDates.textContent = "Membership expired!"
			memberMarkup.membershipDates.className = "mb-3"
			memberMarkup.cardBody.appendChild(memberMarkup.membershipDates);
			memberMarkup.cardBody.appendChild(memberMarkup.selectMember);
		}

		memberMarkup.card.appendChild(memberMarkup.cardBody);
		memberMarkup.column.appendChild(memberMarkup.card);



		document.getElementById("searchResults").appendChild(memberMarkup.column)


	}
}

function selectMember(index){

	$("#searchResults").html("")

	member = results[index];

	var selectedMemberMarkup = {}

	selectedMemberMarkup.column = document.createElement("div")
	selectedMemberMarkup.column.className = "col-md-3 mb-4 mx-auto member-result";

	selectedMemberMarkup.card = document.createElement("div")
	selectedMemberMarkup.card.className = "card member-selected";

	selectedMemberMarkup.cardBody = document.createElement("div")
	selectedMemberMarkup.cardBody.className = "card-body";

	selectedMemberMarkup.name = document.createElement("p")
	selectedMemberMarkup.name.className = "mb-2";
	selectedMemberMarkup.name.innerHTML = "<b>" + member.name + "</b> (<a href='{{public_address}}/members/view/" + member.id + "?till_id={{till.till_id}}' target='_blank'>view profile</a>)"

	selectedMemberMarkup.balance = document.createElement("p")
	selectedMemberMarkup.balance.className = "mb-2";
	selectedMemberMarkup.balance.textContent = member.balance + " tokens";

	selectedMemberMarkup.membershipDates = document.createElement("p")
	selectedMemberMarkup.membershipDates.className = "mb-2";
	selectedMemberMarkup.membershipDates.textContent = "Membership expires: " + member.membership_expires;


	selectedMemberMarkup.payWithTokens = document.createElement("p")
	selectedMemberMarkup.payWithTokens.className = "mb-2";

	selectedMemberMarkup.payWithTokensText = document.createTextNode(' Pay With Tokens')

	selectedMemberMarkup.payWithTokensCheckbox = document.createElement("input")
	selectedMemberMarkup.payWithTokensCheckbox.type = "checkbox";
	selectedMemberMarkup.payWithTokensCheckbox.id = "payWithTokens";
	selectedMemberMarkup.payWithTokens.appendChild(selectedMemberMarkup.payWithTokensCheckbox);
	selectedMemberMarkup.payWithTokens.appendChild(selectedMemberMarkup.payWithTokensText);



	selectedMemberMarkup.cardBody.appendChild(selectedMemberMarkup.name)

	if(member.is_member == true){
		selectedMemberMarkup.cardBody.appendChild(selectedMemberMarkup.balance);
		selectedMemberMarkup.cardBody.appendChild(selectedMemberMarkup.payWithTokens);
		selectedMemberMarkup.cardBody.appendChild(selectedMemberMarkup.membershipDates);
	} else {
		selectedMemberMarkup.card.className = "card member-result member-selected-expired";
		selectedMemberMarkup.balance.textContent += " (unavailable)"
		selectedMemberMarkup.membershipDates.textContent = "Membership expired!"

		selectedMemberMarkup.cardBody.appendChild(selectedMemberMarkup.balance);
		selectedMemberMarkup.cardBody.appendChild(selectedMemberMarkup.membershipDates);

		member.balance = 0;
	}

	selectedMemberMarkup.card.appendChild(selectedMemberMarkup.cardBody);
	selectedMemberMarkup.column.appendChild(selectedMemberMarkup.card);



	document.getElementById("searchResults").appendChild(selectedMemberMarkup.column)


	$("#payWithTokens").change(function(){

		if(this.checked) {
			payWithTokens = true;
		} else {
			payWithTokens = false;
		}
		updateButtons();
	})

	updateTransactionList();
	$("#memberStatement").html("Member selected: <b>" + member.name + "</b>");
	updateButtons();
}

function completeTransaction(type){
	let member_id = member.id || null;
    $.ajax({
        type: "POST",
        url: "{{public_address}}/till/transaction",
        data: {
        	'member_id': member.id,
        	'till_id': "{{till.till_id}}",
        	'paymentMethod': paymentMethod,
            'transaction': transaction,
            'payWithTokens': payWithTokens,
            'note': $("#note").val()
        },
        success: function(response){

        	$("#confirmTransaction").prop("checked", false)
        	$("#confirmTransactionBtn").prop("disabled", true)
        	selectPaymentMethod("clear");

        	if(response.status == "ok"){
        		$("#note").val("")
	            transaction = [];
	            updateTransactionList();
	            payWithTokens = false;
	            $("#transaction_info").removeClass("d-none");
	            $("#transaction_info").css("display", "block")
	            $("#transaction_info").html('<div class="alert alert-success alert-dismissible fade show col-md-6 p-3 mx-auto" onclick="dismiss(\'#transaction_info\')">' + response.msg + "<button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button></div>");
	            if(member.name){
		            results[0] = response.member;
		            selectMember(0)
		        	}
							window.setTimeout(function(){
								$("#transaction_history").bootstrapTable('refresh');
							}, 750)

					} else if(response.status = "redirect") {
						window.location.href = response.url;
	        } else {
	        	$("#transaction_info").removeClass("d-none")
	        	$("#transaction_info").html('<div class="alert alert-danger alert-dismissible fade show col-md-6 p-3 mx-auto" onclick="dismiss(\'#transaction_info\')">' + response.msg + "<button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button></div>");
	        }
        }
    });
}

function getSavedCarbon(){
	$.ajax({
	    type: "GET",
	    url: "{{public_address}}/api/get/members/carbon-saved/" + $("#member_id").val(),
	    success: function(response){
			$('#carbon').html(response.carbon);
	    }
	});
}

function getBalance(){
	$.ajax({
	    type: "GET",
	    url: "{{public_address}}/api/get/members/balance/" + $("#member_id").val(),
	    success: function(response){
			$('#balance').html(response.balance);
	    }
	});
}


$("#memberToggle").change(function() {
    if(this.checked) {
        $("#memberOptions").removeClass("d-none");
				searchMember();
    } else {
    	member = {};
    	$("#searchResults").html("");
    	$("memberInput").val("");
    	$("#memberStatement").html("");
    	$("#memberOptions").addClass("d-none");
			updateTransactionList();
    	updateButtons();
    }
});

$("#confirmTransaction").change(function() {
    if(this.checked) {
        $("#confirmTransactionBtn").prop("disabled", false);
    } else {
    	$("#confirmTransactionBtn").prop("disabled", true);
    }
});

function showElectricalSafety() {
	$("#electricalSafety").removeClass("d-none");
}

function verifyElectricalSafety() {
	$.ajax({
		type: "POST",
		url: "https://shrub.space/testing/api/verify-safety.php",
		crossDomain: true,
		data: {
			"key": "{{{diode_api_key}}}",
			"item-id": $("#patTestingNumber").val()
		},
        success: function(response){
        	response = JSON.parse(response);
        	if(response.status == "fail"){
        		if(response.msg.includes("DO NOT SELL!!!")){
	        		$("#electricalSafety").css("background-color", "red")
	        		$("#electricalSafetyMessage").text(response.msg);
	        		setTimeout(function(){ alert(response.msg); }, 500);
        		} else {
        			$("#electricalSafety").css("background-color", "#FFD24C")
        			$("#electricalSafetyMessage").text(response.msg);
        		}
        	} else {
        		$("#electricalSafety").css("background-color", "#98FB98")
        		$("#electricalSafetyMessage").text(response.msg);
        	}

        }
	})
}

function selectPaymentMethod(method){
	$("#cashOption").removeClass("member-selected");
	$("#cardOption").removeClass("member-selected");
	$("#changeCalc").addClass("d-none");
	paymentMethod = null;

	if(method == "cash"){
		$("#cashOption").addClass("member-selected");
		$("#changeCalc").removeClass("d-none");
		paymentMethod = method;
	} else if(method == "card") {
		$("#cardOption").addClass("member-selected");
		paymentMethod = method;
	}
}


function resetElectricalColours(){

	$("#electricalSafety").css("background-color", "white")
	$("#electricalSafetyMessage").text("");

}

</script>
