<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>

<!-- Bootstrap table export -->
<script src="https://rawgit.com/hhurz/tableExport.jquery.plugin/master/tableExport.js"></script>
<script src="https://rawgit.com/wenzhixin/bootstrap-table/master/src/extensions/export/bootstrap-table-export.js"></script>

<h1>View/Export Members</h1>

<p>To select a working group, simply type its name into the search box</p>

<div class="col-lg-4 col-lg-push-8">
    <div class="row">
        <div class="form-group">
          <select id="membership_status_filter" class="form-control">
            <option value="all">Members & Non-members</option>
            <option value="members" selected>Members Only</option>
            <option value="non-members">Non-members Only</option>
          </select>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
          <select id="volunteer_status_filter" class="form-control">
            <option value="all">Volunteers & Non-volunteers</option>
            <option value="all-vols">All Volunteers</option>
            <option value="reg-vols">Regular Volunteers Only</option>
            <option value="occ-vols">Occasional Volunteers Only</option>
            <option value="non-vols">Non-volunteers Only</option>
          </select>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
          <select id="active_swapper_status_filter" class="form-control">
            <option value="all">Active Swappers & Non-active Swappers</option>
            <option value="active">Active Swappers</option>
            <option value="non-active">Non-active Swappers</option>
          </select>
        </div>
    </div>
</div>

<div class="col-lg-7 col-lg-pull-4">
  <div class="row">
    <table id="members_table" class="fadeIn" data-search="true" data-toggle="table" data-striped="true" data-toolbar="#toolbar" data-show-export="true" data-export-options='{"fileName": "shrub_members"}'>
      <thead>
        <th class="hidden">Member ID</th>
        <th data-sortable="true">Name</th>
        <th>Email</th>
        <th class="hidden">Phone Number</th>
        <th class="hidden">Address</th>
        <th class="hidden" data-field="membership_status">Membership Status</th>
        <th class="hidden" data-field="volunteer_status">Volunteer Status</th>
        <th class="hidden" data-field="active_swapper_status">Active Swapper Status</th>
        <th class="hidden" data-field="working_groups">Working Groups</th>
        <th class="hidden">Tokens</th>
      </thead>
      <tbody>
      {{#each members}}
        <tr>
          <td>{{id.text}}</td>
          <td>{{full_name.text}}</td>
          <td>{{email.text}}</td>
          <td>{{phone_no.text}}</td>
          <td>{{address.text}}</td>
          <td>{{status.text}}</td>
          <td>{{volunteer_status.text}}</td>
          <td>{{active_swapper.text}}</td>
          <td>
            {{#each working_groups}}
              {{#if isMember}}
                {{name}}
              {{/if}}
            {{/each}}
          </td>
          <td>{{balance.text}}</td>
        </tr>
      {{/each}}
      </tbody>
    </table>
  </div>
</div>

<br />
<br />

<script>
var filter = {
  membership_status: ["Current member, paid", "Current member, free"],
  volunteer_status: ["doesn't volunteer", "volunteers occasionally", "volunteers regularly"],
  active_swapper_status: ["an active swapper", "not an active swapper"]
};

$(document).ready(function(){
  $('#members_table').bootstrapTable('filterBy', filter);
})

$('#membership_status_filter').on('change', function () {
    var selection = $(this).val();
    if(selection == "all"){
      filter.membership_status = ["Current member, paid", "Current member, free", "No longer a member"];
    } else if(selection == "members") {
      filter.membership_status = ["Current member, paid", "Current member, free"];
    } else if(selection == "non-members"){
      filter.membership_status = ["No longer a member"];
    }

    $('#members_table').bootstrapTable('filterBy', filter);
});

$('#volunteer_status_filter').on('change', function () {
    var selection = $(this).val();
    if(selection == "all"){
      filter.volunteer_status = ["doesn't volunteer", "volunteers occasionally", "volunteers regularly"];
    } else if(selection == "non-vols") {
      filter.volunteer_status = ["doesn't volunteer"];
    } else if(selection == "all-vols"){
      filter.volunteer_status = ["volunteers occasionally", "volunteers regularly"];
    }  else if(selection == "reg-vols"){
      filter.volunteer_status = ["volunteers regularly"];
    } else if(selection == "occ-vols"){
      filter.volunteer_status = ["volunteers occasionally"];
    }

    $('#members_table').bootstrapTable('filterBy', filter);
});

$('#active_swapper_status_filter').on('change', function () {
    var selection = $(this).val();
    if(selection == "all"){
      filter.active_swapper_status = ["an active swapper", "not an active swapper"];
    } else if(selection == "active") {
      filter.active_swapper_status = ["an active swapper"];
    } else if(selection == "non-active"){
      filter.active_swapper_status = ["not an active swapper"];
    }

    console.log(filter);

    $('#members_table').bootstrapTable('filterBy', filter);
});

</script>