<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>

<!-- Export plugin -->
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/extensions/export/bootstrap-table-export.min.js"></script>
<script src="//rawgit.com/hhurz/tableExport.jquery.plugin/master/tableExport.js"></script>


<div class="row mt-4 mb-4">
	<div class="col-md-6 mx-auto">
	  <form action="{{public_address}}/carbon-accounting/export" method="get">
	    <div class="form-group">
	      <input type="date" name="startDate" class="form-control" value="{{startDate}}">
	    </div>
	    <div class="form-group">
	      <input type="date" name="endDate" class="form-control" value="{{endDate}}">
	    </div>
	    <div class="form-group">
	      <select class="form-control" name="unit">
	        <option value="grams" {{#ifCond unit.name '==' "grams"}}selected{{/ifCond}}>Grams</option>
	        <option value="kilos" {{#ifCond unit.name '==' "kilos"}}selected{{/ifCond}}>Kilograms</option>
	        <option value="tonnes" {{#ifCond unit.name '==' "tonnes"}}selected{{/ifCond}}>Tonnes</option>
	      </select>
	    </div>
	    <div class="form-group">

					{{#ifCond user.permissions.carbonAccounting.export '==' true}}
	          {{>working-groups/select selectedGroup=group_id id="group_id" user=user}}
	        {{else}}
	          {{>working-groups/select selectedGroup=group_id allGroups=false id="group_id" user=user}}
	        {{/ifCond}}

	    </div>
	    <div class="form-group">
	      <select class="form-control" name="method">
	        <option value="recycled" {{#ifCond method '==' "recycled"}}selected{{/ifCond}}>Recycled</option>
	        <option value="generated" {{#ifCond method '==' "generated"}}selected{{/ifCond}}>Generated</option>
	        <option value="incinerated" {{#ifCond method '==' "incinerated"}}selected{{/ifCond}}>Incinerated</option>
	        <option value="landfilled" {{#ifCond method '==' "landfilled"}}selected{{/ifCond}}>Landfilled</option>
	        <option value="composted" {{#ifCond method '==' "composted"}}selected{{/ifCond}}>Composted</option>
	        <option value="reused" {{#ifCond method '==' "reused"}}selected{{/ifCond}}>Reused</option>
	        <option value="stored" {{#ifCond method '==' "restored"}}selected{{/ifCond}}>Stored</option>
	        <option value="other" {{#ifCond method '==' "other"}}selected{{/ifCond}}>Other</option>
	      </select>
	    </div>
	    <button type="submit" class="btn btn-primary btn-block">Get Carbon</button>
	  </form>
	</div>
</div>


<div class="row">
	<div class="col-md-6 mx-auto">
		<table class="table-light mt-4" style="width: 100%; border-collapse: collapse;">
			<tr class="p-2" style="border-bottom:2px solid black;">
				<td class="p-3">
					Category
				</td>
				<td class="p-3">
					Raw Weight ({{unit.name}})
				</td>
				<td class="p-3">
					Carbon Saved ({{unit.name}})
				</td>
			</tr>
			{{#each carbonCategories}}
				<tr class="p-2">
					<td class="p-3">
						<p>
							<b>
								{{name}}
							</b>
						</p>
					</td>
					<td class="p-3">
						<p>{{lookup (lookup ../carbon @key) 'raw'}} {{../unit.name}}</p>
					</td>
					<td class="p-3">
						<p>{{lookup (lookup ../carbon @key) 'saved'}} {{../unit.name}}</p>
						<p>
							<small>
								<i>Raw weight x <b>{{lookup factors ../method}}</b></i>
							</small>
						</p>
					</td>
				</tr>
			{{/each}}
		</table>

	</div>

</div>
