<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>

<!-- Export plugin -->
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/extensions/export/bootstrap-table-export.min.js"></script>
<script src="//rawgit.com/hhurz/tableExport.jquery.plugin/master/tableExport.js"></script>


<div class="row mt-4 mb-4">
  <div class="col-md-6 mx-auto">
    <div id="fullExportNote" class="alert alert-info p-4" role="alert">
      <span class="badge badge-pill badge-info mr-2">Info</span>Use the dialog below to export specific data. <b>To download all-time raw carbon data as a CSV</b> <a href="{{public_address}}/carbon-accounting/raw-csv-export">click here</a>
    </div>
  </div>
</div>

<div class="row mt-4 mb-4">
	<div class="col-md-6 mx-auto">
	  <form action="{{public_address}}/carbon-accounting/export" method="get">
	    <div class="form-group">
	      <input type="date" name="startDate" class="form-control" value="{{dates.start}}">
	    </div>
	    <div class="form-group">
	      <input type="date" name="endDate" class="form-control" value="{{dates.end}}">
	    </div>
	    <div class="form-group">
	      <select class="form-control" name="unit">
					<option disabled>Select unit...</option>
	        <option value="grams" {{#ifCond unit.name '==' "grams"}}selected{{/ifCond}}>Grams</option>
	        <option value="kilos" {{#ifCond unit.name '==' "kilos"}}selected{{/ifCond}}>Kilograms</option>
	        <option value="tonnes" {{#ifCond unit.name '==' "tonnes"}}selected{{/ifCond}}>Tonnes</option>
	      </select>
	    </div>
	    <div class="form-group">

					{{#ifCond user.permissions.carbonAccounting.export '==' true}}
	          {{>working-groups/select selectedGroup=group_id id="group_id" user=user allWorkingGroups=true}}
	        {{else}}
	          {{>working-groups/select selectedGroup=group_id allGroups=false id="group_id" user=user}}
	        {{/ifCond}}

	    </div>
	    <div class="form-group">
	      <select class="form-control" name="method">
					<option selected disabled>Select a disposal route...</option>
					<option value="grand-totals" {{#ifCond method '==' "grand-totals"}}selected{{/ifCond}}>Grand Totals</option>
	        <option value="recycled" {{#ifCond method '==' "recycled"}}selected{{/ifCond}}>Recycled</option>
	        <option value="generated" {{#ifCond method '==' "generated"}}selected{{/ifCond}}>Generated</option>
	        <option value="incinerated" {{#ifCond method '==' "incinerated"}}selected{{/ifCond}}>Incinerated</option>
	        <option value="landfilled" {{#ifCond method '==' "landfilled"}}selected{{/ifCond}}>Landfilled</option>
	        <option value="composted" {{#ifCond method '==' "composted"}}selected{{/ifCond}}>Composted</option>
	        <option value="reused" {{#ifCond method '==' "reused"}}selected{{/ifCond}}>Reused</option>
	        <option value="stored" {{#ifCond method '==' "restored"}}selected{{/ifCond}}>Stored</option>
	        <option value="other" {{#ifCond method '==' "other"}}selected{{/ifCond}}>Other</option>
	      </select>
	    </div>
	    <button type="submit" class="btn btn-primary btn-block">Get Carbon</button>
	  </form>
	</div>
</div>

{{#unless invalidRequest}}
	{{#ifCond method '==' 'grand-totals'}}
		<div class="row">
			<div class="col-md-6 mx-auto">
				<table class="table-light mt-4" style="width: 100%; border-collapse: collapse;">
					<tr class="p-2" style="border-bottom:2px solid grey;">
						<td class="p-3">
							<p>Disposal Route</p>
						</td>
						<td class="p-3">
							<p>Total Raw Weight ({{unit.name}})</p>
						</td>
						<td class="p-3">
							<p>Total Carbon Saved ({{unit.name}})</p>
						</td>
					</tr>
					{{#each carbon}}
						{{#ifCond @key "==" "totals"}}
							<tr class="p-2" style="background-color: #EFEFEF;">
						{{else}}
							<tr class="p-2">
						{{/ifCond}}

								<td class="p-3">
									<p>
										{{#ifCond @key "==" "totals"}}
											<b>{{formToPlain @key}}</b>
										{{else}}
											{{formToPlain @key}}
										{{/ifCond}}

									</p>
								</td>
								<td class="p-3">
									{{#ifCond @key "==" "totals"}}
										<p>{{lookup this 'raw'}} {{../unit.name}}</p>
									{{else}}
										<p>{{lookup (lookup this 'totals') 'raw'}} {{../unit.name}}</p>
									{{/ifCond}}
								</td>
								<td class="p-3">
									{{#ifCond @key "==" "totals"}}
										<p>{{lookup this 'saved'}} {{../unit.name}}</p>
									{{else}}
										<p>{{lookup (lookup this 'totals') 'saved'}} {{../unit.name}}</p>
									{{/ifCond}}
								</td>
							</tr>

					{{/each}}
				</table>

			</div>

		</div>
	{{else}}
		<div class="row">
			<div class="col-md-6 mx-auto">
				<table class="table-light mt-4" style="width: 100%; border-collapse: collapse;">
					<tr class="p-2" style="border-bottom:2px solid grey;">
						<td class="p-3">
							<p>Category</p>
						</td>
						<td class="p-3">
							<p>Raw Weight ({{unit.name}})</p>
						</td>
						<td class="p-3">
							<p>Carbon Saved ({{unit.name}})</p>
						</td>
					</tr>

					{{#each (lookup carbon method)}}
						{{#if (lookup ../carbonCategories @key)}}
							<tr class="p-2">
								<td class="p-3">
									<p>
											{{lookup (lookup ../carbonCategories @key) 'name'}}
									</p>
								</td>
								<td class="p-3">
									<p>{{raw}} {{../unit.name}}</p>
								</td>
								<td class="p-3">
									<p>{{saved}} {{../unit.name}}</p>
									{{#ifCond @key "!=" "totals"}}
										<p>
											<small>
												<i>Raw weight x <b>{{lookup (lookup (lookup ../carbonCategories @key) 'factors') ../method}}</b></i>
											</small>
										</p>
									{{/ifCond}}
								</td>
							</tr>
						{{/if}}
					{{/each}}

					<tr class="p-2" style="background-color:#EFEFEF;">
						<td class="p-3">
							<p>
								<b>Total</b>
							</p>
						</td>
						<td class="p-3">
							<p>
								<b>{{lookup (lookup (lookup carbon method) 'totals') 'raw'}} {{unit.name}}
								</b>
							</p>
						</td>
						<td class="p-3">
							<p>
								<b>{{lookup (lookup (lookup carbon method) 'totals') 'saved'}} {{unit.name}}</b>
							</p>
						</td>
					</tr>

				</table>

			</div>

		</div>
	{{/ifCond}}
{{/unless}}
