<div id="transaction_info" class="row pl-3 mt-4 mb-4"></div>


<div class="row mb-2">
  <div class="col-md-6 offset-md-1">
    <div class="row">
  		<div class="col-md-5 form-group">
  			{{#ifCond user.permissions.carbonAccounting.log '==' true}}
          {{>working-groups/select selectedGroup=group_id id="working_group" user=user}}
        {{else}}
          {{>working-groups/select selectedGroup=group_id allGroups=false id="working_group" user=user}}
        {{/ifCond}}
  		</div>

  		<div class="col-md-6 form-group">
        <select class="form-control d-block mb-1" id="method">
  				<option value="" selected disabled>Select a disposal method...</option>
          <option value="recycled">Recycled</option>
          <option value="landfilled">Landfilled</option>
          <option value="generated">Generated</option>
          <option value="incinerated">Incinerated</option>
          <option value="composted">Composted</option>
          <option value="reused">Reused</option>
          <option value="stored">Stored</option>
          <option value="other">Other</option>
        </select>

  			<label>
          <a class="form-text" href="javascript:void(0);" data-toggle="modal" data-target="#disposalMethodsExplained">
  			      Disposal Methods Explained
  			  </a>
        </label>

  		</div>
    </div>
  </div>
</div>

<div class="row">
	<div class="col-md-6 offset-md-1">
		{{#groupedEach 3 carbonCategories}}
		  <div class="row">
		    {{#each this}}

		      <div class="col-sm-3 item-options" onclick="addToTrans('{{carbon_id}}', '{{name}}')">
		      		<center>
						<span>{{name}}</span>
					</center>
		      </div>
		    {{/each}}
		  </div>
		{{/groupedEach}}
	</div>
	<div class="col-md-4 mt-2" id="transaction-list">

		<table class="table table-striped table-light">
		  <thead>
		    <tr>
		      <th scope="col">Category</th>
		      <th scope="col">Weight (g)</th>
		      <th scope="col"></th>
		    </tr>
		  </thead>
		  <tbody id="transaction-info">

		  </tbody>
		</table>
		<div id="transaction_btns" class="d-none">
			<a class="btn btn-block btn-success mt-4" onclick="completeTrans()">Log Weight</a>
		</div>
	</div>

</div>



<div class="modal fade" id="disposalMethodsExplained" tabindex="-1" role="dialog" aria-labelledby="disposalMethodsExplainedLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="disposalMethodsExplainedLabel">Disposal Methods Explained</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
				<div class="row">
			  	<div class="col-md-12 mx-auto">
			  			<div class="card">
			  					<div class="card-body">
			              <div class="row mt-2 mb-1">
			                <div class="col-md-10 offset-md-1">
			                  <ul>
			                    <li>
			                      <p><b>Landfilled</b>: Waste is disposed of by burial. The item is taken out of use so it requires regeneration.</p>
			                    </li>
			                    <li>
			                      <p><b>Incinerated</b>: Waste is disposed of by high temperature combustion. Some of this will be incineration with energy recovery.</p>
			                    </li>
			                    <li>
			                      <p><b>Composted</b>: Organic waste is into soil conditioner using the process of decomposition.</p>
			                    </li>
			                    <li>
			                      <p><b>Recycled</b>: Waste is converted into reusable new materials that displace primary materials.</p>
			                    </li>
													<li>
			                      <p><b>Reused</b>: Reuse means the products or components are used again for the same purpose for which they were conceived.</p>
			                    </li>
													<li>
			                      <p><b>Stored</b>: This category represent the state whereby items are kept in storage but are not used. This action takes items out of circulation and therefore it is considered to require regeneration.</p>
			                    </li>
			                  </ul>
			                </div>
			              </div>

			            </div>
			          </div>
			        </div>
			    </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>

var transaction = [];
function addToTrans(id, category){
	var item = {};
	item.id = id;
	item.category = category;
	item.weight = 0;

	transaction.push(item);
	update();
}

function removeFromTrans(index){
	transaction.splice(index, 1);
	update();
}

function update(){
	$("#transaction-info").html("");
	var weight_total = 0;

	for(let i=0;i<transaction.length;i++){
		weight_total += +transaction[i].weight;
		$('<tr>',{
		    html:"<td>" + transaction[i].category + "</td>" +
		    "<td id='weight_" + i + "' contenteditable='true' oninput='updateTrans(" + i + ")' onblur='updateTrans(" + i + ")'>" + transaction[i].weight + "</td>" +
		    "<td class='remove-item clickable' onclick='removeFromTrans(" + i + ")'>x</td>"
		}).appendTo('#transaction-info');
	}

	if(transaction.length > 0){
		$('<tr>',{
		    html:"<td><b>TOTAL:</b></td>" +
		    "<td id='weight_total'>" + weight_total + "</td>" +
		    "<td></td>"
		}).appendTo('#transaction-info');
	}

	if(transaction.length > 0) {
		$("#transaction_btns").removeClass("d-none");
	} else {
		$("#transaction_btns").addClass("d-none");
	}
}

function isNumeric(n) {
  return !isNaN(parseFloat(n)) && n >= 0 && n % 1 == 0;
}

function updateTrans(index){

	if(isNumeric($("#weight_" + index).html())){
		transaction[index].weight = $("#weight_" + index).html();
	} else {
		$("#weight_" + index).html("");
		transaction[index].weight = 0;
	}

	if(transaction.length > 0){

		var weight_total = 0;

		for(let i=0;i<transaction.length;i++){
			weight_total += +transaction[i].weight;
		}

		$("#weight_total").html(weight_total);
	}

}


function completeTrans(){

    $.ajax({
        type: "POST",
        url: "{{public_address}}/carbon-accounting/log",
        data: {
        	'working_group': $("#working_group").val(),
        	'method': $("#method").val(),
            'transaction': transaction
        },
        success: function(response){

        	if(response.status == "ok"){
	            transaction = [];
	            update();
	            $("#transaction_info").html('<div class="alert alert-success alert-dismissible fade show col-md-5 p-3 mx-auto">' + response.msg + "<button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button></div>");
	            $("#transaction_history").bootstrapTable('refresh');
	        } else {
	        	$("#transaction_info").html('<div class="alert alert-danger alert-dismissible fade show col-md-5 p-3 mx-auto">' + response.msg + "<button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button></div>");
	        }
        }
    });
}

</script>
