<script src="{{public_address}}/assets/js/bootstrap-select.min.js"></script>
<link rel="stylesheet" href="{{public_address}}/assets/css/bootstrap-select.min.css" />

<div class="row mt-4">
  <div class="col-md-6 mx-auto">
    <form method="post" action="{{public_address}}/food-collections/log{{#unless user}}/{{foodCollectionKey.key}}{{/unless}}">
      {{#if user}}

        <select class="form-control mb-2 selectpicker show-tick" name="member_id" title="Select a member" data-style="btn-info" data-size="auto" data-header="Select a member" data-live-search="true" required />
          {{#each members}}
            <option value="{{member_id}}" {{#ifCond member_id '==' ../member_id}}selected{{/ifCond}}>{{first_name}} {{last_name}}</option>
          {{/each}}
        </select>

      {{else}}
      <input type="hidden" name="member_id" value="{{member.member_id}}" />
        <div id="volunteerNote" class="alert alert-info p-4" role="alert">
          <h4 class="alert-heading">Hey, {{member.first_name}}!</h4>
          <p>To log your collection, simply enter where you collected it from, where you dropped it off to and how much it weighed. You can also add a note if there's some extra information you think needs to be recorded.</p>
          <hr>
          <p class="mb-0">If you are experiencing any issues, please <a href="{{public_address}}/support">contact support</a>.</p>
        </div>
      {{/if}}

      <select class="form-control mb-2 selectpicker show-tick" name="organisation_id" title="Select a collection organisation" data-style="btn-info" data-size="auto" data-header="Select a collection organisation" data-live-search="true" required />

      {{#each allOrganisations}}
        {{#if (lookupArray type "collections")}}
          {{#if active}}
            {{#if ../user}}
              <option value="{{organisation_id}}">{{name}}</option>
            {{else}}
              {{#if default}}
                <option value="{{organisation_id}}">{{name}}</option>
              {{else}}
                {{#if (lookupArray ../foodCollectionKey.organisations organisation_id)}}
                  <option value="{{organisation_id}}">{{name}}</option>
                {{/if}}
              {{/if}}
            {{/if}}
          {{/if}}
        {{/if}}
      {{/each}}

      </select>

      <select class="form-control mb-3 selectpicker show-tick" name="destination_organisation_id" title="Select a drop-off organisation" data-style="btn-info" data-size="auto" data-header="Select a drop-off organisation" data-live-search="true" required >
        {{#each allOrganisations}}
          {{#if (lookupArray type "drop-offs")}}
            {{#if active}}
              {{#if ../user}}
                <option value="{{organisation_id}}">{{name}}</option>
              {{else}}
                {{#if default}}
                  <option value="{{organisation_id}}">{{name}}</option>
                {{else}}
                  {{#if (lookupArray ../foodCollectionKey.organisations organisation_id)}}
                    <option value="{{organisation_id}}">{{name}}</option>
                  {{/if}}
                {{/if}}
              {{/if}}
            {{/if}}
          {{/if}}
        {{/each}}
      </select>

      <div class="form-inline mb-4">
        <div class="mx-auto">
          <span class="text-muted mr-0 mr-xs-0 mr-sm-0 mr-md-2 mr-lg-2 mr-xl-2">Weight (kilos)</span>
          <input type="number" name="amount" class="form-control" step="0.1" placeholder="0" />
        </div>
      </div>

      <textarea name="note" class="form-control col-md-8 mx-auto" placeholder="Note (optional)"></textarea>

      <button class="btn btn-success btn-block btn-lg mt-4">Log Food Collection</button>
    </form>
  </div>
</div>
