<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>

<div class="row mt-4">

  <div class="col-lg-10 mx-auto">

  {{#ifUserClass user.class '["admin"]'}}

  <div class="row">
    <div class="container">
      <div class="form-group form-inline">
        <select class="form-control" id="working_groups">
          <option disabled selected>Select a working group...</option>
            <option value='' {{#ifCond ../group.group_id '==' null}}selected{{/ifCond}}>All My Working Groups</option>
            {{#each user.allWorkingGroupsObj}}
              <option value='{{group_id}}'{{#ifCond group_id '==' ../group.group_id}} selected{{/ifCond}}>{{name}}</option>
            {{/each}}
        </select>
      </div>
    </div>
  </div>

  {{else}}


    <div class="row">
      <div class="container">
        <div class="form-group form-inline">
          <select class="form-control" id="working_groups">
            <option disabled selected>Select a working group...</option>
              <option value='' {{#ifCond ../group.group_id '==' null}}selected{{/ifCond}}>All My Working Groups</option>
              {{#each user.working_groups}}
                <option value='{{group_id}}'{{#ifCond group_id '==' ../group.group_id}} selected{{/ifCond}}>{{name}}</option>
              {{/each}}
          </select>
        </div>
      </div>
    </div>

  {{/ifUserClass}}

  <div id="vol_hours_info" class="row"></div>

  <div class="row">
    <div class="col-lg-12">
     <table id="vol_hours" class="fadeIn table-light" data-pagination="true" data-toggle="table" data-striped="true" data-url="/api/get/working-groups/volunteer-hours/{{group.group_id}}">
     	<thead>
     		<th data-field="name">Name</th>
        <th data-field="working_group">Working Group</th>
     		<th data-sortable="true" data-field="date">Date</th>
     		<th data-field="duration">Duration (hours)</th>
        <th data-field="note">Note</th>
     		<th data-field="options"></th>
     	</thead>
     	<tbody>
     	</tbody>
     </table>
   </div>
  </div>
</div>
</div>

<script>
function volunteerHoursAjax(url){
   $.ajax({
      type: "GET",
      url: url,
      success: function(response){

      	if(response.status == "ok"){
        	$("#vol_hours_info").html('<div class="alert alert-success alert-dismissible fade show col-md-5 p-3 mx-auto">' + response.msg + "<button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button></div>");
			    $("#vol_hours").bootstrapTable('refresh');
      	} else {
      		$("#vol_hours_info").html('<div class="alert alert-danger alert-dismissible fade show col-md-5 p-3 mx-auto">' + response.msg + "<button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button></div>");
      	}
      }
   });
}

$('#working_groups').on('change', function () {
  var url = "{{public_address}}/volunteers/hours/review/" + $(this).val();
  window.location = url;
});

</script>
