<style>
  table {
    border-collapse: collapse;
    font-family: sans-serif;
  }

  th, td {
    text-align: left;
    padding: 8px;
  }

  p {
    font-size: 14px;
    font-family: sans-serif;
  }

  tr:nth-child(odd) {background-color: #f2f2f2;}
</style>

<center>

  <table>
    <tr>
      <td>Murakami Transaction ID</td>
      <td>{{transaction.transaction_id}}</td>
    </tr>
    {{#if transaction.sumup_id}}
    <tr>
      <td>SumUp Transaction ID</td>
      <td>{{transaction.sumup_id}}</td>
    </tr>
    {{/if}}
    <tr>
      <td>Timestamp</td>
      <td>{{transaction.date}}</td>
    </tr>
    <tr>
      <td>Location</td>
      <td>{{transaction.till_name}}</td>
    </tr>
    <tr>
      <td>Bill</td>
      <td>{{{transaction.bill}}}</td>
    </tr>
    <tr>
      <td>Money Spent</td>
      <td>{{transaction.totals.money}}</td>
    </tr>

    <tr>
      <td>Tokens Spent</td>
      <td>{{transaction.totals.tokens}}</td>
    </tr>
    
    <tr>
      <td>Giftcard Spent</td>
      <td>{{transaction.totals.giftcard}}</td>
    </tr>

  </table>

  <br />

  {{#if transaction.carbon.savedThisTransaction}}
    <p>
      <b>
        You saved {{transaction.carbon.savedThisTransaction}}kg of C0<sub>2</sub>!
      </b>
    </p>
    <br />
  {{/if}}

</center>
