<form action="{{public_address}}/contact-preferences/{{member.member_id}}" method="POST">

  <div class="row">
    <div class="col-md-7 mx-auto">

      <div class="card mt-4">
        <div class="card-body">
          <h3>Contact Preferences</h3>
          <p>Choose what types emails you would like to receive to using the form below</p>
        </div>
      </div>


      <div class="card mt-4">
        <div class="card-body">
          <h3>Newsletter</h3>
          <p>Optionally subscribe to our newsletter (via Mailchimp). You can unsubscribe at any time.</p>

          <p class="mt-2 font-weight-bold">SHRUB Coop newsletter</p>
          <p class="font-italic mb-2">To keep you up to date with decisions made at our open meetings, events and Shrub parties!</p>
          {{#if member.contactPreferences.newsletters.shrub}}
            <div class="btn-group-toggle" data-toggle="buttons">
              <label class="btn btn-danger btn-block">
                <input type="checkbox" name="newsletters[shrub][unsubscribe]" autocomplete="off"> Unsubscribe From Shrub's Newsletter
              </label>
            </div>
          {{else}}
            <div class="btn-group-toggle" data-toggle="buttons">
              <label class="btn btn-success btn-block">
                <input type="checkbox" name="newsletters[shrub][subscribe]" autocomplete="off"> Subscribe To Shrub's Newsletter
              </label>
            </div>
          {{/if}}


        </div>
      </div>


      <div class="card mt-4">
        <div class="card-body">
          <h3>Behaviour Change Survey</h3>
          <p>Receive a weekly email with new volunteering opportunities at Shrub.</p>
          <p class="mb-3">If you are an exisiting volunteer the opportunities you are sent will be tailored to your availability and skills!</p>

            {{#if member.contactPreferences.behaviourChangeSurvey}}
              <div class="btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-danger btn-block">
                  <input type="checkbox" name="behaviourChangeSurvey[unsubscribe]" autocomplete="off"> Unsubscribe From Behaviour Change Survey
                </label>
              </div>
            {{else}}
              <div class="btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-success btn-block">
                  <input type="checkbox" name="behaviourChangeSurvey[subscribe]" autocomplete="off"> Subscribe To Behaviour Change Survey
                </label>
              </div>
            {{/if}}

        </div>
      </div>

      {{#if member.volunteer_id}}
        <div class="card mt-4">
          <div class="card-body">
            <h3>Volunteering Opportunities</h3>
            <p>Receive a weekly email with new volunteering opportunities at Shrub.</p>
            <p class="mb-3">If you are an exisiting volunteer the opportunities you are sent will be tailored to your availability and skills!</p>

              {{#if member.contactPreferences.volunteeringOpportunities}}
                <div class="btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-danger btn-block">
                    <input type="checkbox" name="volunteeringOpportunities[unsubscribe]" autocomplete="off"> Unsubscribe From Volunteering Opportunities
                  </label>
                </div>
              {{else}}
                <div class="btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-success btn-block">
                    <input type="checkbox" name="volunteeringOpportunities[subscribe]" autocomplete="off"> Subscribe To Volunteering Opportunities
                  </label>
                </div>
              {{/if}}

          </div>
        </div>
        {{/if}}

      <div class="row mt-4">
        <div class="col-md-12">
          <input type="submit" class="btn btn-primary btn-block btn-lg" value="Update My Preferences" />
        </div>
      </div>

    </div>
  </div>

</form>
