

{{#if user}}

  <div class="page-help d-none">
    <div class="row mt-5 mb-5">
    	<div class="col-md-5 mx-auto">
    			<div class="card hints-and-tips">
    					<div class="card-body">
                <div class="row mb-2">
                  <div class="col-md-12 text-center">
                    <h3>How To Log Hours</h3>
                  </div>
                </div>
                <div class="row mt-2 mb-1">
                  <div class="col-md-10 offset-md-1">
                    <ol>
                      <li>
                        <p>Search for the member using the text box below</p>
                      </li>
                      <li>
                        <p>Select the relevant working group</p>
                      </li>
                      <li>
                        <p>Select how many hours they have volunteered</p>
                      </li>
                      <li>
                        <p>Click the "Log Hours" button</p>
                      </li>
                    </ol>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-10 offset-md-1">
                    <small>Note: if you are logged in as a till user, your hours won't go through until they are approved.</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>

  </div>

  <div class="row mt-5">
  	<div class="col-md-6 offset-md-3">


          <div class="container">

            <div class="row">
              <div id="hours_logged_info" class="col-md-12">
              </div>
            </div>

            <div class="row d-none">
              {{{captcha}}}
            </div>

            <div class="form-group">
              <input type="text" id="memberInput" class="form-control" placeholder="Search for member" oninput="search()" />
            </div>
          </div>

      </div>
  </div>

  <div id="search-results">

  </div>


  <script>

  var allWorkingGroups = {{{json user.allWorkingGroupsObj}}};

  function search(){
    $.ajax({
        type: "POST",
        url: "/api/post/members/search",
        data: {
            'term': $('#memberInput').val()
        },
        success: function(response){

          if(response.status == "ok"){
            updateSearchOutput(response.results);
          } else {
            $('#search-results').html("Something went wrong!");
          }
        }
    });
  }

  function updateSearchOutput(results){

    $('#search-results').html("");

    var resultStart = '<div class="row mt-5 mb-5">' +
        	               '<div class="col-md-6 offset-md-3">' +
        			              '<div class="card">' +
        					              '<div class="card-body">';

    var resultEnd = '</div></div></div></div>'

    if(results.length == 0) {
      $('#search-results').html($('#search-results').html() +

          resultStart +
                  "<p>You don\'t exist :'(</p>" +
          resultEnd
       );
    } else {
      for(let i=0;i<results.length;i++){

      	var workingGroupSelectMarkup =  '<select id="working_group_select_' + results[i].id + '" class="form-control">'+
      										'<option>Select a working group...</option>';
        	Object.keys(allWorkingGroups).forEach(function(key){
            workingGroupSelectMarkup += "<option value='" + allWorkingGroups[key].group_id + "'>" + allWorkingGroups[key].name + "</option>";
          })

      	

      	workingGroupSelectMarkup += '</select>';
        var logHoursBtn = "<a class='btn btn-block btn-lg btn-primary' onclick='logHours(" + results[i].id +  ")'>Log Hours</a>"
      	if(Object.keys(allWorkingGroups).length > 0){
  	      	var shiftLogger =   '<div class="row">' +
            		      						'<div class="col-lg-8 mx-auto mb-4">' +
            		      							workingGroupSelectMarkup +
            		      						'</div>' +
                                  '<div class="col-lg-4 mx-auto">' +
                                    '<input type="number" class="form-control" id="duration_' + results[i].id + '" name="duration" min="0.25" max="1000" step="0.25" value="0" />' +
                                  '</div>' +
                                '</div>'  +

                                '<div class="row">' +
                                  '<div class="col-lg-8 mx-auto">' +
                                        logHoursBtn +
                                  "</div>" +
                                "</div>"
      	} else {
      		var shiftLogger = '<div class="row">' +
  		      						'<div class="col-lg-8 mx-auto">' +
  		      							'<p>Not a member of any working groups!</p>' +
  		      						'</div>' +
  		      					'</div>'
      	}


        $('#search-results').html($('#search-results').html() +
          resultStart +
            "<a href='/members/view/" + results[i].id + "'><p><b>" +
              results[i].name +
            "</p></b></a>" +

            "<p>" +
              results[i].email +
            "</p>" +
            "<hr />" +
            shiftLogger +
          resultEnd
        );

        var found = false;
      }
    }
  }

  function logHours(member_id){
    var duration = $("#duration_" + member_id).val();
    var working_group = $("#working_group_select_" + member_id).val();

     $.ajax({
        type: "POST",
        url: "/volunteers/log-hours",
        data: {
          shift: {
            member_id: member_id,
            duration: duration,
            working_group: working_group
          },
          recaptcha: {{#if user}}null{{else}}grecaptcha.getResponse();{{/if}}
        },
        success: function(response){
          if(response.status == "ok"){
            $("#hours_logged_info").html('<div class="alert alert-success alert-dismissible fade show p-3" role="alert">' + response.msg + '  <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button></div>');
            search();
          } else {
            $("#hours_logged_info").html('<div class="alert alert-danger alert-dismissible fade show p-3" role="alert">' + response.msg + '  <button type="button" class="close" data-dismiss="alert" aria-label="Close"> <span aria-hidden="true">&times;</span> </button></div>');
          }
        }
     });
  }

  </script>


{{else}}
<style>
.g-recaptcha > div {
  margin: auto;
}
</style>

<div class="row mt-4 mb-5">
  <div class="col-md-6 col-sm-8 col-xs-10 mx-auto">
      <div class="card">
          <div class="card-body">
              <div class="row mb-4">
                <div class="mx-auto">
  							    <h2>Log Your Hours</h2>
                </div>
  						</div>

              <form action="{{public_address}}/volunteers/log-hours" method="post">

                <div class="row">
                  <div class="col-sm-12 col-md-10 mx-auto">
                    <div class="form-group">
                      <input type="text" class="form-control" name="member_id" id="member_id" placeholder="Membership ID" value="{{member_id}}" />
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-12 col-md-10 mx-auto mb-1">
                    <div class="form-group">
                      <select class="form-control" name="working_group">
                        <option value="">Select a working group...</option>
                        {{#each working_groups}}
                          <option value="{{group_id}}">{{name}}</option>
                        {{/each}}
                      </select>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-10 mx-auto mb-1 mb-md-0 mb-lg-0 mb-xl-0">
                    <div class="row">
                      <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xs-6 mx-auto">
                        <div class="form-inline">
                          <label class="form-label mr-2">Hours</label>
                          <input type="number" class="form-control" id="duration" name="duration" min="0.25" max="1000" step="0.25" value="0" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row mb-3 mt-3">
                  <div class="container">
                    <div class="mx-auto">
                      {{{captcha}}}
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-12 col-md-10 mx-auto">
                    <div class="form-group">
                      <div class="form-group">
                        <button type="submit" class="btn btn-block btn-primary form-control">Log Hours</button>
                      </div>
                    </div>
                  </div>
                </div>

              </form>
            </div>
        </div>
    </div>
</div>
{{/if}}
