
{{#ifCond notifications.notifications '>' 0}}
  {{#if notifications.new}}
    {{#each notifications.new}}
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mt-4 member-selected">
            <div class="card-body">
              <h5>{{title}}</h5>
              {{{body}}}
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  {{/if}}
  {{#if notifications.old}}
    <div class="row mt-4 mb-4">
      <h3 class="mx-auto">Older</h3>
    </div>
    {{#each notifications.old}}
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mb-4">
            <div class="card-body">
              <h5>{{title}}</h5>
              {{{body}}}
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  {{/if}}
{{else}}
  <div class="row">
    <h5 class="text-muted mx-auto mt-5">Nothing to see here!</h5>
  </div>
{{/ifCond}}
