<div class="row mt-5 mb-5">
	<div class="col-md-6 offset-md-3">
			<div class="card">
					<div class="card-body">

            <center>
            	<h2>Support</h2>
            </center>

            <hr />

            <div class="row">
            	<div class="text-center pl-3 pr-3 pb-3">
            		<p>If you have any questions, suggestions, or are experiencing issues - please get in touch

            		<script>

            		  emailE = 'murakami.org.uk'

            		  emailE = ('support' + '@' + emailE)

            		  document.write('<a href="mailto:' + emailE + '">via email</a>')

            		</script>

            		 or the contact form below</p>

            		<p>
            			<small>(there's no such thing as a foolish question!)</small>
            		</p>
            	</div>

            </div>



            <div class="form-area">
                <form role="form" action="{{public_address}}/support" method="post">

              		<div class="form-group">
              			<input type="text" class="form-control" id="name" name="name" placeholder="Name" value="{{#if name}}{{name}}{{else}}{{#if user}}{{user.name}}{{/if}}{{/if}}" required>
              		</div>
              		<div class="form-group">
              			<input type="text" class="form-control" id="email" name="email" placeholder="Email" value="{{#if email}}{{email}}{{else}}{{#if user}}{{user.email}}{{/if}}{{/if}}" required>
              		</div>

              		<div class="form-group">
              			<input type="text" class="form-control" id="subject" name="subject" placeholder="Subject" value="{{subject}}" required>
              		</div>
                      <div class="form-group">
                      	<textarea class="form-control" type="textarea" name="message" placeholder="Message" rows="7">{{message}}</textarea>
                      </div>

              	  	<div class="form-group">
              	  	   <button class="btn btn-block btn-primary" type="submit">Send Message</button>
              		</div>

                </form>
            </div>
        </div>
    </div>
</div>
