<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Murakami | {{title}}</title>
    <link rel="shortcut icon" type="image/png" href="{{public_address}}/assets/images/icon/favicon.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="{{public_address}}/assets/images/icon/favicon.ico">
    <link rel="stylesheet" href="{{public_address}}/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{public_address}}/assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{public_address}}/assets/css/themify-icons.css">
    <link rel="stylesheet" href="{{public_address}}/assets/css/metisMenu.css">
    <!--<link rel="stylesheet" href="{{public_address}}/assets/css/owl.carousel.min.css">-->
    <link rel="stylesheet" href="{{public_address}}/assets/css/slicknav.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <!-- amchart css -->
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
    <!-- others css -->
    <link rel="stylesheet" href="{{public_address}}/assets/css/typography.css">
    <link rel="stylesheet" href="{{public_address}}/assets/css/default-css.css">
    <link rel="stylesheet" href="{{public_address}}/assets/css/styles.css">
    <link rel="stylesheet" href="{{public_address}}/assets/css/responsive.css">
    <!-- modernizr css -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js"></script>
    <!--<script src="{{public_address}}/assets/js/vendor/modernizr-2.8.3.min.js"></script>-->

    <!-- jquery latest version -->
    <script src="{{public_address}}/assets/js/vendor/jquery-2.2.4.min.js"></script>

</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- preloader area start -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- preloader area end -->
    <!-- page container area start -->
    <div class="page-container">
        <!-- sidebar menu area start -->
        <div class="sidebar-menu">
            <div class="sidebar-header">
                <div class="logo">
                    <a href="{{public_address}}/"><img src="{{public_address}}/assets/images/icon/logo.png" alt="logo"></a>
                </div>
            </div>
            <div class="main-menu">
                <div class="menu-inner">
                    <nav>
                        <ul class="metismenu" id="menu">
                          {{#if user}}
                              {{#unless tillMode}}

                                <li {{#if membersActive}}class="active"{{/if}}>
                                    <a href="javascript:void(0);" aria-expanded="true"><i class="fas fa-user-friends"></i><span>Members</span></a>
                                    <ul class="collapse">
                                        <li><a href="{{public_address}}/members">Manage Members</a></li>
                                        <li><a href="{{public_address}}/members/add">Add Member</a></li>
                                    </ul>
                                </li>
                                <li {{#if volunteersActive}}class="active"{{/if}}>
                                    <a href="javascript:void(0);" aria-expanded="true"><i class="fas fa-people-carry"></i><span>Volunteers</span></a>
                                    <ul class="collapse">

                                      <li><a href="{{public_address}}/volunteers/manage">Manage Volunteers</a></li>
                                      <li><a href="{{public_address}}/volunteers/add">Add Volunteer</a></li>

                                    </ul>
                                </li>

                                <li {{#if volunteerRolesActive}}class="active"{{/if}}>
                                    <a href="javascript:void(0);" aria-expanded="true"><i class="fab fa-black-tie"></i><span>Volunteer Roles</span></a>
                                    <ul class="collapse">
                                      <li><a href="{{public_address}}/volunteers/roles/manage">Manage Roles</a></li>
                                      <li><a href="{{public_address}}/volunteers/roles/add">Add Role</a></li>
                                      <li><a href="{{public_address}}/volunteers/roles/settings">Settings</a></li>
                                    </ul>
                                </li>

                                <li {{#if volunteerHoursActive}}class="active"{{/if}}>
                                    <a href="javascript:void(0);" aria-expanded="true"><i class="fas fa-clock"></i><span>Volunteer Hours</span></a>
                                    <ul class="collapse">
                                      <li><a href="{{public_address}}/log">Log Hours</a></li>
                                      <li><a href="{{public_address}}/volunteers/review-hours">Review Hours</a></li>
                                    </ul>
                                </li>

                                <li {{#if tillsActive}}class="active"{{/if}}>
                                    <a href="javascript:void(0);" aria-expanded="true"><i class="fas fa-dollar-sign"></i><span>Tills</span></a>
                                    <ul class="collapse">
                                        <li><a href="{{public_address}}/settings/tills">Manage Tills</a></li>
                                    </ul>
                                </li>
                                <li {{#if carbonActive}}class="active"{{/if}}>
                                    <a href="javascript:void(0);" aria-expanded="true"><i class="fas fa-recycle"></i><span>Carbon Accounting</span></a>
                                    <ul class="collapse">
                                        <li><a href="{{public_address}}/log-outgoing-weight">Log Outgoing Weight</a></li>
                                        <li><a href="{{public_address}}/settings/carbon-factors">Update Calculations</a></li>
                                        <!--<li><a href="{{public_address}}/reports/carbon">Export Waste Data</a></li>-->
                                    </ul>
                                </li>
                                {{#ifUserClass user.class '["admin"]'}}
                                <li {{#if workingGroupsActive}}class="active"{{/if}}>
                                    <a href="javascript:void(0);" aria-expanded="true"><i class="fas fa-briefcase"></i><span>Working Groups</span></a>
                                    <ul class="collapse">
                                        <li><a href="{{public_address}}/settings/working-groups">Manage Working Groups</a></li>
                                        <!--<li><a href="{{public_address}}/members/add">Add Working Group</a></li>-->
                                    </ul>
                                </li>
                                {{/ifUserClass}}
                                <li {{#if usersActive}}class="active"{{/if}}>
                                    <a href="javascript:void(0);" aria-expanded="true"><i class="fas fa-user"></i></i><span>Users</span></a>
                                    <ul class="collapse">
                                        <li><a href="{{public_address}}/users">Manage Users</a></li>
                                        <li><a href="{{public_address}}/users/add">Add User</a></li>
                                    </ul>
                                </li>
                                <!--
                                <li {{#if settingsActive}}class="active"{{/if}}>
                                    <a href="javascript:void(0);" aria-expanded="true"><i class="fas fa-cog"></i><span>Email Templates</span></a>
                                    <ul class="collapse">
                                        <li><a href="{{public_address}}/settings/email-templates">Manage Templates</a></li>
                                        <li><a href="{{public_address}}/settings/email-templates">Add Template</a></li>
                                    </ul>
                                </li>
                                -->
                              {{else}}
                                <li {{#if transactionsActive}}class="active"{{/if}}>
                                    <a href="/till/{{till.till_id}}" aria-expanded="true"><i class="ti-money"></i><span>Transaction</span></a>
                                </li>
                                <li {{#if donationsActive}}class="active"{{/if}}>
                                    <a href="/till/donations/{{till.till_id}}" aria-expanded="true"><i class="ti-heart"></i><span>Donation</span></a>
                                </li>
                                <li {{#if carbonActive}}class="active"{{/if}}>
                                    <a href="/log-outgoing-weight?till_id={{till.till_id}}" aria-expanded="true"><i class="ti-reload"></i><span>Log Outgoing Weight</span></a>
                                </li>
                                <li {{#if addMemberActive}}class="active"{{/if}}>
                                    <a href="/members/add?till_id={{till.till_id}}" aria-expanded="true"><i class="ti-user"></i><span>Add Member</span></a>
                                </li>
                                <li {{#if logVolunteerHoursActive}}class="active"{{/if}}>
                                    <a href="/log-volunteer-hours?till_id={{till.till_id}}" aria-expanded="true"><i class="ti-thumb-up"></i><span>Log Volunteer Hours</span></a>
                                </li>
                                <li {{#if closeTillActive}}class="active"{{/if}}>
                                    <a href="/till/close/{{till.till_id}}" aria-expanded="true"><i class="ti-close"></i><span>Close Till</span></a>
                                </li>

                              {{/unless}}
                            {{/if}}

                            {{#unless user}}
                              <li {{#if loginActive}}class="active"{{/if}}>
                                  <a href="{{public_address}}/login" aria-expanded="true"><i class="fas fa-sign-in-alt"></i><span>Login</span></a>
                              </li>
                            {{/unless}}

                            <li {{#if supportActive}}class="active"{{/if}}>
                                <a href="{{public_address}}/support?till_id={{till.till_id}}" aria-expanded="true"><i class="ti-help-alt"></i><span>Support</span></a>
                            </li>
                            {{#if tillMode}}
                              {{#ifUserClass user.class '["admin", "staff"]'}}
                                <hr />
                                <li>
                                    <a href="/settings/tills" aria-expanded="true"><i class="ti-angle-left"></i><span>Back To Till Management</span></a>
                                </li>
                              {{/ifUserClass}}
                            {{/if}}

                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- sidebar menu area end -->

        <div class="modal" id="notificationsModal" tabindex="-1" role="dialog">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Notifications</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body mx-auto">

                  {{#each notifications}}
                    {{#if @first}}
                      <br />
                    {{/if}}
                    <span class="time"><i class="ti-time"></i> {{timestamp}}</span>
                    <p class="font-weight-bold">{{title}}</p>
                    <p><a href="{{public_address}}{{destination}}" onclick="markAsRead('{{notification_id}}');">See details</a></p>
                    <hr />
                  {{else}}
                    <p class="mt-2 text-muted text-center">Nothing to see here...</p>
                  {{/each}}


                {{#ifCond notifications.old.length '>' 0}}
                  <p class="text-center mt-4">
                    <a href="/notifications">view older notifications</a>
                  </p>
                {{/ifCond}}

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="{{public_address}}/api/get/notifications/read-all" {{#unless notifications}} disabled{{/unless}}>Mark All As Read</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <!-- main content area start -->
        <div class="main-content">
            <!-- header area start -->
            <div class="header-area">
                <div class="row align-items-center no-gutters">
                    <!-- nav and search button -->
                    <div class="col-md-6 col-sm-8 {{#unless user}} mt-3 mb-md-4 mb-sm-4 mb-xs-4 mb-4{{else}} mt-3 mt-md-0 mt-lg-0 mt-xl-0{{/unless}} clearfix">
                        <div class="nav-btn pull-left ml-4">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        {{#if user}}
                        <div class="search-box pull-left">
                            <form action="#">
                                <!--<input type="text" name="search" placeholder="Search for someone...">
                                <i class="ti-search"></i>-->
                            </form>
                        </div>
                        {{/if}}
                    </div>
                    <!-- profile info & task notification -->
                    {{#if user}}

                      <div class="col-md-4 offset-md-2 mt-1 mt-xs-3 mt-sm-3 mt-md-3 mt-lg-0 mt-xl-0">
                        <div class="user-profile mx-auto">

                              <div class="">
                                <button type="button" class="btn btn-bell" data-toggle="modal" data-target="#notificationsModal">
                                  <i class="ti-bell" style="font-size: 30px;"></i>
                                  {{#if notifications}}
                                    <span class="badge badge-light my-auto" style="font-size: 12px;">{{notifications.length}}</span>
                                  {{/if}}
                                </button>
                              </div>

                              <h5 class="user-name dropdown-toggle flex-fill my-auto mx-auto" data-toggle="dropdown">{{user.name}} <i class="fa fa-angle-down"></i></h5>


                              <div class="dropdown-menu" style="width: 100%;">
                                  <a class="dropdown-item" href="{{public_address}}/users/update/{{user.id}}">Manage Your Account</a>
                                  <a class="dropdown-item" href="{{public_address}}/logout">Log Out</a>
                              </div>

                        </div>
                      </div>

                    {{/if}}
                </div>
            </div>
            <!-- header area end -->
            <!-- page title area start -->
            {{#if user}}
              <div class="page-title-area">
                  <div class="row align-items-center">
                      <div class="col-sm-6">
                          <div class="breadcrumbs-area clearfix">
                              <h4 class="page-title pull-left">{{title}}
                                  <i class="fa fa-life-ring toggle-help" alt="Show tips for using this page"></i>
                              </h4>
                              <ul class="breadcrumbs pull-left">
                                  {{#each breadcrumbs}}
                                    <li>
                                      {{#if link}}
                                        <a href="{{public_address}}{{link}}">{{title}}</a>
                                      {{else}}
                                        <span>{{title}}</span>
                                      {{/if}}
                                    </li>
                                  {{/each}}
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
            {{/if}}
            <!-- page title area end -->
            <div class="main-content-inner">
              {{#if error_msg}}
                <div class="row mt-4">
                  <div class="col-md-6 mx-auto">
                    <div class="alert alert-danger alert-dismissible fade show p-3" role="alert">
                      {{{error_msg}}}
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                  </div>
                </div>
              {{/if}}

              {{#if error}}
                <div class="row mt-4">
                  <div class="col-md-6 mx-auto">
                    <div class="alert alert-danger alert-dismissible fade show p-3" role="alert">
                      {{{error}}}
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                  </div>
                </div>
              {{/if}}

              {{#if errors}}
                <div class="row mt-4">
                  <div class="col-md-6 mx-auto">
                    <div class="alert alert-danger alert-dismissible fade show p-3" role="alert">
                      {{{errors.0.msg}}}
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                  </div>
                </div>
              {{/if}}

              {{#if success_msg}}
                <div class="row mt-4">
                  <div class="col-md-6 mx-auto">
                    <div class="alert alert-success alert-dismissible fade show p-3" role="alert">
                      {{{success_msg}}}
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                  </div>
                </div>
              {{/if}}

              {{{body}}}

            </div>
        </div>
        <!-- main content area end -->
        <!-- footer area start-->
        <footer>
            <div class="footer-area">
                <p>Murakami is open source, licenced under <a href="https://www.gnu.org/licenses/gpl-3.0.en.html" target="_blank">GPL 3.0</a>. Check out the source on <a href="https://github.com/honeypieio/murakami" target="_blank">GitHub</a>.</p>
            </div>
        </footer>
        <!-- footer area end-->
    </div>
    <!-- page container area end -->

    <!-- bootstrap 4 js -->
    <script src="{{public_address}}/assets/js/popper.min.js"></script>
    <script src="{{public_address}}/assets/js/bootstrap.min.js"></script>
    <script src="{{public_address}}/assets/js/owl.carousel.min.js"></script>
    <script src="{{public_address}}/assets/js/metisMenu.min.js"></script>
    <script src="{{public_address}}/assets/js/jquery.slimscroll.min.js"></script>
    <script src="{{public_address}}/assets/js/jquery.slicknav.min.js"></script>

    <!-- others plugins -->
    <script src="{{public_address}}/assets/js/plugins.js"></script>
    <script src="{{public_address}}/assets/js/scripts.js"></script>

</body>

</html>

<script>
function markAsRead(notification_id){
  $.get("{{public_address}}/api/get/notifications/read/" + notification_id, function(){});
}
</script>
