<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>

<div class="row mt-4 mb-4">

	<div class="col-lg-6 col-md-8 mx-auto">
			<table class="fadeIn table-light" data-pagination="true" data-search="true" data-striped="true" data-toggle="table" style="border: none !important;">
				<thead>
					<th data-sortable="true">Name</th>
					<th>Status</th>
					<th></th>
				</thead>
				<tbody>
				{{#each members}}
					<tr>
						<td>{{first_name}} {{last_name}}</td>
						<td>
							{{#if is_member}}
								Current member,
								{{#ifCond free '==' 1}}
									free
								{{else}}
									paid
								{{/ifCond}}
							{{else}}
								No longer a member.
							{{/if}}
						</td>
						<td><a href="{{public_address}}/members/view/{{member_id}}" class="btn btn-block btn-primary">View/Update</a></td>
					</tr>
				{{/each}}
				</tbody>
			</table>
	</div>

</div>
