<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>

<div class="row">
	<div class="col-md-8 mx-auto">

		<div class="row mt-4 mb-2 mx-auto">
			<div class="card">
				<div class="card-body">
						<h1>{{member.first_name}} {{member.last_name}}</h1>
						<p class="{{#if member.is_member}}text-success{{else}}text-danger{{/if}}">
							{{#if member.is_member}}
								Current member,
								{{#ifCond member.free '==' 1}}
									free
								{{else}}
									paid
								{{/ifCond}}
							{{else}}
								No longer a member.
							{{/if}}
						</p>
				</div>
			</div>
		</div>

		{{#if member.canUpdate}}
			<div class="row mt-4">
				<div class="col-md-5">
					<a href="{{public_address}}/members/update/{{member.member_id}}" class="btn btn-block btn-primary">Update Member</a>
				</div>
			</div>
		{{/if}}

		{{#if member.canRevokeMembership}}
			{{#if member.is_member}}
				<div class="row mt-2">
					<div class="col-md-5">
						<a href="{{public_address}}/api/get/members/remove/{{member.member_id}}" onclick='return confirm("Are you sure you want to revoke this membership?")' class="btn btn-block btn-warning">Revoke Membership</a>
					</div>
				</div>
			{{/if}}
		{{/if}}
		{{#if member.canDelete}}
			<div class="row mt-2">
				<div class="col-md-5">
					<a href="{{public_address}}/api/get/members/destroy/{{member.member_id}}" onclick='return confirm("Are you sure you want to destory this member? *IRREVERSIBLE*")' class="btn btn-block btn-danger">Destroy Member</a>
				</div>
			</div>
		{{/if}}



			<div class="row mt-4 mb-4">
				<div class="col-lg-6">
					<div class="card">
						<div class="card-body">
							<h4 class="mb-1">Membership</h4>
							{{#if member.earliest_membership_date}}
								<p class="mb-1">Since: {{niceDate member.earliest_membership_date}}</p>

								<small>Current Membership Period</small>
								<div class="mb-2">
									<p>Began: <b>{{niceDate member.current_init_membership}}</b></p>
									<p>Expires: <b>{{niceDate member.current_exp_membership}}</b></p>

								</div>
							{{/if}}

							{{#if member.canViewSavedCarbon}}
								<p><span id="carbon">0</span> kilos of carbon saved!</p>
							{{/if}}
							{{#if member.balance}}
								<p>Balance: <b><span id="balance">{{member.balance}}</span> tokens</b></p>
							{{/if}}


							{{#if member.canManageMembershipCard}}
								<div class="row mt-2">
									<div class="col-md-12">
										<a href="{{public_address}}/members/update/{{member.member_id}}" class="btn btn-block btn-primary" data-toggle="modal" data-target="#exampleModal">

											{{#if member.barcode}}
												Manage Membership Card
											{{else}}
												Issue Membership Card
											{{/if}}

										</a>
									</div>
								</div>

								{{/if}}
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					{{#if user.permissions.members.contactDetails}}
						<div class="card">
							<div class="card-body">
								<h4>Contact</h4>

		            {{#if member.email}}
		              {{#if member.gdpr.email}}
		                <p>
		              {{else}}
		                {{#if volInfo.isAssignedCoordinator}}
		                  <p>
		                {{else}}
		                  <p class="text-danger">
		                {{/if}}
		              {{/if}}
		              {{member.email}}
		              {{#if member.gdpr.email}}
		              </p>
		              {{else}}
		                {{#if volInfo.isAssignedCoordinator}}
		                  </p>
		                {{else}}
		                  (ask for permission to use)</p>
		                {{/if}}
		              {{/if}}
		            {{/if}}

		            {{#if member.phone_no}}
		              {{#if member.gdpr.phone}}
		                <p>
		              {{else}}
		                {{#if volInfo.isAssignedCoordinator}}
		                  <p>
		                {{else}}
		                  <p class="text-danger">
		                {{/if}}
		              {{/if}}
		              {{member.phone_no}}
		              {{#if member.gdpr.phone}}
		              </p>
		              {{else}}
		                {{#if volInfo.isAssignedCoordinator}}
		                  </p>
		                {{else}}
		                  (ask for permission to use)</p>
		                {{/if}}
		              {{/if}}
		            {{/if}}


							</div>
						</div>
					{{/if}}
				</div>
			</div>


		{{#ifCond user.permissions.volunteers.view '||' user.permissions.volunteers.add}}
			{{#if member.volunteer_id}}
				<div class="row mb-4">
					<div class="col-lg-6">
						<div class="card">
							<div class="card-body">
								<h4 class="mb-1">Volunteering</h4>

										{{#ifCond member.working_groups.length '>' 1}}
											 <p class="mb-2">Volunteers with:</p>
											 <ul class="ml-5 mb-3" style="list-style-type: disc;">
												 {{#each member.working_groups}}
											      <li><b>{{lookup (lookup ../user.allWorkingGroupsObj this) 'name'}}</b>{{#unless @last}},{{/unless}}</li>
												 {{/each}}
											 </ul>
										{{else}}
											<p class="mb-2">Volunteers with {{lookup (lookup user.allWorkingGroupsObj member.working_groups.[0]) 'name'}}</p>
										{{/ifCond}}
									   <a class='btn btn-success form-control' href="{{public_address}}/volunteers/view/{{member.member_id}}">View Full Volunteer Profile</a>
							</div>
						</div>
					</div>
				</div>
			{{else}}
			{{#if user.permissions.volunteers.add}}
				<div class="row mb-4">
					<div class="col-lg-6">
						<p class="mt-2"><a href="{{public_address}}/members/make-volunteer/{{member.member_id}}" class="btn btn-primary btn-block">Make {{member.first_name}} A Volunteer</a></p>
					</div>
				</div>
			{{/if}}
			{{/if}}
		{{/ifCond}}

		<!--
		{{#if member.isMember.text}}
		<div class="row">
			<a href="{{public_address}}/api/get/members/remove/{{member.member_id}}" onclick='return confirm("Are you sure you want to remove this member? This process can be reversed at a later date")'>Revoke membership</a>
		</div>
		{{else}}
		<div class="row">
			<a href="{{public_address}}/api/get/members/restore/{{member.member_id}}" onclick='return confirm("Are you sure you want to restore this member? This process can be reversed at a later date")'>Restore membership</a>
		</div>
		{{/if}}


		{{#if user.admin}}
		<div class="row">
			<small>
				<a href="{{public_address}}/api/get/members/destroy/{{member.member_id}}" onclick='return confirm("Are you sure you want to *permanently* delete this member? All information held on this member will be destroyed or anonymised. This process is IRREVERSIBLE!")'>Delete member</a>
			</small>
		</div>
		{{/if}}
		-->

		{{#if user.permissions.members.transactionHistory}}
			<div class="row">
				<div class="col-lg-12">

							<h3 class="mb-3 mt-3">Transaction History</h3>

							<table id="transaction_history" class="fadeIn table-light" data-pagination="true" data-toggle="table" data-striped="true" data-url="/api/get/members/transactions/{{member.member_id}}">
							    <thead>
							        <tr>
							        	<th></th>
							        	<th></th>
							        	<th></th>
							        	<th colspan="2">Totals</th>
							        </tr>
							        <tr>
							        	<th data-field="date">Timestamp</th>
							        	<th data-field="till_name">Till</th>
							            <th data-field="bill">Summary</th>
							        	<th scope="col" data-field="totals.tokens">Tokens</th>
							        	<th scope="col" data-field="totals.money">Money</th>
							        </tr>
							    </thead>

								<tbody>
								</tbody>
							</table>

						</div>

			</div>
		{{/if}}
  </div>
</div>

{{#if member.canManageMembershipCard}}
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
					{{#if member.barcode}}
						Manage Membership Card
					{{else}}
						Issue Membership Card
					{{/if}}
				</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

				<div id="barcodeResponseBox" class="alert alert-dismissible fade show d-none" role="alert">
          <span id="barcodeResponse"></span>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

				<p>Scan a barcode into the box below!</p>

				<div class="input-group mt-2">

					<div class="input-group-prepend">
						<span class="input-group-text"><i class="fas fa-barcode"></i></span>
					</div>
					<input type="text" id="barcodeInput" class="form-control" placeholder="New Barcode" value="{{member.barcode}}" />

				</div>
      </div>
      <div class="modal-footer">
				{{#if member.barcode}}
        	<button type="button" class="btn btn-primary" onclick="updateBarcode()">Update Membership Card</button>
				{{else}}
					<button type="button" class="btn btn-primary" onclick="updateBarcode()">Issue Membership Card</button>
				{{/if}}
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{{/if}}

<script>
{{#if member.canViewSavedCarbon}}
	function getSavedCarbon(){
		$.ajax({
		    type: "GET",
		    url: "{{public_address}}/api/get/members/carbon-saved/" + "{{member.member_id}}",
		    success: function(response){
				$('#carbon').html(response.carbon);
		    }
		});
	}
{{/if}}
{{#if member.canManageMembershipCard}}
	function updateBarcode(){
		$.ajax({
		    type: "POST",
		    url: "{{public_address}}/api/post/members/update-barcode/" + "{{member.member_id}}",
				data: {
					barcode: $("#barcodeInput").val()
				},
		    success: function(response){
					if(response.status == "ok") {
		        $("#barcodeResponseBox").removeClass("alert-danger");
		        $("#barcodeResponseBox").addClass("alert-success");
		      } else {
		        $("#barcodeResponseBox").removeClass("alert-success");
		        $("#barcodeResponseBox").addClass("alert-danger");

		      }
		      $("#barcodeResponseBox").removeClass("d-none");
		      $("#barcodeResponse").text(response.msg);
		    }
		});
	}
{{/if}}

{{#if member.canViewSavedCarbon}}
	getSavedCarbon();
{{/if}}
</script>
