<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>

<div class="row">
	<div class="col-md-8 mx-auto">

		<div class="row mt-4 mb-2 mx-auto">
			<div class="card">
				<div class="card-body">
						<h1>{{member.first_name}} {{member.last_name}}</h1>
						<p class="{{#if member.is_member}}text-success{{else}}text-danger{{/if}}">
							{{#if member.is_member}}
								Current member,
								{{#ifCond member.free '==' 1}}
									free
								{{else}}
									paid
								{{/ifCond}}
							{{else}}
								No longer a member.
							{{/if}}
						</p>
				</div>
			</div>
		</div>


		<div class="row mt-4">
			<div class="col-md-5">
				<a href="{{public_address}}/members/update/{{member.member_id}}" class="btn btn-block btn-primary">Update Member</a>
			</div>
		</div>

		{{#ifUserClass user.class '["admin", "staff"]'}}

			{{#if member.is_member}}
				<div class="row mt-2">
					<div class="col-md-5">
						<a href="{{public_address}}/api/get/members/remove/{{member.member_id}}" onclick='return confirm("Are you sure you want to revoke this membership?")' class="btn btn-block btn-warning">Revoke Membership</a>
					</div>
				</div>
			{{/if}}


			<div class="row mt-2">
				<div class="col-md-5">
					<a href="{{public_address}}/api/get/members/destroy/{{member.member_id}}" onclick='return confirm("Are you sure you want to destory this member? *IRREVERSIBLE*")' class="btn btn-block btn-danger">Destroy Member</a>
				</div>
			</div>
		{{/ifUserClass}}



		<div class="row mt-4 mb-4">
			<div class="col-lg-6">
				<div class="card">
					<div class="card-body">
						<h4 class="mb-1">Membership</h4>

						<p class="mb-1">Since: {{member.earliest_membership_date}}</p>

						<small>Current Membership Period</small>
						<div class="mb-2">
							<p>Began: <b>{{member.current_init_membership}}</b></p>
							<p>Expires: <b>{{member.current_exp_membership}}</b></p>

						</div>



						<p><span id="carbon">0</span> kilos of carbon saved!</p>

						<p>Balance: <b><span id="balance">{{member.balance}}</span> tokens</b></p>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="card">
					<div class="card-body">
						<h4>Contact</h4>
						{{#if volInfo.canUpdate}}
              <a href="mailto:{{member.email}}"><p class="text-primary">{{member.email}}</p></a>
              <p>{{member.phone_no}}</p>
              <p>{{member.address}}</p>
            {{else}}
              {{#ifCond user.class '==' 'admin'}}
                <a href="mailto:{{member.email}}"><p class="text-primary">{{member.email}}</p></a>
                <p>{{member.phone_no}}</p>
                <p>{{member.address}}</p>
              {{/ifCond}}
              {{#ifCond user.class '==' 'staff'}}
                {{#if member.gdpr.email}}
  								<a href="mailto:{{member.email}}"><p class="text-primary">{{member.email}}</p></a>
  							{{else}}
  								<a href="mailto:{{member.email}}"><p class="text-danger">{{member.email}} <b>(permission required)</b></p></a>
  							{{/if}}
  							{{#if member.phone_no}}
                  {{#if member.gdpr.phone}}
  					        <p>{{member.phone_no}}</p>
                  {{else}}
                    <p class="text-danger">{{member.phone_no}} <b>(permission required)</b></p>
                  {{/if}}
  							{{/if}}
              {{/ifCond}}
              {{#ifCond user.class '==' 'volunteer'}}
                <p>You can't view this volunteer's email</p>
                <p>You can't view this volunteer's phone number</p>
              {{/ifCond}}

						{{/if}}


					</div>
				</div>
			</div>
		</div>

		{{#ifUserClass user.class '["admin", "staff", "volunteer"]'}}
			{{#if member.volunteer_id}}
				<div class="row mb-4">
					<div class="col-lg-6">
						<div class="card">
							<div class="card-body">
								<h4 class="mb-1">Volunteering</h4>

										{{#ifCond member.working_groups.length '>' 1}}
											 <p class="mb-2">Volunteers with:</p>
											 <ul class="ml-5 mb-3" style="list-style-type: disc;">
												 {{#each member.working_groups}}
											      <li><b>{{lookup (lookup ../user.allWorkingGroupsObj this) 'name'}}</b>{{#unless @last}},{{/unless}}</li>
												 {{/each}}
											 </ul>
										{{else}}
											<p class="mb-2">Volunteers with {{lookup (lookup user.allWorkingGroupsObj member.working_groups.[0]) 'name'}}</p>
										{{/ifCond}}
									   <a class='btn btn-success form-control' href="{{public_address}}/volunteers/view/{{member.member_id}}">View Full Volunteer Profile</a>
							</div>
						</div>
					</div>
				</div>
			{{else}}
				<div class="row mb-4">
					<div class="col-lg-6">
						<p class="mt-2"><a href="{{public_address}}/members/make-volunteer/{{member.member_id}}" class="btn btn-primary btn-block">Make {{member.first_name.text}} A Volunteer</a></p>
					</div>
				</div>
			{{/if}}
		{{/ifUserClass}}

		<!--
		{{#if member.isMember.text}}
		<div class="row">
			<a href="{{public_address}}/api/get/members/remove/{{member.member_id}}" onclick='return confirm("Are you sure you want to remove this member? This process can be reversed at a later date")'>Revoke membership</a>
		</div>
		{{else}}
		<div class="row">
			<a href="{{public_address}}/api/get/members/restore/{{member.member_id}}" onclick='return confirm("Are you sure you want to restore this member? This process can be reversed at a later date")'>Restore membership</a>
		</div>
		{{/if}}


		{{#if user.admin}}
		<div class="row">
			<small>
				<a href="{{public_address}}/api/get/members/destroy/{{member.member_id}}" onclick='return confirm("Are you sure you want to *permanently* delete this member? All information held on this member will be destroyed or anonymised. This process is IRREVERSIBLE!")'>Delete member</a>
			</small>
		</div>
		{{/if}}
		-->

		<div class="row">
			<div class="col-lg-12">

						<h3 class="mb-3 mt-3">Transaction History</h3>

						<table id="transaction_history" class="fadeIn table-light" data-pagination="true" data-toggle="table" data-striped="true" data-url="/api/get/members/transactions/{{member.member_id}}">
						    <thead>
						        <tr>
						        	<th></th>
						        	<th></th>
						        	<th></th>
						        	<th colspan="2">Totals</th>
						        </tr>
						        <tr>
						        	<th data-field="date">Timestamp</th>
						        	<th data-field="till_name">Till</th>
						            <th data-field="bill">Summary</th>
						        	<th scope="col" data-field="totals.tokens">Tokens</th>
						        	<th scope="col" data-field="totals.money">Money</th>
						        </tr>
						    </thead>

							<tbody>
							</tbody>
						</table>

					</div>

		</div>
  </div>
</div>

<script>

function getSavedCarbon(){
	$.ajax({
	    type: "GET",
	    url: "/api/get/members/carbon-saved/" + "{{member.member_id}}",
	    success: function(response){
			$('#carbon').html(response.carbon);
	    }
	});
}

getSavedCarbon();

</script>
