<div class="row">
  <h1>{{member.first_name}} {{member.last_name}}</h1>
</div>
<div class="row">
    <div class="form-group col-md-3" style="padding: 0px;">
        <a class='btn btn-primary form-control' href="/members/view/{{member.member_id}}">← Back To Main Profile</a>
    </div>  
</div>
<div class="row">

  <a href="/api/get/members/id-remind/{{member.member_id}}">Send Volunteer Their Membership ID</a>
 
</div>

<br />

<div class="row">
  <h2>Volunteer Information</h2>
  {{#if volInfo}}
    <p>Last update: <b>{{volInfo.lastUpdated}}</b></p>
  {{/if}}
</div>

{{#if errors}}
  <div class="alert alert-danger">{{{errors.0.msg}}}</div>
{{/if}}

<form method="post" action="/members/volunteer-info/{{member.member_id}}" class="form-group">
  <div class="row">
    <div class="col-md-6">

      <div class="row">
        <h3>Roles <span class="fail">*</span></h3>
      </div>
      <div class="row">

        <div class="form-group form-inline">
          <div class="form-group">

            <select class="form-control" id="roleWGInput">
              <option disabled selected>Select a working group...</option>
              {{#each settings.definitions.working_groups}}
                <option value='{{id}}'>{{name}}
                  {{#if sub_groups}}
                    (General)
                  {{/if}}
                </option>
                {{#if sub_groups}}
                  {{#each sub_groups}}
                    <option value='{{../id}}-{{id}}'>{{../name}}: {{name}}</option>
                  {{/each}}
                {{/if}}
              {{/each}}
            </select>

          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="roleInput" placeholder="Role Name" />
          </div>
          <div class="form-group">
            <a class="btn btn-primary" id="addRole" onclick="addRole()">Add Role</a>
          </div>
        </div>
      </div>


      <div class="row">
        <div id="rolesInfo" class="hidden">
          <p>Selected roles:</p>
        </div>
        <ul id="roleSummary"></ul>
      </div>
      <input type="hidden" name="volInfo[roles]" id="roles" value="{{{json volInfo.roles}}}" />



      <div class="row">
        <div class="form-group form-inline">

          <p><input type="checkbox" name="rolesExplained" required /> The role(s) have been been explained <span class="fail">*</span></p>

        </div>
      </div>


      <div class="row">
        <h4>Emergency Contact <span class="fail">*</span></h4>
      </div>
      <div class="row">
        <div class="form-group col-sm-8" style="padding: 0;">
          <input type="text" class="form-control" placeholder="Relation" name="volInfo[emergencyContactRelation]"{{#if volInfo.emergencyContactRelation}} value="{{volInfo.emergencyContactRelation}}"{{/if}}>
        </div>      
      </div>
      <div class="row">
        <div class="form-group col-sm-8" style="padding: 0;">
          <input type="text" class="form-control" placeholder="Phone Number" name="volInfo[emergencyContactPhoneNo]"{{#if volInfo.emergencyContactPhoneNo}} value="{{volInfo.emergencyContactPhoneNo}}"{{/if}}>
        </div>      
      </div>

      <div class="row">
        <div class="form-group form-inline">

          <p><input type="checkbox" name="medicalDisclosed" required /> We aim to make SHRUB as inclusive as possible, do you have any disabilities, health needs or extra support needs that you would like us to be aware of? - if so please let your staff coordinator know, you can also get extra support from <a href="mailto:shrubwelfare@gmail.com">SHRUB Welfare</a> <span class="fail">*</span></p>

        </div>
      </div>

    </div>

    <div class="col-md-5 col-md-offset-1">

      <div class="row">
        <h3>Our Agreement</h3>
      </div>

      <div class="row">
        <p><b>Committed Hours Per Week</b> (must not exceed 15 hrs/week) <span class="fail">*</span></p>
        <div class="form-group col-sm-4" style="padding: 0;">
          <input type="number" min="1" max="15" step="1" class="form-control" placeholder="Hours Per Week" name="volInfo[hoursPerWeek]" id="hoursPerWeek" {{#if volInfo.hoursPerWeek}}value="{{volInfo.hoursPerWeek}}"{{/if}} required>
        </div>
      </div>

      <div class="row">
        <div class="form-group form-inline">
          <p><input type="checkbox" name="volunteerAgreement" required> Yes, I commit to the role(s), responsibilities and time commitment as detailed in each volunteer role description <span class="fail">*</span></p>
        </div>
      </div>

      <div class="row">
        <h3>Availability</h3>
      </div>

      <div class="row">

        <table id="availabilityTable" class="table">
          <tr>
            <td></td>
            <td>Morning (10-12)</td>
            <td>Early Afternoon (12-2)</td>
            <td>Afternoon (2-4)</td>
            <td>Late Afternoon (4-6)</td>
            <td>Evening (6-8)</td>
          </tr>
          <tr>
            <td>Monday</td>
            <td>
              <input type="checkbox" name="volInfo[availability][mon_m]" {{#if volInfo.availability.mon_m}}checked{{/if}} />
            </td>
            <td>
              <input type="checkbox" name="volInfo[availability][mon_ea]" {{#if volInfo.availability.mon_ea}}checked{{/if}} />
            </td>
            <td>
              <input type="checkbox" name="volInfo[availability][mon_a]" {{#if volInfo.availability.mon_a}}checked{{/if}} />
            </td>
            <td>
              <input type="checkbox" name="volInfo[availability][mon_la]" {{#if volInfo.availability.mon_la}}checked{{/if}} />
            </td>
            <td>
              <input type="checkbox" name="volInfo[availability][mon_e]" {{#if volInfo.availability.mon_e}}checked{{/if}} />
            </td>
          </tr>
          <tr>
            <td>Tuesday</td>
            <td>
              <input type="checkbox" name="volInfo[availability][tue_m]" {{#if volInfo.availability.tue_m}}checked{{/if}} />
            </td>
            <td>
              <input type="checkbox" name="volInfo[availability][tue_ea]" {{#if volInfo.availability.tue_ea}}checked{{/if}} />
            </td>
            <td>
              <input type="checkbox" name="volInfo[availability][tue_a]" {{#if volInfo.availability.tue_a}}checked{{/if}} />
            </td>
            <td>
              <input type="checkbox" name="volInfo[availability][tue_la]" {{#if volInfo.availability.tue_la}}checked{{/if}} />
            </td>
            <td>
              <input type="checkbox" name="volInfo[availability][tue_e]" {{#if volInfo.availability.tue_e}}checked{{/if}} />
            </td>
          </tr>
          <tr>
            <td>Wednesday</td>
            <td>
              <input type="checkbox" name="volInfo[availability][wed_m]" {{#if volInfo.availability.wed_m}}checked{{/if}} />
            </td>
            <td>
              <input type="checkbox" name="volInfo[availability][wed_ea]" {{#if volInfo.availability.wed_ea}}checked{{/if}} />
            </td>
            <td>
              <input type="checkbox" name="volInfo[availability][wed_a]" {{#if volInfo.availability.wed_a}}checked{{/if}} />
            </td>
            <td>
              <input type="checkbox" name="volInfo[availability][wed_la]" {{#if volInfo.availability.wed_la}}checked{{/if}} />
            </td>
            <td>
              <input type="checkbox" name="volInfo[availability][wed_e]" {{#if volInfo.availability.wed_e}}checked{{/if}} />
            </td>
          </tr>
          <tr>
            <td>Thursday</td>
            <td>
              <input type="checkbox" name="volInfo[availability][thu_m]" {{#if volInfo.availability.thu_m}}checked{{/if}} />
            </td>
            <td>
              <input type="checkbox" name="volInfo[availability][thu_ea]" {{#if volInfo.availability.thu_ea}}checked{{/if}} />
            </td>
            <td>
              <input type="checkbox" name="volInfo[availability][thu_a]" {{#if volInfo.availability.thu_a}}checked{{/if}} />
            </td>
            <td>
              <input type="checkbox" name="volInfo[availability][thu_la]" {{#if volInfo.availability.thu_la}}checked{{/if}} />
            </td>
            <td>
              <input type="checkbox" name="volInfo[availability][thu_e]" {{#if volInfo.availability.thu_e}}checked{{/if}} />
            </td>
          </tr>
          <tr>
            <td>Friday</td>
            <td>
              <input type="checkbox" name="volInfo[availability][fri_m]" {{#if volInfo.availability.fri_m}}checked{{/if}} />
            </td>
            <td>
              <input type="checkbox" name="volInfo[availability][fri_ea]" {{#if volInfo.availability.fri_ea}}checked{{/if}} />
            </td>
            <td>
              <input type="checkbox" name="volInfo[availability][fri_a]" {{#if volInfo.availability.fri_a}}checked{{/if}} />
            </td>
            <td>
              <input type="checkbox" name="volInfo[availability][fri_la]" {{#if volInfo.availability.fri_la}}checked{{/if}} />
            </td>
            <td>
              <input type="checkbox" name="volInfo[availability][fri_e]" {{#if volInfo.availability.fri_e}}checked{{/if}} />
            </td>
          </tr>
          <tr>
            <td>Saturday</td>
            <td>
              <input type="checkbox" name="volInfo[availability][sat_m]" {{#if volInfo.availability.sat_m}}checked{{/if}} />
            </td>
            <td>
              <input type="checkbox" name="volInfo[availability][sat_ea]" {{#if volInfo.availability.sat_ea}}checked{{/if}} />
            </td>
            <td>
              <input type="checkbox" name="volInfo[availability][sat_a]" {{#if volInfo.availability.sat_a}}checked{{/if}} />
            </td>
            <td>
              <input type="checkbox" name="volInfo[availability][sat_la]" {{#if volInfo.availability.sat_la}}checked{{/if}} />
            </td>
            <td>
              <input type="checkbox" name="volInfo[availability][sat_e]" {{#if volInfo.availability.sat_e}}checked{{/if}} />
            </td>
          </tr>
          <tr>
            <td>Sunday</td>
            <td>
              <input type="checkbox" name="volInfo[availability][sun_m]" {{#if volInfo.availability.sun_m}}checked{{/if}} />
            </td>
            <td>
              <input type="checkbox" name="volInfo[availability][sun_ea]" {{#if volInfo.availability.sun_ea}}checked{{/if}} />
            </td>
            <td>
              <input type="checkbox" name="volInfo[availability][sun_a]" {{#if volInfo.availability.sun_a}}checked{{/if}} />
            </td>
            <td>
              <input type="checkbox" name="volInfo[availability][sun_la]" {{#if volInfo.availability.sun_la}}checked{{/if}} />
            </td>
            <td>
              <input type="checkbox" name="volInfo[availability][sun_e]" {{#if volInfo.availability.sun_e}}checked{{/if}} />
            </td>
          </tr>
        </table>

      </div>
    </div>

    
  </div>

  <hr />

  <div class="row">
    <h2>Volunteer Survey</h2>
  </div>

  <br />

  <div class="row">
    <div class="col-md-5">
      <div class="row center-block">
        <ol>

          <li>

            <p>What would you like to achieve through your voluntary work at SHRUB? <span class="fail">*</span></p>
            <textarea class="form-control" name="volInfo[survey][goals]" required>{{#if volInfo.survey.goals}}{{volInfo.survey.goals}}{{/if}}</textarea>

          </li>

          <br />

          <li>

            <p>Tell us about any hobbies or interests you have that might be relevant to the role(s) you have applied for</p>
            <textarea class="form-control" name="volInfo[survey][interests]">{{#if volInfo.survey.interests}}{{volInfo.survey.interests}}{{/if}}</textarea>
            
          </li>

          <br />

          <li>

            <p>Tell us about paid/voluntary work experience you have that may be relevant to this role</p>
            <textarea class="form-control" name="volInfo[survey][experience]">{{#if volInfo.survey.experience}}{{volInfo.survey.experience}}{{/if}}</textarea>
            
          </li>

        </ol>

      </div>
    </div>

    <div class="col-md-5 col-md-offset-1">
      <ol start="4">
        <li>

          <p>Please tick any skills that apply to you from the list below, if any</p>

          <div class="row">
            <div class="col-md-6">
              <p><input type="checkbox" name="volInfo[survey][skills][social_media]" {{#if volInfo.survey.skills.social_media}}checked{{/if}}> Social Media</p>
              <p><input type="checkbox" name="volInfo[survey][skills][customer_service]" {{#if volInfo.survey.skills.customer_service}}checked{{/if}}> Customer Service</p>
              <p><input type="checkbox" name="volInfo[survey][skills][retail]" {{#if volInfo.survey.skills.retail}}checked{{/if}}> Retail</p>
              <p><input type="checkbox" name="volInfo[survey][skills][cooking]" {{#if volInfo.survey.skills.cooking}}checked{{/if}}> Cooking</p>
              <p><input type="checkbox" name="volInfo[survey][skills][research]" {{#if volInfo.survey.skills.research}}checked{{/if}}> Research</p>
              <p><input type="checkbox" name="volInfo[survey][skills][finance]" {{#if volInfo.survey.skills.finance}}checked{{/if}}> Finance</p>
            </div>
            <div class="col-md-6">
              <p><input type="checkbox" name="volInfo[survey][skills][events_planning]" {{#if volInfo.survey.skills.events_planning}}checked{{/if}}> Events Planning</p>
              <p><input type="checkbox" name="volInfo[survey][skills][human_resources]" {{#if volInfo.survey.skills.human_resources}}checked{{/if}}> Human Resources</p>
              <p><input type="checkbox" name="volInfo[survey][skills][bike_maintenance]" {{#if volInfo.survey.skills.bike_maintenance}}checked{{/if}}> Bike Maintenance</p>
              <p><input type="checkbox" name="volInfo[survey][skills][strategic_planning]" {{#if volInfo.survey.skills.strategic_planning}}checked{{/if}}> Strategic Planning</p>
              <p><input type="checkbox" name="volInfo[survey][skills][admin]" {{#if volInfo.survey.skills.social_media.admin}}checked{{/if}}> Admin</p>
              <p><input type="checkbox" name="" id="other" onclick="toggleOtherInput()" {{#if volInfo.survey.skills.other}}checked{{/if}}> Other</p>
              <textarea id="otherInput" class="form-control {{#unless volInfo.survey.skills.other}}hidden{{/unless}}" name="volInfo[survey][skills][other]">{{#if volInfo.survey.skills.other}}{{volInfo.survey.skills.other}}{{/if}}</textarea>
            </div>
          </div>
          
        </li>

        <br />

        <li>

          <p>Any training you’d like to share with us?</p>
          <textarea class="form-control" name="volInfo[survey][training]"></textarea>
          
        </li>

        <br />

        <li>

          <p>What is your preferred method of communication? <span class="fail">*</span></p>

          <div>
            <p><input type="radio" name="volInfo[survey][preferredCommMethod]" value="email" {{#ifCond volInfo.survey.preferredCommMethod '==' 'email'}}checked{{/ifCond}} required> Email</p>
            <p><input type="radio" name="volInfo[survey][preferredCommMethod]" value="sms" {{#ifCond volInfo.survey.preferredCommMethod '==' 'sms'}}checked{{/ifCond}}> Text</p>
            <p><input type="radio" name="volInfo[survey][preferredCommMethod]" value="whatsapp" {{#ifCond volInfo.survey.preferredCommMethod '==' 'whatsapp'}}checked{{/ifCond}}> WhatsApp</p>
            <p><input type="radio" name="volInfo[survey][preferredCommMethod]" value="fb_messenger" {{#ifCond volInfo.survey.preferredCommMethod '==' 'fb_messenger'}}checked{{/ifCond}}> Facebook Messenger</p>
            <p><input type="radio" name="volInfo[survey][preferredCommMethod]" value="phone_call" {{#ifCond volInfo.survey.preferredCommMethod '==' 'phone_call'}}checked{{/ifCond}}> Phone Call</p>
          </div>
          
        </li>

      </ol>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="form-group form-inline">
      <div class="form-group">
        <button type="submit" class="btn btn-primary form-control">
          {{#if volInfo}}
            Update Volunteer Info
          {{else}}
            Add Volunteer!
          {{/if}}
        </button>
      </div>
    </div>
  </div>

</form>

<script>

{{#if volInfo.roles}}
  var roles = {{{json volInfo.roles}}}
{{else}}
  var roles = []
{{/if}}

function addRole(){
  var role = {};
  role.wg_id = $("#roleWGInput").val().trim();
  role.wg_name = $("#roleWGInput").children("option:selected").text().trim()
  role.name = $("#roleInput").val().trim();
  roles.push(role);
  updateSummary();
}

function removeRole(index){
  roles.splice(index, 1);
  updateSummary();
}

function updateSummary(){

  $("#roleInput").val("");

  $("#roles").val(JSON.stringify(roles));

  if(roles.length === 0){
    $("#rolesInfo").addClass("hidden")
  } else {
    $("#rolesInfo").removeClass("hidden")
  }

  $("#roleSummary").html("");
  for(i=0;i<roles.length;i++) {
    $("#roleSummary").html($("#roleSummary").html() + 
      "<li>" + roles[i].name + " (with " + roles[i].wg_name + ") - <a onclick='removeRole(\"" + i + "\")' class='clickable'>remove</a></li>");
  }
  
}

function toggleOtherInput() {
  $("#otherInput").toggleClass("hidden");
}

updateSummary();
</script>
